<div class="row">
	<div class="col-xs-12 footer-image">
		<div class="row footer-content">
			<div class="col-xs-2">
			</div>
			<div class="col-xs-8">
				<div class="row">
					<div class="col-xs-4 select">
						<div>
							<select class="form-control drop-down dropdown-effect" value="Language" name="language" id="language"></select>
						</div>
                        <div>
							<select class="form-control drop-down dropdown-effect" value="Language" name="language" id="language"></select>
						</div>
					</div>
					<div class="col-xs-8">
						<div class="col-xs-4 footer-list">
							<div class="h4 list-heading">Company</div>
							<ul class="list-content">
								<li class="list-text">About</li>
								<li class="list-text">Careers</li>
								<li class="list-text">Press</li>
								<li class="list-text">Blog</li>
								<li class="list-text">Help</li>
								<li class="list-text">Policies</li>
								<li class="list-text">Disaster Response</li>
								<li class="list-text">Terms & Privacy</li>
							</ul>
						</div>
						<div class="col-xs-4 footer-list">
							<div class="h4 list-heading">Discover</div>
							<ul class="list-content">
								<li class="list-text">Trust & Safety</li>
								<li class="list-text">Travel Credit</li>
								<li class="list-text">Gift Cards</li>
								<li class="list-text">Airbnb Picks</li>
								<li class="list-text">Mobile</li>
								<li class="list-text">Airbnb Action</li>
								<li class="list-text">Business Travel</li>
								<li class="list-text">Site Map</li>
							</ul>
						</div>
						<div class="col-xs-4 footer-list">
							<div class="h4 list-heading">Hosting</div>
							<ul class="list-content">
								<li class="list-text">Why Host</li>
								<li class="list-text">Hospitality</li>
								<li class="list-text">Responsible Hosting</li>
								<li class="list-text">Home Safety</li>
								<li class="list-text">Instant Book</li>
							</ul>
						</div>
					</div>
				</div>
				<hr class="seperator"/>

				<div class="row">
					<div class="col-xs-12">
						<div class="row">
							<div class="col-xs-12 h4 footer-list center-text">Join Us On</div>
						</div>
						<div class="row">
							<div class="col-xs-12 center-text social-media-icons">
								<a href="https://www.facebook.com/airbnb" class="footer-icon-container" itemprop="sameAs" target="_blank">
								<i class="fa fa-facebook icons"></i>
								</a>
								<a href="https://plus.google.com/+airbnb" class="footer-icon-container" itemprop="sameAs" target="_blank">
      							<i class="fa fa-google-plus icons"></i>
								</a>
								<a href="https://twitter.com/airbnb" class="footer-icon-container" itemprop="sameAs" target="_blank">
      							<i class="fa fa-twitter icons"></i>
								</a>
								<a href="https://www.linkedin.com/company/airbnb" class="footer-icon-container" itemprop="sameAs" target="_blank">
      							<i class="fa fa-linkedin icons"></i>
								</a>
								<a href="https://www.pinterest.com/airbnb/" class="footer-icon-container" itemprop="sameAs" target="_blank">
      							<i class="fa fa-pinterest icons"></i>
								</a>
								<a href="https://www.youtube.com/user/Airbnb" class="footer-icon-container" itemprop="sameAs" target="_blank">
      							<i class="fa fa-youtube icons"></i>
								</a>
								<a href="https://www.instagram.com/airbnb/" class="footer-icon-container" itemprop="sameAs" target="_blank">
      							<i class="fa fa-instagram icons"></i>
								</a>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 center-text copyright-text">&copy; Airbnb, Inc.</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-2">
			</div>
		</div>
	</div>
</div>