<!DOCTYPE html>
<html lang="en">
<body>
	<div class="full-body">
		<div class="row">
			<div class="col-xs-12 footer-image">
				<div class="row footer-content">
					<div class="col-xs-2">
					</div>
					<div class="col-xs-8">
						<div class="row">
							<div class="col-xs-4 select">
								<div>
									<select class="form-control drop-down" style="background-color: #484848!important;color: #fff!important;border: 0!important;width: 240px!important;height: 40px!important;margin-top: 12px;" value="Language" name="language" id="language">
										<option>English</option>
									</select>
								</div>
	                            <div>
									<select class="form-control drop-down" style="background-color: #484848!important;color: #fff!important;border: 0!important;width: 240px!important;height: 40px!important;margin-top: 12px;" value="Language" name="language" id="language">
										<option>USD</option>
									</select>
								</div>
							</div>
							<div class="col-xs-8">
								<div class="col-xs-4 footer-list">
									<div class="h4 footer-list-heading">Company</div>
									<ul class="footer-list-content">
										<li class="footer-footer-list-text">About</li>
										<li class="footer-footer-list-text">Careers</li>
										<li class="footer-footer-list-text">Press</li>
										<li class="footer-footer-list-text">Blog</li>
										<li class="footer-footer-list-text">Help</li>
										<li class="footer-footer-list-text">Policies</li>
										<li class="footer-footer-list-text">Disaster Response</li>
										<li class="footer-footer-list-text">Terms & Privacy</li>
									</ul>
								</div>
								<div class="col-xs-4 footer-list">
									<div class="h4 footer-list-heading">Discover</div>
									<ul class="footer-list-content">
										<li class="footer-list-text">Trust & Safety</li>
										<li class="footer-list-text">Travel Credit</li>
										<li class="footer-list-text">Gift Cards</li>
										<li class="footer-list-text">Airbnb Picks</li>
										<li class="footer-list-text">Mobile</li>
										<li class="footer-list-text">Airbnb Action</li>
										<li class="footer-list-text">Business Travel</li>
										<li class="footer-list-text">Site Map</li>
									</ul>
								</div>
								<div class="col-xs-4 footer-list">
									<div class="h4 footer-list-heading">Hosting</div>
									<ul class="footer-list-content">
										<li class="footer-list-text">Why Host</li>
										<li class="footer-list-text">Hospitality</li>
										<li class="footer-list-text">Responsible Hosting</li>
										<li class="footer-list-text">Home Safety</li>
										<li class="footer-list-text">Instant Book</li>
									</ul>
								</div>
							</div>
						</div>
						<hr class="footer-seperator"/>

						<div class="row">
							<div class="col-xs-12">
								<div class="row">
									<div class="col-xs-12 h4 footer-list center-text">Join Us On</div>
								</div>
								<div class="row">
									<div class="col-xs-12 center-text social-media-icons">
										<a href="https://www.facebook.com/airbnb" class="footer-icon-container" itemprop="sameAs" target="_blank">
   										<i class="fa fa-facebook footer-icons"></i>
										</a>
										<a href="https://plus.google.com/+airbnb" class="footer-icon-container" itemprop="sameAs" target="_blank">
              							<i class="fa fa-google-plus footer-icons"></i>
										</a>
										<a href="https://twitter.com/airbnb" class="footer-icon-container" itemprop="sameAs" target="_blank">
              							<i class="fa fa-twitter footer-icons"></i>
										</a>
										<a href="https://www.linkedin.com/company/airbnb" class="footer-icon-container" itemprop="sameAs" target="_blank">
              							<i class="fa fa-linkedin footer-icons"></i>
										</a>
										<a href="https://www.pinterest.com/airbnb/" class="footer-icon-container" itemprop="sameAs" target="_blank">
              							<i class="fa fa-pinterest footer-icons"></i>
										</a>
										<a href="https://www.youtube.com/user/Airbnb" class="footer-icon-container" itemprop="sameAs" target="_blank">
              							<i class="fa fa-youtube footer-icons"></i>
										</a>
										<a href="https://www.instagram.com/airbnb/" class="footer-icon-container" itemprop="sameAs" target="_blank">
              							<i class="fa fa-instagram footer-icons"></i>
										</a>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 center-text copyright-text">&copy; Airbnb, Inc.</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-2">
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>