<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Welcome to the World of Trips!</title>

<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
<link rel='stylesheet' href='css/jquery-ui.min.css'/>
<link rel="stylesheet" href="modules/bootstrap/dist/css/bootstrap.min.css"/>
<!-- <link rel="stylesheet" href="modules/bootstrap/dist/css/bootstrap-theme.min.css"/>
<link rel="stylesheet" href="modules/bootstrap-material-design/dist/css/bootstrap-material-design.min.css"/> -->
<link rel="stylesheet" href="modules/bootstrap-material-design/dist/css/ripples.min.css"/>
<link rel="stylesheet" href="modules/bootstrap-daterangepicker/daterangepicker.css"/>
<link rel="stylesheet" href="modules/bootstrap-select/dist/css/bootstrap-select.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="modules/angular-carousel/dist/angular-carousel.css"/>
<link rel='stylesheet' href='css/Default.css'/>
<link href='css/custom-marker.css' rel='stylesheet' type='text/css'/>
<link rel='stylesheet' href='css/style.css'/>
<link rel='stylesheet' href='css/error.css'/>
<link rel='stylesheet' href='css/homepage.css'/>
<link rel='stylesheet' href='css/listing.css'/>
<link rel='stylesheet' href='css/footer.css'/>


<!--[if lt IE 9]>
	<script src="modules/html5shiv/dist/html5shiv.min.js"></script>
	<script src="modules/respond.js/dest/respond.min.js"></script>
<![endif]-->

<script src="modules/jquery/dist/jquery.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="modules/sjcl/sjcl.js"></script>
<script src="modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="modules/angular/angular.min.js"></script>
<script src="modules/angular-animate/angular-animate.js"></script>
<script src="modules/ng-focus-if/focusIf.min.js"></script>
<script src="modules/moment/moment.js"></script>
<script src="modules/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="modules/ngmap/spec/lib/markerclusterer.js"></script>
<script src="modules/angular-daterangepicker/js/angular-daterangepicker.js"></script>
<script src="modules/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="modules/angular-base64-upload/dist/angular-base64-upload.js"></script>
<script type="text/javascript" src="modules/ng-device-detector/ng-device-detector.min.js"></script>
<script type="text/javascript" src="modules/re-tree/re-tree.min.js"></script>
<script type="text/javascript" src="modules/angular-input-masks/releases/angular-input-masks-standalone.min.js"></script>
<script src="modules/angular-google-maps-native/dist/angular-google-maps-native.min.js"></script>

<script src="ngjs/anguApp.js"></script>
<script src="ngjs/ngAutoComplete.js"></script>
<script src="modules/angular-messages/angular-messages.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA67uROXPqm2Nnfg5HOTHttn2C7QRn1zIo&libraries=places&sensor=false"></script>
<script src="modules/ngmap/build/scripts/ng-map.js"></script>

<script src="modules/underscore/underscore.js"> </script>

<script src="modules/ng-range-slider/dist/ng-range-slider.js"></script>
<script>document.write('<base href="' + document.location + '" />');</script>
<link rel="stylesheet" href="modules/nvd3/build/nv.d3.min.css"/>
<script src="js/d3.min.js"></script>
<script src="modules/nvd3/build/nv.d3.min.js"></script>

<!-- HEY KEYUR COULD NOT FIND THE FOLLOWING FILE FROM NPM SO DOWNLOADED IT-->
<script src="js/angular-nvd3.min.js"></script>

<script src="modules/angular-touch/angular-touch.js"></script>
<script src="modules/angular-carousel/dist/angular-carousel.js"></script>