<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Sign in or Register | eBay</title>

<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
<link rel='stylesheet' href='css/jquery-ui.min.css'/>
<link rel="stylesheet" href="modules/bootstrap/dist/css/bootstrap.min.css"/>
<!-- <link rel="stylesheet" href="modules/bootstrap/dist/css/bootstrap-theme.min.css"/>
<link rel="stylesheet" href="modules/bootstrap-material-design/dist/css/bootstrap-material-design.min.css"/> -->
<link rel="stylesheet" href="modules/bootstrap-material-design/dist/css/ripples.min.css"/>
<link rel="stylesheet" href="modules/bootstrap-daterangepicker/daterangepicker.css"/>
<link rel="stylesheet" href="modules/bootstrap-select/dist/css/bootstrap-select.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel='stylesheet' href='css/style.css'/>
<link rel='stylesheet' href='css/error.css'/>
<link rel='stylesheet' href='css/homepage.css'/>

<!--[if lt IE 9]>
	<script src="modules/html5shiv/dist/html5shiv.min.js"></script>
	<script src="modules/respond.js/dest/respond.min.js"></script>
<![endif]-->

<script src="modules/jquery/dist/jquery.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="modules/sjcl/sjcl.js"></script>
<script src="modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="modules/angular/angular.min.js"></script>
<script src="modules/angular-animate/angular-animate.js"></script>
<script src="modules/ng-focus-if/focusIf.min.js"></script>
<script src="modules/bootstrap-daterangepicker/moment.js"></script>
<script src="modules/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="modules/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

<script>
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: -34.397, lng: 150.644},
      zoom: 8
    });
  }
</script>

<script src="ngjs/anguApp.js"></script>
<script src="ngjs/ngAutoComplete.js"></script>
<script src="js/angular-messages.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA67uROXPqm2Nnfg5HOTHttn2C7QRn1zIo&libraries=places&sensor=false"></script>