<div class="row">
	<div class="col-md-12 full-body">
		<div class="row airbnb-header">
			<div class="col-md-1 header-leftmost">
				<div>
					<img src='/Users/kalgi/Desktop/homepage/airbnb.png' class="airbnb-icon">
				</div>
			</div>
			<div class="col-md-7 header-search">
				<input type="text" class="form-control search-bar" autocomplete="off" placeholder="Where to ?">
				<span class="glyphicon glyphicon-search search-icon"></span>
			</div>
			<div class="col-md-1 header-button">
				<span class="button-become-a-host">Become a Host</span>
			</div>
			<div class="col-md-1 header-rightmost">
				<span>Help</span>
			</div>
			<div class="col-md-1 header-rightmost">
				<span>Sign Up</span>
			</div>
			<div class="col-md-1 header-rightmost">
				<span>Log In</span>
			</div>
		</div>
	</div>
</div>