<div>
	<div>
		<nav class="navbar navbar-fixed-top" style="border-radius:0px; box-shadow: 1px 3px 1px 0 rgba(0, 0, 0, 0.05);">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar" style="border: 1px solid #AAAAAA;"></span>
						<span class="icon-bar" style="border: 1px solid #AAAAAA;"></span>
						<span class="icon-bar" style="border: 1px solid #AAAAAA;"></span>
					</button>
					<a class="navbar-brand" href="#" id="header_logo" >
						<img src="images/airbnb_horizontal_lockup_web.png" height="58" width="127" alt="">
					</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav" id="main-navbar">
						<li id="li_One">
							<div class="form-group">
								<!-- <div id="inLine" class="col-lg-1 well" style="padding:15px 10px 0px 0px; margin: 0px 0px 0px 0px; color:#dce0e0;">
									<span class="glyphicon glyphicon-search" style="color:#AAAAAA; font-size: 24px; margin: 4px 0px 0px 0px;"></span>
								</div> -->
								<div id="inLine" class="col-lg-12 li_One_div_One">
									<span class="glyphicon glyphicon-search"></span>
								</div>
							</div>
						</li>
						<li class="ul_One">
							<div id="inLine" class="col-lg-12 ul_Two" ng-controller="searchBarController">
								<input type="text" class="form-control ul_Three header" placeholder="Where to?" ng-enter="selectCity" ng-click="selectCity" ng-autocomplete="city" details="details" options="options">
							</div>
						</li>

		 			</ul>
					<ul class="nav navbar-nav navbar-right">

		 				<li class="ul_Four">
		 					<div class="col-lg-12 ul_Five" >
		 						<div class="btn btn-default btn-style" >
		 							Become a Host
		 						</div>
		 					</div>
		 				</li>
		 				<li class="ul_Six" >
		 					<div class="row">
		 						<div class="col-lg-8" style="display:inline-block;">
		 							Help
		 						</div>
		 					</div>
		 				</li>
		 				<li class="ul_Seven" >
		 					<div class="row ul_eight" >
		 						<div  class="col-lg-12 ul_Nine" data-toggle="modal" data-target=".signup-modal-md">
		 							<a style="text-decoration:none;" href="#">Sign Up</a>
		 						</div>
		 					</div>
		 				</li>
		 				<li  class="ul_Ten">
		 					<div  class="ul_Eleven">
		 						Log In
		 					</div>
		 				</li>
		 			</ul>
		 		</div>
		 	</div>
		 </nav>
	</div>
</div>

<!-- SIGNUP SIGNUP SIGNUP SIGNUP SIGNUP SIGNUP SIGNUP SIGNUP SIGNUP SIGNUP SIGNUP SIGNUP SIGNUP SIGNUP SIGNUP SIGNUP SIGNUP  -->
	<!--<div ng-controller="signInController">-->

		<div class="modal container fade signup-modal-md" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		  
		  <div class="modal-dialog container modal-md" role="document" style="border-radius:0px;">
		  	<div class="row" style="margin-top:40px;">
		    	<div class="col-lg-1">
		    		
		    	</div>
		    	<div class="col-lg-10" style="border-radius: 0px; background-color:white; padding: 30px 30px 30px 30px;">
		    		
		    		<div>

						<div class="facebookSignUpButton">
							<i class="fa fa-facebook" style="color:white; font-size:18px;"></i>
							<span class="text-center" style="color:white; font-size:16px; margin-left:90px;">Sign up with facebook</span>
						</div>
		    		</div>

		    	</div>
		    	<div class="col-lg-1">
		    		
		    	</div>
		   	</div>
		  </div>

		</div>

	<!--</div>-->

<!-- /SIGNUP /SIGNUP /SIGNUP /SIGNUP /SIGNUP /SIGNUP /SIGNUP /SIGNUP /SIGNUP /SIGNUP /SIGNUP /SIGNUP /SIGNUP /SIGNUP /SIGNUP /SIGNUP /SIGNUP  -->

