<div>
	<nav class="navbar" style="border-radius:0px;">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar" style="border: 1px solid #AAAAAA;"></span>
					<span class="icon-bar" style="border: 1px solid #AAAAAA;"></span>
					<span class="icon-bar" style="border: 1px solid #AAAAAA;"></span>
				</button>
				<a class="navbar-brand" href="#" id="header_logo" >
					<img src="images/airbnb_horizontal_lockup_web.png" height="58" width="127" alt="">
				</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav" id="main-navbar">
					<li id="li_One">
						<div class="form-group">
							<!-- <div id="inLine" class="col-lg-1 well" style="padding:15px 10px 0px 0px; margin: 0px 0px 0px 0px; color:#dce0e0;">
								<span class="glyphicon glyphicon-search" style="color:#AAAAAA; font-size: 24px; margin: 4px 0px 0px 0px;"></span>
							</div> -->
							<div id="inLine" class="col-lg-12 li_One_div_One">
								<span class="glyphicon glyphicon-search"></span>
							</div>
						</div>
					</li>
					<li class="ul_One">
						<div id="inLine" class="col-lg-12 ul_Two" ng-controller="searchBarController">
							<input type="text" class="form-control ul_Three header" placeholder="Where to?" ng-enter="selectCity" ng-click="selectCity" ng-autocomplete="city" details="details" options="options">
						</div>
					</li>

	 			</ul>
				<ul class="nav navbar-nav navbar-right">

	 				<li class="ul_Four">
	 					<div class="col-lg-12 ul_Five" >
	 						<div class="btn btn-default btn-style" >
	 							Become a Host
	 						</div>
	 					</div>
	 				</li>
	 				<li class="ul_Six" >
	 					<div class="row">
	 						<div style="" class="col-lg-8">
	 							Help
	 						</div>
	 						<div class="header-icon icon-lifesaver-alt-gray" >
	 							
	 						</div>
	 					</div>
	 				</li>
	 				<li class="ul_Seven" >
	 					<div class="row ul_eight" >
	 						<div  class="col-lg-12 ul_Nine">
	 							Sign Up
	 						</div>
	 					</div>
	 				</li>
	 				<li  class="ul_Ten">
	 					<div  class="ul_Eleven">
	 						Log In
	 					</div>
	 				</li>
	 			</ul>
	 		</div>
	 	</div>
	 </nav>
</div>