<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ./head %>
	</head>

	<body class="body full-body" ng-app="airBnB" ng-cloak>
	<!-- Header -->
	<header><% include ./header %></header>
	<!-- Main -->
	<main ng-controller="homepage">
		<div class="container-fluid">
			<div class="row main-body">
				<div class="col-lg-1 col-md-1 hidden-sm hidden-xs">
				</div>
				<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-md-4"></div>
						<div class="col-md-4">
							<div style="width: 350px;height: 60px;border:2px solid red;text-align:center; border-radius: 5px; opacity: 1.0; font-size: 18px; color: red;" class="alert alert-warning alert-dismissable close" data-dismiss="alert" ng-show="not_signed_in" ng-click="not_signed_in = false">
								Please login first !!
							</div>
							<div style="width: 370px;height: 60px;border:2px solid red;text-align:center; border-radius: 5px; opacity: 1.0; font-size: 18px; color: red;" class="alert alert-warning alert-dismissable close" data-dismiss="alert" ng-show="not_yet_host" ng-click="not_yet_host = false">
								You are not yet approved as host !!
							</div>
							<div style="width: 370px;height: 60px;border:2px solid green;text-align:center; border-radius: 5px; opacity: 1.0; font-size: 18px; color: green;" class="alert alert-warning alert-dismissable close" data-dismiss="alert">
								You have successfully logged out !!
							</div>
						</div>
						<div class="col-md-4"></div>
					</div>
					<div class="row header-space">
						<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 header-text">
							<span class="header-livethere-text">Live there. </span>
							<span>Book unique homes and experience a city like a local.</span>
						</div>
						<div class="col-lg-4 col-md-4 hidden-sm hidden-xs">
						</div>
					</div>
					<div class="row header-space">
					<form action="/searchListing" method="GET">
						<div class="col-md-4 search-box left-search-box">
							<span class="search-box-text">Where</span>
							<input type="text" name = "where" class="form-control ul_Three search-bar-placeholder" placeholder="Destination, City, Address" ng-enter="selectCity" ng-click="selectCity" ng-autocomplete="city" details="details" options="options" style="color:black;" required>
						</div>
						<div class="col-md-4 search-box">
							<span class="search-box-text">When</span>
							<input type="text" min="today" date-range-picker class="form-control date-picker search-bar-placeholder" placeholder="Check In		→ Check Out" name="daterange" ng-model="daterange">
						</div>
						<div class="col-md-4 search-box right-search-box">
							<div class="col-md-7">
								<span class="search-box-text pull-left">Guests</span>
								<div class="btn-group homepage-guest">
								  <input type="text" class="btn btn-default homepage-guest" placeholder="Guests" ng-click="show_guests = !show_guests" readonly="readonly" ng-model="item.item_count">
								  </input>
								  <span class="pull-right guest-downarrow" ng-click="show_guests = !show_guests">⌄</span>
								  <div ng-show="show_guests" style="border-radius: 4px;">
								    <div class="homepage-box">
							    		<div class="homepage-text"><input type="text" class="form-control homepage-text" placeholder="Guests" ng-model="item.item_count"/></div>
										<span ng-click="item.item_count = item.item_count - 1" class="homepage-guest-button btn button-radius">-</span>
										<span ng-click="item.item_count = item.item_count + 1" class="homepage-guest-button btn button-radius" style="border-right:none;">+</span>
									</div>
								  </div>
								</div>
							</div>
							<div class="col-md-5" style="height:56px; padding:5px;">
								<input type="submit" class="form-control btn btn-primary search-button" value="Search" focus-if="!show_guests">
							</div>
						</div>
					</form>
					</div>
					<div class="row explore-text">
						<div class="col-md-12">
							<span>Recommended listings</span>
						</div>
					</div>
					<div class="row explore-the-world">
						<div class="col-md-4">
							<img class="images" src="images/city/paris.jpg" alt="Paris">
							<span class="suggestion-text"><strong>$88</strong> Entire home/apt in 101 San Fernando</span>
						</div>
						<div class="col-md-4">
							<img class="images" src="images/city/rome.jpg" alt="Paris">
							<span class="suggestion-text"><strong>$90</strong> Entire home/apt in 33rd South</span>
						</div>
						<div class="col-md-4">
							<img class="images" src="images/city/tokyo.jpg" alt="Paris">
							<span class="suggestion-text"><strong>$58</strong> Entire home/apt in Colonnade</span>
						</div>
					</div>
					<div class="seperator"></div>
					<div class="row explore-text">
						<div class="col-md-12">
							<span>Explore the world</span>
						</div>
					</div>
					<div class="row explore-the-world">
						<div class="row">
							<div class="col-md-6 col-lg-6">
								<div class="row">
									<div class="col-md-12">
										<img class="images" src="images/city/paris.jpg" alt="Paris">
										<span class="image-text">Paris</span>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-lg-6">
								<div class="row">
									<div class="row">
										<div class="col-md-6">
											<img class="images" src="images/city/rome.jpg" alt="Rome">
											<span class="image-text">Rome</span>
										</div>
										<div class="col-md-6">
											<img class="images" src="images/city/LA.jpg" alt="Los Angeles">
											<span class="image-text">Los Angeles</span>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<img class="images" src="images/city/lisbon.jpg" alt="Lisbon" style="padding-top: 2px;">
											<span class="image-text">Lisbon</span>
										</div>
										<div class="col-md-6">
											<img class="images" src="images/city/tokyo.jpg" alt="Tokyo" style="padding-top: 2px;">
											<span class="image-text">Tokyo</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3 col-lg-3">
								<div class="row">
									<div class="col-md-12">
										<img class="images" src="images/city/london.jpg" alt="London">
										<span class="image-text">London</span>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<img class="images" src="images/city/barcelona.jpg" alt="Barcelona" style="padding-top: 2px;">
										<span class="image-text">Barcelona</span>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-lg-6">
								<div class="row">
									<div class="col-md-12">
										<img class="images" src="images/city/NY.jpg" alt="New York" >
										<span class="image-text">New York</span>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-lg-3">
								<div class="row">
									<div class="col-md-12">
										<img class="images" src="images/city/amsterdam.jpg" alt="Amsterdam">
										<span class="image-text">Amsterdam</span>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<img class="images" src="images/city/berlin.jpg" alt="Berlin" style="padding-top: 2px;">
										<span class="image-text">Berlin</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="seperator"></div>
					<div class="row explore-text">
						<div class="col-md-12">
							<span>Homes in San Fransisco</span>
						</div>
					</div>
					<div class="row explore-the-world">
						<div class="col-md-12">
			                <div id="SFO" class="carousel slide">
			                 
			                <ol class="carousel-indicators">
			                    <li data-target="#SFO" data-slide-to="0" class="active"></li>
			                    <li data-target="#SFO" data-slide-to="1"></li>
			                </ol>
			                 
			                <!-- Carousel items -->
			                <div class="carousel-inner">
			                    
			                <div class="item active">
			                	<div class="row">
			                	  <div class="col-md-4 col-sm-4"><a href="/searchListing?where=San Fransisco, CA, USA#" class="thumbnail"><img src="images/SFO/1.jpg" alt="Image" ></a></div>
			                	  <div class="col-md-4 col-sm-4"><a href="/searchListing?where=San Fransisco, CA, USA#" class="thumbnail"><img src="images/SFO/3.jpg" alt="Image" ></a></div>
			                	  <div class="col-md-4 col-sm-4"><a href="/searchListing?where=San Fransisco, CA, USA#" class="thumbnail"><img src="images/SFO/4.jpg" alt="Image" ></a></div>
			                	</div><!--.row-->
			                </div><!--.item-->
			                 
			                <div class="item">
			                	<div class="row">
			                		<div class="col-md-4 col-sm-4"><a href="/searchListing?where=San Fransisco, CA, USA#" class="thumbnail"><img src="images/SFO/6.jpg" alt="Image" ></a></div>
			                		<div class="col-md-4 col-sm-4"><a href="/searchListing?where=San Fransisco, CA, USA#" class="thumbnail"><img src="images/SFO/a.jpg" alt="Image" ></a></div>
			                		<div class="col-md-4 col-sm-4"><a href="/searchListing?where=San Fransisco, CA, USA#" class="thumbnail"><img src="images/SFO/b.jpg" alt="Image" ></a></div>
			                	</div><!--.row-->
			                </div><!--.item-->
			                 
			                </div><!--.carousel-inner-->
			                  <a data-slide="prev" href="#SFO" class="left carousel-control carousel-size">&lt</a>
			                  <a data-slide="next" href="#SFO" class="right carousel-control carousel-size">&gt</a>
			                </div><!--.Carousel-->
			            </div>
					</div>
					<div class="row explore-text">
						<div class="col-md-12">
							<span>Homes in New York</span>
						</div>
					</div>
					<div class="row explore-the-world">
						<div class="col-md-12">
			                <div id="NY" class="carousel slide">
			                 
			                <ol class="carousel-indicators">
			                    <li data-target="#NY" data-slide-to="0" class="active"></li>
			                    <li data-target="#NY" data-slide-to="1"></li>
			                </ol>
			                 
			                <!-- Carousel items -->
			                <div class="carousel-inner">
			                    
			                <div class="item active">
			                	<div class="row">
			                		<div class="col-md-4 col-sm-4"><a href="/searchListing?where=New York, NY, USA#" class="thumbnail"><img src="images/NY/6.jpg" alt="Image" ></a></div>
			                		<div class="col-md-4 col-sm-4"><a href="/searchListing?where=New York, NY, USA#" class="thumbnail"><img src="images/NY/2.jpg" alt="Image" ></a></div>
			                		<div class="col-md-4 col-sm-4"><a href="/searchListing?where=New York, NY, USA#" class="thumbnail"><img src="images/NY/4.jpg" alt="Image" ></a></div>
			                	</div><!--.row-->
			                </div><!--.item-->
			                 
			                <div class="item">
			                	<div class="row">
			                		<div class="col-md-4 col-sm-4"><a href="/searchListing?where=New York, NY, USA#" class="thumbnail"><img src="images/NY/3.jpg" alt="Image" ></a></div>
			                		<div class="col-md-4 col-sm-4"><a href="/searchListing?where=New York, NY, USA#" class="thumbnail"><img src="images/NY/5.jpg" alt="Image" ></a></div>
			                		<div class="col-md-4 col-sm-4"><a href="/searchListing?where=New York, NY, USA#" class="thumbnail"><img src="images/NY/1.jpg" alt="Image" ></a></div>
			                	</div><!--.row-->
			                </div><!--.item-->
			                 
			                </div><!--.carousel-inner-->
			                  <a data-slide="prev" href="#NY" class="left carousel-control carousel-size">&lt</a>
			                  <a data-slide="next" href="#NY" class="right carousel-control carousel-size">&gt</a>
			                </div><!--.Carousel-->
			            </div>
					</div>
					<div class="row explore-text">
						<div class="col-md-12">
							<span>Homes in Los Angeles</span>
						</div>
					</div>
					<div class="row explore-the-world">
						<div class="col-md-12">
			                <div id="LA" class="carousel slide">
			                 
			                <ol class="carousel-indicators">
			                    <li data-target="#LA" data-slide-to="0" class="active"></li>
			                    <li data-target="#LA" data-slide-to="1"></li>
			                </ol>
			                 
			                <!-- Carousel items -->
			                <div class="carousel-inner">
			                    
			                <div class="item active">
			                	<div class="row">
			                	  <div class="col-md-4 col-sm-4"><a href="/searchListing?where=Los Angeles, CA, USA#" class="thumbnail"><img src="images/LA/1.jpg" alt="Image" ></a></div>
			                	  <div class="col-md-4 col-sm-4"><a href="/searchListing?where=Los Angeles, CA, USA#" class="thumbnail"><img src="images/LA/2.jpg" alt="Image" ></a></div>
			                	  <div class="col-md-4 col-sm-4"><a href="/searchListing?where=Los Angeles, CA, USA#" class="thumbnail"><img src="images/LA/3.jpg" alt="Image" ></a></div>
			                	</div><!--.row-->
			                </div><!--.item-->
			                 
			                <div class="item">
			                	<div class="row">
			                		<div class="col-md-4 col-sm-4"><a href="/searchListing?where=Los Angeles, CA, USA#" class="thumbnail"><img src="images/LA/4.jpg" alt="Image" ></a></div>
			                		<div class="col-md-4 col-sm-4"><a href="/searchListing?where=Los Angeles, CA, USA#" class="thumbnail"><img src="images/LA/5.jpg" alt="Image" ></a></div>
			                		<div class="col-md-4 col-sm-4"><a href="/searchListing?where=Los Angeles, CA, USA#" class="thumbnail"><img src="images/LA/6.jpg" alt="Image" ></a></div>
			                	</div><!--.row-->
			                </div><!--.item-->
			                 
			                </div><!--.carousel-inner-->
			                  <a data-slide="prev" href="#LA" class="left carousel-control carousel-size">&lt</a>
			                  <a data-slide="next" href="#LA" class="right carousel-control carousel-size">&gt</a>
			                </div><!--.Carousel-->
			            </div>
					</div>
					<div class="row explore-text">
						<div class="col-md-12">
							<span>Homes in Washington, D.C.</span>
						</div>
					</div>
					<div class="row explore-the-world">
						<div class="col-md-12">
			                <div id="Washington" class="carousel slide">
			                 
			                <ol class="carousel-indicators">
			                    <li data-target="#Washington" data-slide-to="0" class="active"></li>
			                    <li data-target="#Washington" data-slide-to="1"></li>
			                </ol>
			                 
			                <!-- Carousel items -->
			                <div class="carousel-inner">
			                    
			                <div class="item active">
			                	<div class="row">
			                	  <div class="col-md-4 col-sm-4"><a href="/searchListing?where=Washington, DC, USA#" class="thumbnail"><img src="images/Washington/1.jpg" alt="Image" ></a></div>
			                	  <div class="col-md-4 col-sm-4"><a href="/searchListing?where=Washington, DC, USA#" class="thumbnail"><img src="images/Washington/2.jpg" alt="Image" ></a></div>
			                	  <div class="col-md-4 col-sm-4"><a href="/searchListing?where=Washington, DC, USA#" class="thumbnail"><img src="images/Washington/3.jpg" alt="Image" ></a></div>
			                	</div><!--.row-->
			                </div><!--.item-->
			                 
			                <div class="item">
			                	<div class="row">
			                		<div class="col-md-4 col-sm-4"><a href="/searchListing?where=Washington, DC, USA#" class="thumbnail"><img src="images/Washington/4.jpg" alt="Image" ></a></div>
			                		<div class="col-md-4 col-sm-4"><a href="/searchListing?where=Washington, DC, USA#" class="thumbnail"><img src="images/Washington/5.jpg" alt="Image" ></a></div>
			                		<div class="col-md-4 col-sm-4"><a href="/searchListing?where=Washington, DC, USA#" class="thumbnail"><img src="images/Washington/6.jpg" alt="Image" ></a></div>
			                	</div><!--.row-->
			                </div><!--.item-->
			                 
			                </div><!--.carousel-inner-->
			                  <a data-slide="prev" href="#Washington" class="left carousel-control carousel-size">&lt</a>
			                  <a data-slide="next" href="#Washington" class="right carousel-control carousel-size">&gt</a>
			                </div><!--.Carousel-->
			            </div>
					</div>
					<div class="row explore-text">
						<div class="col-md-12">
							<span>Homes in Chicago</span>
						</div>
					</div>
					<div class="row explore-the-world">
						<div class="col-md-12">
			                <div id="Chicago" class="carousel slide">
			                 
			                <ol class="carousel-indicators">
			                    <li data-target="#Chicago" data-slide-to="0" class="active"></li>
			                    <li data-target="#Chicago" data-slide-to="1"></li>
			                </ol>
			                 
			                <!-- Carousel items -->
			                <div class="carousel-inner">
			                    
			                <div class="item active">
			                	<div class="row">
			                	  <div class="col-md-4 col-sm-4"><a href="/searchListing?where=Chicago, IL, USA#" class="thumbnail"><img src="images/Chicago/1.jpg" alt="Image" ></a></div>
			                	  <div class="col-md-4 col-sm-4"><a href="/searchListing?where=Chicago, IL, USA#" class="thumbnail"><img src="images/Chicago/6.jpg" alt="Image" ></a></div>
			                	  <div class="col-md-4 col-sm-4"><a href="/searchListing?where=Chicago, IL, USA#" class="thumbnail"><img src="images/Chicago/3.jpg" alt="Image" ></a></div>
			                	</div><!--.row-->
			                </div><!--.item-->
			                 
			                <div class="item">
			                	<div class="row">
			                		<div class="col-md-4 col-sm-4"><a href="/searchListing?where=Chicago, IL, USA#" class="thumbnail"><img src="images/Chicago/4.jpg" alt="Image" ></a></div>
			                		<div class="col-md-4 col-sm-4"><a href="/searchListing?where=Chicago, IL, USA#" class="thumbnail"><img src="images/Chicago/5.jpg" alt="Image" ></a></div>
			                		<div class="col-md-4 col-sm-4"><a href="/searchListing?where=Chicago, IL, USA#" class="thumbnail"><img src="images/Chicago/2.jpg" alt="Image" ></a></div>
			                	</div><!--.row-->
			                </div><!--.item-->
			                 
			                </div><!--.carousel-inner-->
			                  <a data-slide="prev" href="#Chicago" class="left carousel-control carousel-size">&lt</a>
			                  <a data-slide="next" href="#Chicago" class="right carousel-control carousel-size">&gt</a>
			                </div><!--.Carousel-->
			            </div>
					</div>
					<div class="row explore-text">
						<div class="col-md-12">
							<span>Homes in Austin</span>
						</div>
					</div>
					<div class="row explore-the-world">
						<div class="col-md-12">
			                <div id="Austin" class="carousel slide">
			                 
			                <ol class="carousel-indicators">
			                    <li data-target="#Austin" data-slide-to="0" class="active"></li>
			                    <li data-target="#Austin" data-slide-to="1"></li>
			                </ol>
			                 
			                <!-- Carousel items -->
			                <div class="carousel-inner">
			                    
			                <div class="item active">
			                	<div class="row">
			                	  <div class="col-md-4 col-sm-4"><a href="/searchListing?where=Austin, TX, USA#" class="thumbnail"><img src="images/Austin/1.jpg" alt="Image" ></a></div>
			                	  <div class="col-md-4 col-sm-4"><a href="/searchListing?where=Austin, TX, USA#" class="thumbnail"><img src="images/Austin/2.jpg" alt="Image" ></a></div>
			                	  <div class="col-md-4 col-sm-4"><a href="/searchListing?where=Austin, TX, USA#" class="thumbnail"><img src="images/Austin/3.jpg" alt="Image" ></a></div>
			                	</div><!--.row-->
			                </div><!--.item-->
			                 
			                <div class="item">
			                	<div class="row">
			                		<div class="col-md-4 col-sm-4"><a href="/searchListing?where=Austin, TX, USA#" class="thumbnail"><img src="images/Austin/4.jpg" alt="Image" ></a></div>
			                		<div class="col-md-4 col-sm-4"><a href="/searchListing?where=Austin, TX, USA#" class="thumbnail"><img src="images/Austin/5.jpg" alt="Image" ></a></div>
			                		<div class="col-md-4 col-sm-4"><a href="/searchListing?where=Austin, TX, USA#" class="thumbnail"><img src="images/Austin/6.jpg" alt="Image" ></a></div>
			                	</div><!--.row-->
			                </div><!--.item-->
			                 
			                </div><!--.carousel-inner-->
			                  <a data-slide="prev" href="#Austin" class="left carousel-control carousel-size">&lt</a>
			                  <a data-slide="next" href="#Austin" class="right carousel-control carousel-size">&gt</a>
			                </div><!--.Carousel-->
			            </div>
					</div>
					<div class="row explore-text">
						<div class="col-md-12">
							<span>Homes in Boston</span>
						</div>
					</div>
					<div class="row explore-the-world">
						<div class="col-md-12">
			                <div id="Boston" class="carousel slide">
			                 
			                <ol class="carousel-indicators">
			                    <li data-target="#Boston" data-slide-to="0" class="active"></li>
			                    <li data-target="#Boston" data-slide-to="1"></li>
			                </ol>
			                 
			                <!-- Carousel items -->
			                <div class="carousel-inner">
			                    
			                <div class="item active">
			                	<div class="row">
			                	  <div class="col-md-4 col-sm-4"><a href="/searchListing?where=Boston, MA, USA#" class="thumbnail"><img src="images/Boston/1.jpg" alt="Image" ></a></div>
			                	  <div class="col-md-4 col-sm-4"><a href="/searchListing?where=Boston, MA, USA#" class="thumbnail"><img src="images/Boston/2.jpg" alt="Image" ></a></div>
			                	  <div class="col-md-4 col-sm-4"><a href="/searchListing?where=Boston, MA, USA#" class="thumbnail"><img src="images/Boston/3.jpg" alt="Image" ></a></div>
			                	</div><!--.row-->
			                </div><!--.item-->
			                 
			                <div class="item">
			                	<div class="row">
			                		<div class="col-md-4 col-sm-4"><a href="/searchListing?where=Boston, MA, USA#" class="thumbnail"><img src="images/Boston/4.jpg" alt="Image" ></a></div>
			                		<div class="col-md-4 col-sm-4"><a href="/searchListing?where=Boston, MA, USA#" class="thumbnail"><img src="images/Boston/5.jpg" alt="Image" ></a></div>
			                		<div class="col-md-4 col-sm-4"><a href="/searchListing?where=Boston, MA, USA#" class="thumbnail"><img src="images/Boston/6.jpg" alt="Image" ></a></div>
			                	</div><!--.row-->
			                </div><!--.item-->
			                 
			                </div><!--.carousel-inner-->
			                  <a data-slide="prev" href="#Boston" class="left carousel-control carousel-size">&lt</a>
			                  <a data-slide="next" href="#Boston" class="right carousel-control carousel-size">&gt</a>
			                </div><!--.Carousel-->
			            </div>
					</div>
					<div class="row explore-text">
						<div class="col-md-12">
							<span>Homes in Seattle</span>
						</div>
					</div>
					<div class="row explore-the-world">
						<div class="col-md-12">
			                <div id="Seattle" class="carousel slide">
			                 
			                <ol class="carousel-indicators">
			                    <li data-target="#Seattle" data-slide-to="0" class="active"></li>
			                    <li data-target="#Seattle" data-slide-to="1"></li>
			                </ol>
			                 
			                <!-- Carousel items -->
			                <div class="carousel-inner">
			                    
			                <div class="item active">
			                	<div class="row">
			                	  <div class="col-md-4 col-sm-4"><a href="/searchListing?where=Seattle, WA, USA#" class="thumbnail"><img src="images/Seattle/1.jpg" alt="Image" ></a></div>
			                	  <div class="col-md-4 col-sm-4"><a href="/searchListing?where=Seattle, WA, USA#" class="thumbnail"><img src="images/Seattle/2.jpg" alt="Image" ></a></div>
			                	  <div class="col-md-4 col-sm-4"><a href="/searchListing?where=Seattle, WA, USA#" class="thumbnail"><img src="images/Seattle/3.jpg" alt="Image" ></a></div>
			                	</div><!--.row-->
			                </div><!--.item-->
			                 
			                <div class="item">
			                	<div class="row">
			                		<div class="col-md-4 col-sm-4"><a href="/searchListing?where=Seattle, WA, USA#" class="thumbnail"><img src="images/Seattle/4.jpg" alt="Image" ></a></div>
			                		<div class="col-md-4 col-sm-4"><a href="/searchListing?where=Seattle, WA, USA#" class="thumbnail"><img src="images/Seattle/5.jpg" alt="Image" ></a></div>
			                		<div class="col-md-4 col-sm-4"><a href="/searchListing?where=Seattle, WA, USA#" class="thumbnail"><img src="images/Seattle/6.jpg" alt="Image" ></a></div>
			                	</div><!--.row-->
			                </div><!--.item-->
			                 
			                </div><!--.carousel-inner-->
			                  <a data-slide="prev" href="#Seattle" class="left carousel-control carousel-size">&lt</a>
			                  <a data-slide="next" href="#Seattle" class="right carousel-control carousel-size">&gt</a>
			                </div><!--.Carousel-->
			            </div>
					</div>
					<div class="row explore-text">
						<div class="col-md-12">
							<span>Homes in Raleigh</span>
						</div>
					</div>
					<div class="row explore-the-world">
						<div class="col-md-12">
			                <div id="Raleigh" class="carousel slide">
			                 
			                <ol class="carousel-indicators">
			                    <li data-target="#Raleigh" data-slide-to="0" class="active"></li>
			                    <li data-target="#Raleigh" data-slide-to="1"></li>
			                </ol>
			                 
			                <!-- Carousel items -->
			                <div class="carousel-inner">
			                    
			                <div class="item active">
			                	<div class="row">
			                	  <div class="col-md-4 col-sm-4"><a href="/searchListing?where=Raleigh, NC, USA#" class="thumbnail"><img src="images/Raleigh/1.jpg" alt="Image" ></a></div>
			                	  <div class="col-md-4 col-sm-4"><a href="/searchListing?where=Raleigh, NC, USA#" class="thumbnail"><img src="images/Raleigh/2.jpg" alt="Image" ></a></div>
			                	  <div class="col-md-4 col-sm-4"><a href="/searchListing?where=Raleigh, NC, USA#" class="thumbnail"><img src="images/Raleigh/3.jpg" alt="Image" ></a></div>
			                	</div><!--.row-->
			                </div><!--.item-->
			                 
			                <div class="item">
			                	<div class="row">
			                		<div class="col-md-4 col-sm-4"><a href="/searchListing?where=Raleigh, NC, USA#" class="thumbnail"><img src="images/Raleigh/4.jpg" alt="Image" ></a></div>
			                		<div class="col-md-4 col-sm-4"><a href="/searchListing?where=Raleigh, NC, USA#" class="thumbnail"><img src="images/Raleigh/5.jpg" alt="Image" ></a></div>
			                		<div class="col-md-4 col-sm-4"><a href="/searchListing?where=Raleigh, NC, USA#" class="thumbnail"><img src="images/Raleigh/6.jpg" alt="Image" ></a></div>
			                	</div><!--.row-->
			                </div><!--.item-->
			                 
			                </div><!--.carousel-inner-->
			                  <a data-slide="prev" href="#Raleigh" class="left carousel-control carousel-size">&lt</a>
			                  <a data-slide="next" href="#Raleigh" class="right carousel-control carousel-size">&gt</a>
			                </div><!--.Carousel-->
			            </div>
					</div>
					<div class="row explore-text">
						<div class="col-md-12">
							<span>Homes in San Jose</span>
						</div>
					</div>
					<div class="row explore-the-world">
						<div class="col-md-12">
			                <div id="SJC" class="carousel slide">
			                 
			                <ol class="carousel-indicators">
			                    <li data-target="#SJC" data-slide-to="0" class="active"></li>
			                    <li data-target="#SJC" data-slide-to="1"></li>
			                </ol>
			                 
			                <!-- Carousel items -->
			                <div class="carousel-inner">
			                    
			                <div class="item active">
			                	<div class="row">
			                	  <div class="col-md-4 col-sm-4"><a href="/searchListing?where=San Jose, CA, USA#" class="thumbnail"><img src="images/SJC/1.jpg" alt="Image" ></a></div>
			                	  <div class="col-md-4 col-sm-4"><a href="/searchListing?where=San Jose, CA, USA#" class="thumbnail"><img src="images/SJC/2.jpg" alt="Image" ></a></div>
			                	  <div class="col-md-4 col-sm-4"><a href="/searchListing?where=San Jose, CA, USA#" class="thumbnail"><img src="images/SJC/3.jpg" alt="Image" ></a></div>
			                	</div><!--.row-->
			                </div><!--.item-->
			                 
			                <div class="item">
			                	<div class="row">
			                		<div class="col-md-4 col-sm-4"><a href="/searchListing?where=San Jose, CA, USA#" class="thumbnail"><img src="images/SJC/4.jpg" alt="Image" ></a></div>
			                		<div class="col-md-4 col-sm-4"><a href="/searchListing?where=San Jose, CA, USA#" class="thumbnail"><img src="images/SJC/5.jpg" alt="Image" ></a></div>
			                		<div class="col-md-4 col-sm-4"><a href="/searchListing?where=San Jose, CA, USA#" class="thumbnail"><img src="images/SJC/6.jpg" alt="Image" ></a></div>
			                	</div><!--.row-->
			                </div><!--.item-->
			                 
			                </div><!--.carousel-inner-->
			                  <a data-slide="prev" href="#SJC" class="left carousel-control carousel-size">&lt</a>
			                  <a data-slide="next" href="#SJC" class="right carousel-control carousel-size">&gt</a>
			                </div><!--.Carousel-->
			            </div>
					</div>
					<div class="seperator"></div>
				</div>
				<div class="col-lg-1 col-md-1 hidden-sm hidden-xs">
				</div>
				
			</div>
		</div>
		<script>
			$(document).ready(function() {
			    $('#SFO').carousel({
			        interval: 0
			    });
			    $('#NY').carousel({
			        interval: 0
			    })
			    $('#LA').carousel({
			        interval: 0
			    })
			    $('#Washington').carousel({
			        interval: 0
			    })
			    $('#Chicago').carousel({
			        interval: 0
			    })
			    $('#Austin').carousel({
			        interval: 0
			    })
			    $('#Boston').carousel({
			        interval: 0
			    })
			    $('#Seattle').carousel({
			        interval: 0
			    })
			    $('#Raleigh').carousel({
			        interval: 0
			    })
			    $('#SJC').carousel({
			        interval: 0
			    })
			});
		</script>
	</main>
	<!-- Footer -->
	<footer><% include ./footer %></footer>
	</body>

</html>
