<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ./head %>
	</head>

	<body class="body full-body" ng-app="airBnB" ng-controller="listing" ng-cloak>
	<!-- Header -->
	<header><% include ./header %></header>
	<!-- Main -->
	<main class="main">
		<div class="row">
			<div class="col-md-6 main-page-left-column">
				<div class="row">
					<span class="h2 heading">Hi, Kalgi! Let’s get you ready to become a host.</span>
				</div>
				<div class="row step-text">
					<span>step 1</span>
				</div>
				<div class="row que_1">
					<span class="h3 que_1">What kind of place do you have?</span>
				</div>
				<div class="row">
					<select class="selectpicker dropdown-box listing box-size">
					  	<option>Private room</option>
						<option>Entire place</option>
						<option>Shared room</option>
					</select>
					<select class="selectpicker dropdown-box listing box-size">
						<option>for 1 guest</option>
						<option>for 2 guests</option>
						<option>for 3 guests</option>
						<option>for 4 guests</option>
						<option>for 5 guests</option>
						<option>for 6 guests</option>
						<option>for 7 guests</option>
						<option>for 8 guests</option>
						<option>for 9 guests</option>
						<option>for 10 guests</option>
						<option>for 11 guests</option>
						<option>for 12 guests</option>
						<option>for 13 guests</option>
						<option>for 14 guests</option>
						<option>for 15 guests</option>
						<option>for 16 guests</option>
					</select>
				</div>
				<div class="row que_1">
					<input type="text" class="form-control search-bar listing" placeholder="e.g. San Fransisco" ng-enter="selectCity" ng-click="selectCity" ng-autocomplete="city" details="details" options="options">
				</div>
				<div class="col-md-5">
					<button class="form-control btn btn-primary continue-button">Continue</button>
				</div>
			</div>
			<div class="col-md-6"></div>
		</div>
		<div class="row">
			<div class="col-md-6 left-column">
				<div class="row que_1">
					<span class="h3 que_1">What kind of place are you listing?</span>
				</div>
				<div class="row">
					<div class="col-md-4 room-radio">
					    <form>
						    <div class="radio radio-box form-control" style="border-top-left-radius:4px;border-top-right-radius:4px;">
						      <div class="col-md-11 middle-text"><label for="optradio">Entire place</label></div>
						      <div class="col-md-1 middle-text"><input type="radio" class="pull-right" name="optradio"></div>
						    </div>
						    <div class="radio radio-box form-control">
						      <div class="col-md-11 middle-text"><label for="optradio">Private room</label></div>
						      <div class="col-md-1 middle-text"><input type="radio" class="pull-right" name="optradio"></div>
						    </div>
						    <div class="radio radio-box form-control" style="border-bottom-left-radius:4px;border-bottom-right-radius:4px;">
						      <div class="col-md-11 middle-text"><label for="optradio">Shared room</label></div>
						      <div class="col-md-1 middle-text"><input type="radio" class="pull-right" name="optradio"></div>
						    </div>
						</form>
					</div>
				</div>
				<div class="row" style="margin-top: 30px;">
					<span class="h3 que_2">What type of property is this?</span>
				</div>
				<div class="row">
					<select class="selectpicker dropdown-box listing property-box curve-border">
						<option>Select one</option>
					</select>
				</div>
			</div>
			<div class="col-md-6"></div>
		</div>
		<div class="row">
			<div class="col-md-6 left-column">
				<div class="row que_1">
					<span class="h3 que_1">How many guest can your place accommodate?</span>
				</div>
				<div class="row" style="margin-top: 15px;">
					<div class="col-md-12">
					    <div style="width:320px;height:67px;"><select class="selectpicker dropdown-box listing property-box">
							<option>1 bed</option>
						</select>
						</div>
					    <div style="width:320px;height:67px;"><select class="selectpicker dropdown-box listing property-box">
							<option>Real Bed</option>
							<option>Pull-out Sofa</option>
							<option>Airbed</option>
							<option>Futon</option>
							<option>Couch</option>
						</select>
						</div>
					</div>
				</div>
				<div class="row" style="margin-top: 70px;">
					<span class="h3 que_2">How many guests can stay?</span>
				</div>
				<div class="row">
					<select class="selectpicker dropdown-box listing property-box curve-border">
						<option>Select one</option>
						<option>for 1 guest</option>
						<option>for 2 guests</option>
						<option>for 3 guests</option>
						<option>for 4 guests</option>
						<option>for 5 guests</option>
						<option>for 6 guests</option>
						<option>for 7 guests</option>
						<option>for 8 guests</option>
						<option>for 9 guests</option>
						<option>for 10 guests</option>
						<option>for 11 guests</option>
						<option>for 12 guests</option>
						<option>for 13 guests</option>
						<option>for 14 guests</option>
						<option>for 15 guests</option>
						<option>for 16 guests</option>
					</select>
				</div>
				<div class="row que_1" style="margin-top: 30px;>
					<span class="h3 que_1">How many bathrooms?</span>
				</div>
				<div class="row" style="margin-top: 15px;">
					<div class="col-md-12">
					    <select class="selectpicker dropdown-box listing property-box curve-border">
							<option>1 bed</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-md-6"></div>
		</div>
	</main>
	</body>
</html>