
<!DOCTYPE html>
<html>
<head>
  
  <% include ./head %>
  <script type="text/javascript">
    var map;
    $(document).ready(function(){
      prettyPrint();
      map = new GMaps({
        div: '#map',
        lat: 37.279518,
        lng: -121.867905
      });
      map.addMarker({
        lat: 37.279518,
        lng: -121.867905,
        title: 'Lima',
        details: {
          database_id: 42,
          author: 'HPNeo'
        },
        click: function(e){
          if(console.log)
            console.log(e);
          alert('You clicked in this marker');
        }
      });
      map.addMarker({
        lat: -12.043333,
		lng: -77.028333,
        title: 'Marker with InfoWindow',
        infoWindow: {
          content: '<p>HTML Content</p>'
        }
      });
      map.drawOverlay({
      	lat: 37.279518,
        lng: -121.867905,
		content: '<div class="overlay">Lima</div>'
      });
    });
  </script>
</head>
<body>
  <div id="header">
    <h1>
      <a href="../">gmaps.js</a>
    </h1>
    <h2>Google Maps API with less pain and more fun</h2>
  </div>
  <div id="body">
    <h3>Markers</h3>
    <div class="row">
      <div class="span11">
        <div class="popin">
          <div id="map"></div>
        </div>
      </div>
      <div class="span6">
        <p>With GMaps.js you can add markers this way:</p>
        <pre class="prettyprint">map.addMarker({
  lat: -12.043333,
  lng: -77.028333,
  title: 'Lima',
  click: function(e) {
    alert('You clicked in this marker');
  }
});</pre>
        <p><strong>latitude</strong> and <strong>longitude</strong> are required. You can also attach additional information with <code>details</code>, which will be passed to Event object (<code>e</code>) in the events previously defined.</p>
        <p><span class="label notice">Note</span>If you want to show an Info Window, you must add:</p>
        <pre class="prettyprint">infoWindow: {
  content: '&lt;p&gt;HTML Content&lt;/p&gt;'
}</pre>
      </div>
    </div>
  </div>
</body>
</html>
