<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ./head %>
		<style>
			.my-drop-zone { border: dotted 3px lightgray; }
            .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
            .another-file-over-class { border: dotted 3px green; }

            html, body { height: 100%; }

            canvas {
                background-color: #f3f3f3;
                -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
                -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
                box-shadow: 3px 3px 3px 0 #e3e3e3;
                border: 1px solid #c3c3c3;
                height: 100px;
                margin: 6px 0 0 6px;
            }
		</style>
	</head>

	<body class="body full-body" ng-app="airBnB" ng-cloak>
	<!-- Header -->
	<header><% include ./header %></header>
	<!-- Main -->
	<main ng-controller="addProperty">
		<div class="row" ng-show="page === 1">
			<div class="col-md-1"></div>
			<div class="col-md-4">
				<div class="row">
					<span class="h2 heading">Hi, Kalgi! Let's get you ready to become a host.</span>
				</div>
				<div class="row step-text">
					<span>step 1</span>
				</div>
				<div class="row que_1">
					<span class="h3 que_1">What kind of place do you have?</span>
				</div>
				<div class="row" style="display:flex;">
					<div><select class="selectpicker dropdown-box listing box-size" ng-model="room_type" ng-options="room.room_type for room in room_types"></select></div>
					<div class="address-box increment-main-box">
				    	<div class="count-main-text"><input type="text" class="form-control count-main-text" placeholder="Guests" ng-model="item.item_count"/></div>
						<span ng-click="item.item_count = item.item_count - 1" class="count-main-button">-</span>
						<span ng-click="item.item_count = item.item_count + 1" class="count-main-button" style="border-right:none;">+</span>
					</div>
				</div>
				<div class="row que_1">
					<input type="text" class="form-control search-bar listing" placeholder="e.g. San Fransisco" ng-enter="selectCity" ng-click="selectCity" ng-autocomplete="city" details="details" options="options">
				</div>
				<div class="row">
					<div class="col-md-5">
						<button class="btn btn-primary continue-button" ng-click="page = page + 1">Continue</button>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				
			</div>
		</div>
		<div class="row" ng-show="page === 2">
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<div class="row" style="margin-top: 30px;">
					<span class="h3 que_2">What type of property is this?</span>
				</div>
				<div class="row">
					<select class="selectpicker dropdown-box listing property-box curve-border" ng-model="property_type" ng-options="property.property_type for property in property_types"></select>
				</div>
				<div class="row" style="margin-top: 30px;">
					<div class="col-md-5 pull-left">
						<button class="pull-left btn btn-primary back-next-button" ng-click="page = page - 1">Back</button>
					</div>
					<div class="col-md-5" style="margin-left: 5px;">
						<button class="btn btn-primary back-next-button" ng-click="page = page + 1">Next</button>
					</div>
				</div>
			</div>
			<div class="col-md-6"></div>
		</div>
		<div class="row" ng-show="page === 3">
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<div class="row que_1" style="margin-bottom:20px;">
					<span class="h3 que_1">Where's your place located?</span>
				</div>
				<div class="row">
					<div class="form-group">
				    	<label for="st.address" class="labels">Street Address</label>
				    	<input type="text" class="form-control address-box curve-border" id="st.address" placeholder="e.g. 123 Main St." ng-enter="selectCity" ng-click="selectCity" ng-autocomplete="addressDetails" details="details" options="options">
				  	</div>
				  	<div class="form-group">
				    	<label for="apt" class="labels">Apt, Suite, Bldg. (optional)</label>
				    	<input type="text" class="form-control address-box curve-border" id="apt" ng-model="apt" placeholder="e.g. Apt #7">
				  	</div>
				  	<div class="form-inline form-group" style="display:flex;">
				  		<div class="form-group">
					    	<label for="city" class="labels">City</label>
					    	<input type="text" class="form-control small-address-box curve-border" id="city" ng-model="city" placeholder="e.g. San Fransisco">
						</div>
						<div class="form-group">
					  		<label for="state" class="labels">State</label>
					  		<input type="text" class="form-control small-address-box curve-border" id="state" ng-model="state" placeholder="e.g. CA">
						</div>
				  	</div>
				  	<div class="form-group">
				    	<label for="zipcode" class="labels">ZIP Code</label>
				    	<input type="text" class="form-control small-address-box curve-border" id="zipcode" ng-model="zip" placeholder="e.g. 94103">
					</div>
				</div>
				<div class="row" style="margin-top: 30px;">
					<div class="col-md-5 pull-left">
						<button class="pull-left btn btn-primary back-next-button" ng-click="page = page - 1">Back</button>
					</div>
					<div class="col-md-5 pull-right" style="margin-left: 5px;">
						<button class="btn btn-primary back-next-button pull-right" ng-click="page = page + 1">Next</button>
					</div>
				</div>
			</div>
			<div class="col-md-6"></div>
		</div>

		<div class="row"  ng-show="page === 4">
			<!--<div class="col-md-2"></div>
			<div class="col-md-8">
				<div class="row que_1">
					<span class="h3 que_1">Show travelers what your space looks like</span>
				</div>
				<div class="row que_1">
					<div class="col-md-12 upload-panel" style="padding: 20px;">
						<div class="upload-image-icon">
							<div class="row">
								<div class="btn btn-primary upload-button">
									<i class="fa fa-cloud-upload" style="margin-right:10px;" aria-hidden="true"></i>
									<span style="font-weight:bold;">Upload Photos</span>
								</div>
							</div>
							<div class="row">
								<span class="h4">or drag them in</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row" style="margin-top: 30px;">
					<div class="col-md-5 pull-left">
						<button class="pull-left btn btn-primary back-next-button" ng-click="page = page - 1">Back</button>
					</div>
					<div class="col-md-5 pull-right">
						<button class="btn btn-primary back-next-button pull-right" ng-click="page = page + 1">Next</button>
					</div>
				</div>
			</div>
			<div class="col-md-2"></div>-->








		<!-- <div class="container" ng-controller="fileUploadController" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter"> -->
            
        <div class="container" ng-controller="fileUploadController" nv-file-drop="" uploader="uploader">

            <div class="row">

                <div class="col-md-3">

                    <h3>Select files</h3>

                    <div ng-show="uploader.isHTML5">
                        <!-- 3. nv-file-over uploader="link" over-class="className" -->
                        <div class="well my-drop-zone" nv-file-over="" uploader="uploader">
                            Base drop zone
                        </div>

                        <!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" -->
                        <div nv-file-drop="" uploader="uploader" options="{ url: '/foo' }">
                            <div nv-file-over="" uploader="uploader" over-class="another-file-over-class" class="well my-drop-zone">
                                Another drop zone with its own settings
                            </div>
                        </div>
                    </div>

                    <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
                    <input type="file" nv-file-select="" uploader="uploader" multiple  /><br/>

                </div>

                <div class="col-md-9" style="margin-bottom: 40px">
                    <h2>Uploads only images (with canvas preview)</h2>
                    <h3>The queue</h3>
                    <p>Queue length: {{ uploader.queue.length }}</p>

                    <table class="table">
                        <thead>
                            <tr>
                                <th width="50%">Name</th>
                                <th ng-show="uploader.isHTML5">Size</th>
                                <th ng-show="uploader.isHTML5">Progress</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in uploader.queue">
                                <td>
                                    <strong>{{ item.file.name }}</strong>
                                    <!-- Image preview -->
                                    <!--auto height-->
                                    <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                                    <!--auto width-->
                                    <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                                    <!--fixed width and height -->
                                    <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                                </td>
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> Upload
                                    </button>
                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div>
                        <div>
                            Queue progress:
                            <div class="progress" style="">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                            <span class="glyphicon glyphicon-upload"></span> Upload all
                        </button>
                        <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                        </button>
                        <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                            <span class="glyphicon glyphicon-trash"></span> Remove all
                        </button>
                    </div>

                </div>

            </div>

        </div>









































		








































		</div>
		
		<div class="row" ng-show="page === 5">
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<div class="row que_1"style="margin-top: 20px" >
					<span class="h3 que_1">Set house rules for your guests</span>
				</div>
				<div class="row" style="margin-top: 15px">
					<div class="col-md-12">
						<textarea rows="4" cols="50" class="form-control address-box curve-border" ng-model="house_rules" placeholder="House Rules..."></textarea>
					</div>
				</div>
				<div class="row" style="margin-top: 30px;">
					<div class="col-md-5 pull-left">
						<button class="pull-left btn btn-primary back-next-button" ng-click="page = page - 1">Back</button>
					</div>
					<div class="col-md-5 pull-right" style="margin-left: 5px;">
						<button class="btn btn-primary back-next-button pull-right" ng-click="page = page + 1">Next</button>
					</div>
				</div>
			</div>
			<div class="col-md-6"></div>
		</div>
		<div class="row" ng-show="page === 6">
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<div class="row que_1">
					<span class="h3 que_1">Your local laws and taxes</span>
				</div>
				<div class="row law-second-line">
					<span class="h3 law-second-line">Take a moment to review your local laws. We want to make sure you've got everything you need to get off to a great start.</span>
				</div>
				<div class="row law-third-line">
					<span class="h3 law-third-line">Please educate yourself about the laws in your jurisdiction before listing your space.</span>
				</div>
				<div class="row law-third-line">
					<span class="h3 law-third-line">Most cities have rules covering homesharing, and the specific codes and ordinances can appear in many places (such as zoning, building, licensing or tax codes). In most places, you must register, get a permit, or obtain a license before you list your property or accept guests. You may also be responsible for collecting and remitting certain taxes. In some places, short-term rentals could be prohibited altogether.</span>
				</div>
				<div class="row law-third-line">
					<span class="h3 law-third-line">Since you are responsible for your own decision to list or book, you should get comfortable with the applicable rules before listing on Airbnb. To get you started, we offer some helpful resources under "Your City Laws".</span>
				</div>
				<div class="row law-third-line">
					<span class="h3 law-third-line">By accepting our Terms of Service and listing your space, you certify that you will follow applicable laws and regulations.</span>
				</div>
				<div class="row" style="margin-top: 30px;">
					<div class="col-md-5 pull-left">
						<button class="pull-left btn btn-primary back-next-button" ng-click="page = page - 1">Back</button>
					</div>
					<div class="col-md-5 pull-right">
						<button class="pull-right form-control btn btn-primary continue-button" ng-click="addProperty()">Finish</button>
					</div>
				</div>
			</div>
			<div class="col-md-6"></div>
		</div>
		<script>
			$(function() {
    			$('input[name="daterange"]').daterangepicker({
    				autoApply: true,
    				linkedCalendars: true,
    				isCustomDate: function() {
    					return 'customDates';
    				}
    			}).val('');
			});
		</script>
	</main>
	</body>
</html>