<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ./head %>
	</head>

	<body class="body full-body" ng-app="airBnB" ng-controller="listing" ng-cloak>
	<!-- Header -->
	<header><% include ./header %></header>
	<!-- Main -->
	<main ng-app="airBnB" ng-controller="addProperty">
		<div class="row" ng-show="page === 1">
			<div class="col-md-1"></div>
			<div class="col-md-4">
				<div class="row">
					<span class="h2 heading">Hi, Kalgi! Let's get you ready to become a host.</span>
				</div>
				<div class="row step-text">
					<span>step 1</span>
				</div>
				<div class="row que_1">
					<span class="h3 que_1">What kind of place do you have?</span>
				</div>
				<div class="row" style="display:flex;">
					<div><select class="selectpicker dropdown-box listing box-size">
					  	<div ng-repeat="room_type in room_types">
					  		<option>Private room</option>
					  	</div>
					</select></div>
					<div class="address-box increment-main-box">
				    	<div class="count-main-text"><input type="text" class="form-control count-main-text" placeholder="Guests" ng-model="item.item_count"/></div>
						<span ng-click="item.item_count = item.item_count - 1" class="count-main-button">-</span>
						<span ng-click="item.item_count = item.item_count + 1" class="count-main-button" style="border-right:none;">+</span>
					</div>
				</div>
				<div class="row que_1">
					<input type="text" class="form-control search-bar listing" placeholder="e.g. San Fransisco" ng-enter="selectCity" ng-click="selectCity" ng-autocomplete="city" details="details" options="options">
				</div>
				<div class="row">
					<div class="col-md-5 pull-right">
						<button class="pull-right form-control btn btn-primary continue-button" ng-click="page = page + 1">Continue</button>
					</div>
				</div>
			</div>
			<div class="col-md-6"></div>
		</div>
		<div class="row" ng-show="page === 2">
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<div class="row que_1">
					<span class="h3 que_1">What kind of place are you listing?</span>
				</div>
				<div class="row">
					<div class="col-md-4 room-radio">
					    <form>
						    <div class="radio radio-box form-control" style="border-top-left-radius:4px;border-top-right-radius:4px;">
						      <div class="col-md-11 middle-text"><label for="optradio">Entire place</label></div>
						      <div class="col-md-1 middle-text"><input type="radio" class="pull-right" name="optradio"></div>
						    </div>
						    <div class="radio radio-box form-control">
						      <div class="col-md-11 middle-text"><label for="optradio">Private room</label></div>
						      <div class="col-md-1 middle-text"><input type="radio" class="pull-right" name="optradio"></div>
						    </div>
						    <div class="radio radio-box form-control" style="border-bottom-left-radius:4px;border-bottom-right-radius:4px;">
						      <div class="col-md-11 middle-text"><label for="optradio">Shared room</label></div>
						      <div class="col-md-1 middle-text"><input type="radio" class="pull-right" name="optradio"></div>
						    </div>
						</form>
					</div>
				</div>
				<div class="row" style="margin-top: 30px;">
					<span class="h3 que_2">What type of property is this?</span>
				</div>
				<div class="row">
					<select class="selectpicker dropdown-box listing property-box curve-border">
						<option>Select one</option>
					</select>
				</div>
				<div class="row">
					<div class="col-md-5 pull-left">
						<button class="pull-left form-control btn btn-primary continue-button" ng-click="page = page - 1">Back</button>
					</div>
					<div class="col-md-5 pull-right">
						<button class="pull-right form-control btn btn-primary continue-button" ng-click="page = page + 1">Next</button>
					</div>
				</div>
			</div>
			<div class="col-md-6"></div>
		</div>
		<div class="row" ng-show="page === 3">
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<div class="row que_1">
					<span class="h3 que_1">How many guest can your place accommodate?</span>
				</div>
				<div class="row" style="margin-top: 15px;">
					<div class="col-md-12">
					    <div class="address-box form-control increment-box">
					    	<div class="count-text"><input type="text" class="form-control count-text" style="padding-left:0px;" placeholder="Number of beds" ng-model="item.item_count"/></div>
							<span ng-click="item.item_count = item.item_count - 1" class="count-button">-</span>
							<span ng-click="item.item_count = item.item_count + 1" class="count-button" style="border-right:none;">+</span>
						</div>
					    <div style="width:320px;height:67px;"><select class="selectpicker listing property-box">
							<option>Real Bed</option>
							<option>Pull-out Sofa</option>
							<option>Airbed</option>
							<option>Futon</option>
							<option>Couch</option>
						</select>
						</div>
					</div>
				</div>
				<div class="row" style="margin-top: 70px; margin-bottom: 20px;">
					<span class="h3 que_2">How many guests can stay?</span>
				</div>
				<div class="address-box form-control increment-box">
			    	<div class="count-text"><input type="text" class="form-control count-text" style="padding-left:0px;" placeholder="Number of guests" ng-model="item.item_count"/></div>
					<div ng-click="item.item_count = item.item_count - 1" class="count-button">-</div>
					<div ng-click="item.item_count = item.item_count + 1" class="count-button" style="border-right:none;">+</div>
				</div>
				<div class="row que_1" style="margin-top: 30px;>
					<span class="h3 que_1">How many bathrooms?</span>
				</div>
				<div class="row" style="margin-top: 15px;">
					<div class="address-box form-control increment-box">
				    	<div class="count-text"><input type="text" class="form-control count-text" style="padding-left:0px;" placeholder="Number of bathrooms" ng-model="item.item_count"/></div>
						<span ng-click="item.item_count = item.item_count - 1" class="count-button">-</span>
						<span ng-click="item.item_count = item.item_count + 1" class="count-button" style="border-right:none;">+</span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5 pull-left">
						<button class="pull-left form-control btn btn-primary continue-button" ng-click="page = page - 1">Back</button>
					</div>
					<div class="col-md-5 pull-right">
						<button class="pull-right form-control btn btn-primary continue-button" ng-click="page = page + 1">Next</button>
					</div>
				</div>
			</div>
			<div class="col-md-6"></div>
		</div>
		<div class="row" ng-show="page === 4">
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<div class="row que_1" style="margin-bottom:20px;">
					<span class="h3 que_1">Where's your place located?</span>
				</div>
				<div class="row">
					<div class="form-group">
				    	<label for="St.address" class="labels">Street Address</label>
				    	<input type="text" class="form-control address-box curve-border" id="St.address" placeholder="e.g. 123 Main St." ng-enter="selectCity" ng-click="selectCity" ng-autocomplete="addressDetails" details="details" options="options">
				  	</div>
				  	<div class="form-group">
				    	<label for="apt" class="labels">Apt, Suite, Bldg. (optional)</label>
				    	<input type="text" class="form-control address-box curve-border" id="apt" placeholder="e.g. Apt #7">
				  	</div>
				  	<div class="form-inline form-group" style="display:flex;">
				  		<div class="form-group">
					    	<label for="city" class="labels">City</label>
					    	<input type="text" class="form-control small-address-box curve-border" id="city" placeholder="e.g. San Fransisco">
						</div>
						<div class="form-group">
					  		<label for="state" class="labels">State</label>
					  		<input type="text" class="form-control small-address-box curve-border" id="state" placeholder="e.g. CA">
						</div>
				  	</div>
				  	<div class="form-group">
				    	<label for="zipcode" class="labels">ZIP Code</label>
				    	<input type="text" class="form-control small-address-box curve-border" id="zipcode" placeholder="e.g. 94103">
					</div>
				</div>
				<div class="row">
					<div class="col-md-5 pull-left">
						<button class="pull-left form-control btn btn-primary continue-button" ng-click="page = page - 1">Back</button>
					</div>
					<div class="col-md-5 pull-right">
						<button class="pull-right form-control btn btn-primary continue-button" ng-click="page = page + 1">Next</button>
					</div>
				</div>
			</div>
			<div class="col-md-6"></div>
		</div>
		<div class="row"  ng-show="page === 5">
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<div class="row que_1">
					<span class="h3 que_1">What amenities do you offer?</span>
				</div>
				<div class="row" style="margin-top: 15px">
					<div class="col-md-12">
						<form>
							<div class="checkbox check-buttons">
								<div class="row">
						      		<div class="col-sm-1">
						      			<label><input type="checkbox" value=""></label>
						      		</div>
						      		<div class="col-sm-11">Essentials</div>
						      	</div>
						    </div>
						    <div class="checkbox check-buttons">
								<div class="row">
						      		<div class="col-sm-1">
						      			<label><input type="checkbox" value=""></label>
						      		</div>
						      		<div class="col-sm-11">Wifi</div>
						      	</div>
						    </div>
						    <div class="checkbox check-buttons">
								<div class="row">
						      		<div class="col-sm-1">
						      			<label><input type="checkbox" value=""></label>
						      		</div>
						      		<div class="col-sm-11">Shampoo</div>
						      	</div>
						    </div>
						</form>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5 pull-left">
						<button class="pull-left form-control btn btn-primary continue-button" ng-click="page = page - 1">Back</button>
					</div>
					<div class="col-md-5 pull-right">
						<button class="pull-right form-control btn btn-primary continue-button" ng-click="page = page + 1">Next</button>
					</div>
				</div>
			</div>
			<div class="col-md-6"></div>
		</div>
		<div class="row"  ng-show="page === 6">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<div class="row que_1">
					<span class="h3 que_1">Show travelers what your space looks like</span>
				</div>
				<div class="row que_1">
					<div class="col-md-12 upload-panel" style="padding: 20px;">
						<div class="upload-image-icon">
							<div class="row">
								<div class="btn btn-primary upload-button">
									<i class="fa fa-cloud-upload" style="margin-right:10px;" aria-hidden="true"></i>
									<span style="font-weight:bold;">Upload Photos</span>
								</div>
							</div>
							<div class="row">
								<span class="h4">or drag them in</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5 pull-left">
						<button class="pull-left form-control btn btn-primary continue-button" ng-click="page = page - 1">Back</button>
					</div>
					<div class="col-md-5 pull-right">
						<button class="pull-right form-control btn btn-primary continue-button" ng-click="page = page + 1">Next</button>
					</div>
				</div>
			</div>
			<div class="col-md-2"></div>
		</div>
		<div class="row" ng-show="page === 7">
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<div class="row que_1">
					<span class="h3 que_1">Name your place</span>
				</div>
				<div class="row" style="margin-top: 15px">
					<div class="col-md-12">
						<input type="text" class="form-control address-box curve-border" placeholder="Listing title">
					</div>
				</div>
				<div class="row que_1"style="margin-top: 40px" >
					<span class="h3 que_1">Start building your description</span>
				</div>
				<div class="row" style="margin-top: 15px">
					<div class="col-md-12">
						<textarea rows="4" cols="50" class="form-control address-box curve-border" placeholder="Describe your place..."></textarea>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5 pull-left">
						<button class="pull-left form-control btn btn-primary continue-button" ng-click="page = page - 1">Back</button>
					</div>
					<div class="col-md-5 pull-right">
						<button class="pull-right form-control btn btn-primary continue-button" ng-click="page = page + 1">Next</button>
					</div>
				</div>
			</div>
			<div class="col-md-6"></div>
		</div>
		<div class="row" ng-show="page === 8">
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<div class="row que_1" style="padding: 30px 0;">
					<span class="h3 que_1">Set house rules for your guests</span>
				</div>
				<div class="row que_1">
					<div class="col-md-10">
						<span class="h3 que_2" style="color:#484848;">Suitable for children (2-12 years)</span>
					</div>
					<div class="col-md-2">
						<div class="input-group">
							<div id="radioBtn" class="btn-group">
								<a class="btn btn-primary btn-sm active" data-toggle="house-rules" data-title="N">No</a> 
								<a class="btn btn-primary btn-sm notActive" data-toggle="house-rules" data-title="Y">Yes</a>
							</div>
							<input type="hidden" name="house-rules" id="house-rules">
						</div>
					</div>
				</div>
				<div class="row que_1" style="margin-top: 20px;">
					<div class="col-md-10">
						<span class="h3 que_2" style="color:#484848;">Suitable for infants (Under 2 years)</span>
					</div>
					<div class="col-md-2">
						<div class="input-group">
							<div id="radioBtn" class="btn-group">
								<a class="btn btn-primary btn-sm active" data-toggle="house-rules" data-title="N">No</a> 
								<a class="btn btn-primary btn-sm notActive" data-toggle="house-rules" data-title="Y">Yes</a>
							</div>
							<input type="hidden" name="house-rules" id="house-rules">
						</div>
					</div>
				</div>
				<div class="row que_1" style="margin-top: 20px;">
					<div class="col-md-10">
						<span class="h3 que_2" style="color:#484848;">Suitable for pets</span>
					</div>
					<div class="col-md-2">
						<div class="input-group">
							<div id="radioBtn" class="btn-group">
								<a class="btn btn-primary btn-sm active" data-toggle="house-rules" data-title="N">No</a> 
								<a class="btn btn-primary btn-sm notActive" data-toggle="house-rules" data-title="Y">Yes</a>
							</div>
							<input type="hidden" name="house-rules" id="house-rules">
						</div>
					</div>
				</div>
				<div class="row que_1" style="margin-top: 20px;">
					<div class="col-md-10">
						<span class="h3 que_2" style="color:#484848;">Smoking allowed</span>
					</div>
					<div class="col-md-2">
						<div class="input-group">
							<div id="radioBtn" class="btn-group">
								<a class="btn btn-primary btn-sm active" data-toggle="house-rules" data-title="N">No</a> 
								<a class="btn btn-primary btn-sm notActive" data-toggle="house-rules" data-title="Y">Yes</a>
							</div>
							<input type="hidden" name="house-rules" id="house-rules">
						</div>
					</div>
				</div>
				<div class="row que_1" style="margin-top: 20px;">
					<div class="col-md-10">
						<span class="h3 que_2" style="color:#484848;">Events or parties allowed </span>
					</div>
					<div class="col-md-2">
						<div class="input-group">
							<div id="radioBtn" class="btn-group">
								<a class="btn btn-primary btn-sm active" data-toggle="house-rules" data-title="N">No</a> 
								<a class="btn btn-primary btn-sm notActive" data-toggle="house-rules" data-title="Y">Yes</a>
							</div>
							<input type="hidden" name="house-rules" id="house-rules">
						</div>
					</div>
				</div>
				<div class="row que_1" style="margin-top: 20px;">
					<div class="col-md-10">
						<span class="h3 que_2" style="color:#767676;font-weight:bold;">Additional rules</span>
					</div>
				</div>
				<div class="row que_1" style="margin-top: 20px;">
					<div class="col-md-10" style="width:78.2%;">
						<input type="text" class="form-control additional-rule-box curve-border" placeholder="Quiet hours? No shoes in the house?">
					</div>
					<div class="col-md-2">
						<button type="submit" class="btn submit-button" value="Add">Add</button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5 pull-left">
						<button class="pull-left form-control btn btn-primary continue-button" ng-click="page = page - 1">Back</button>
					</div>
					<div class="col-md-5 pull-right">
						<button class="pull-right form-control btn btn-primary continue-button" ng-click="page = page + 1">Next</button>
					</div>
				</div>
			</div>
			<div class="col-md-6"></div>
		</div>
		<div class="row" ng-show="page === 9">
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<div class="row que_1">
					<span class="h3 que_1">How do you want to set your price?</span>
				</div>
				<div class="seperator"></div>
				<div class="row que_1">
					<div class="col-md-2 choose-price-icon"></div>
					<div class="col-md-8">
						<div class="row price-text h3">
							<span>Price adapts to demand</span>
						</div>
						<div class="row price-subtitle-text h3">
							<span>You tell Smart Pricing to automatically adjust your price to match demand, but only within a price range that you set.</span>
						</div>
						<div class="row recommended-box" style="margin-left: 20px;">
							<span>Recommended</span>
						</div>
					</div>
					<div class="col-md-2">
					    <div class="radio pull-right">
					     	<input type="radio" name="optradio">
					    </div>
					</div>
				</div>
				<div class="seperator"></div>
				<div class="row que_1">
					<div class="col-md-2 fixed-price-icon"></div>
					<div class="col-md-8">
						<div class="row price-text h3">
							<span>Price is fixed</span>
						</div>
						<div class="row price-subtitle-text h3">
							<span>Set a base price. Airbnb gives you price tips that you can accept or ignore.</span>
						</div>
					</div>
					<div class="col-md-2">
					    <div class="radio pull-right">
					     	<input type="radio" name="optradio">
					    </div>
					</div>
				</div>
				<div class="seperator"></div>
				<div class="row">
					<div class="col-md-4">
						<div class="row que_1" style="margin-bottom:20px;">
							<span class="h3 que_1">Smart pricing</span>
						</div>
						<div class="row">
							<div class="form-group">
					    		<label for="apt" class="labels">Minimum price</label>
					    		<input type="text" class="form-control address-box curve-border" id="apt" placeholder="Minimum bid">
					  		</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="row que_1" style="margin-bottom:20px;">
							<span class="h3 que_1">Base price</span>
						</div>
						<div class="row">
							<div class="form-group">
					    		<label for="apt" class="labels">Fixed price</label>
					    		<input type="text" class="form-control address-box curve-border" id="apt" placeholder="e.g. $45">
					  		</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5 pull-left">
						<button class="pull-left form-control btn btn-primary continue-button" ng-click="page = page - 1">Back</button>
					</div>
					<div class="col-md-5 pull-right">
						<button class="pull-right form-control btn btn-primary continue-button" ng-click="page = page + 1">Next</button>
					</div>
				</div>
			</div>
			<div class="col-md-6"></div>
		</div>
		<div class="row" ng-show="page === 10">
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<div class="row que_1">
					<span class="h3 que_1">Your local laws and taxes</span>
				</div>
				<div class="row law-second-line">
					<span class="h3 law-second-line">Take a moment to review your local laws. We want to make sure you've got everything you need to get off to a great start.</span>
				</div>
				<div class="row law-third-line">
					<span class="h3 law-third-line">Please educate yourself about the laws in your jurisdiction before listing your space.</span>
				</div>
				<div class="row law-third-line">
					<span class="h3 law-third-line">Most cities have rules covering homesharing, and the specific codes and ordinances can appear in many places (such as zoning, building, licensing or tax codes). In most places, you must register, get a permit, or obtain a license before you list your property or accept guests. You may also be responsible for collecting and remitting certain taxes. In some places, short-term rentals could be prohibited altogether.</span>
				</div>
				<div class="row law-third-line">
					<span class="h3 law-third-line">Since you are responsible for your own decision to list or book, you should get comfortable with the applicable rules before listing on Airbnb. To get you started, we offer some helpful resources under “Your City Laws.”</span>
				</div>
				<div class="row law-third-line">
					<span class="h3 law-third-line">By accepting our Terms of Service and listing your space, you certify that you will follow applicable laws and regulations.</span>
				</div>
				<div class="row">
					<div class="col-md-5 pull-right">
						<button class="pull-right form-control btn btn-primary continue-button" ng-click="page = page + 1">Finish</button>
					</div>
				</div>
			</div>
			<div class="col-md-6"></div>
		</div>
	</main>
	</body>
</html>