<!DOCTYPE html>
<html>
<head>
		<% include ./head %>
	</head>


<body ng-app="airBnB" ng-controller="sell" class="container">
<form>

<select ng-model="property_type" ng-options="x for x in name"></select>

<input type="radio" name="private" value="private" ng-model="room_type"> Private Room
<input type="radio" name="shared" value="share" ng-model="room_type"> Share Room
<textarea name="rules" ng-model="rules" rows="10" cols="30">
enter your text
</textarea>
<input type="text" name="address" ng-model="address">

<input type="submit" ng-click="property()" value="submit">


</form>
</body>
</html>

