<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ./head %>
	</head>

	<body class="body full-body" ng-app="airBnB" ng-controller="listing" ng-cloak>
	<!-- Header -->
	<header><% include ./header %></header>
	<!-- Main -->
	<main ng-app="airBnB" ng-controller="addProperty">
		<div class="row" ng-show="page === 1">
			<div class="col-md-1"></div>
			<div class="col-md-4">
				<div class="row">
					<span class="h2 heading">Hi, Kalgi! Let's get you ready to become a host.</span>
				</div>
				<div class="row step-text">
					<span>step 1</span>
				</div>
				<div class="row que_1">
					<span class="h3 que_1">What kind of place do you have?</span>
				</div>
				<div class="row">
					<select class="selectpicker dropdown-box listing box-size">
					  	<div ng-repeat="room_type in room_types">
					  		<option>Private room</option>
					  	</div>
					</select>
					<select class="selectpicker dropdown-box listing box-size">
						<option>for 1 guest</option>
						<option>for 2 guests</option>
						<option>for 3 guests</option>
						<option>for 4 guests</option>
						<option>for 5 guests</option>
						<option>for 6 guests</option>
						<option>for 7 guests</option>
						<option>for 8 guests</option>
						<option>for 9 guests</option>
						<option>for 10 guests</option>
						<option>for 11 guests</option>
						<option>for 12 guests</option>
						<option>for 13 guests</option>
						<option>for 14 guests</option>
						<option>for 15 guests</option>
						<option>for 16 guests</option>
					</select>
				</div>
				<div class="row que_1">
					<input type="text" class="form-control search-bar listing" placeholder="e.g. San Fransisco" ng-enter="selectCity" ng-click="selectCity" ng-autocomplete="city" details="details" options="options">
				</div>
				<div class="row">
					<div class="col-md-5 pull-right">
						<button class="pull-right form-control btn btn-primary continue-button" ng-click="page = page + 1">Continue</button>
					</div>
				</div>
			</div>
			<div class="col-md-6"></div>
		</div>
		<div class="row" ng-show="page === 2">
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<div class="row que_1">
					<span class="h3 que_1">What kind of place are you listing?</span>
				</div>
				<div class="row">
					<div class="col-md-4 room-radio">
					    <form>
						    <div class="radio radio-box form-control" style="border-top-left-radius:4px;border-top-right-radius:4px;">
						      <div class="col-md-11 middle-text"><label for="optradio">Entire place</label></div>
						      <div class="col-md-1 middle-text"><input type="radio" class="pull-right" name="optradio"></div>
						    </div>
						    <div class="radio radio-box form-control">
						      <div class="col-md-11 middle-text"><label for="optradio">Private room</label></div>
						      <div class="col-md-1 middle-text"><input type="radio" class="pull-right" name="optradio"></div>
						    </div>
						    <div class="radio radio-box form-control" style="border-bottom-left-radius:4px;border-bottom-right-radius:4px;">
						      <div class="col-md-11 middle-text"><label for="optradio">Shared room</label></div>
						      <div class="col-md-1 middle-text"><input type="radio" class="pull-right" name="optradio"></div>
						    </div>
						</form>
					</div>
				</div>
				<div class="row" style="margin-top: 30px;">
					<span class="h3 que_2">What type of property is this?</span>
				</div>
				<div class="row">
					<select class="selectpicker dropdown-box listing property-box curve-border">
						<option>Select one</option>
					</select>
				</div>
				<div class="row">
					<div class="col-md-5 pull-left">
						<button class="pull-left form-control btn btn-primary continue-button" ng-click="page = page - 1">Back</button>
					</div>
					<div class="col-md-5 pull-right">
						<button class="pull-right form-control btn btn-primary continue-button" ng-click="page = page + 1">Next</button>
					</div>
				</div>
			</div>
			<div class="col-md-6"></div>
		</div>
		<div class="row" ng-show="page === 3">
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<div class="row que_1">
					<span class="h3 que_1">How many guest can your place accommodate?</span>
				</div>
				<div class="row" style="margin-top: 15px;">
					<div class="col-md-12">
					    <div style="width:320px;height:67px;"><select class="selectpicker dropdown-box listing property-box">
							<option>1 bed</option>
						</select>
						</div>
					    <div style="width:320px;height:67px;"><select class="selectpicker dropdown-box listing property-box">
							<option>Real Bed</option>
							<option>Pull-out Sofa</option>
							<option>Airbed</option>
							<option>Futon</option>
							<option>Couch</option>
						</select>
						</div>
					</div>
				</div>
				<div class="row" style="margin-top: 70px;">
					<span class="h3 que_2">How many guests can stay?</span>
				</div>
				<div class="row">
					<select class="selectpicker dropdown-box listing property-box curve-border">
						<option>Select one</option>
						<option>for 1 guest</option>
						<option>for 2 guests</option>
						<option>for 3 guests</option>
						<option>for 4 guests</option>
						<option>for 5 guests</option>
						<option>for 6 guests</option>
						<option>for 7 guests</option>
						<option>for 8 guests</option>
						<option>for 9 guests</option>
						<option>for 10 guests</option>
						<option>for 11 guests</option>
						<option>for 12 guests</option>
						<option>for 13 guests</option>
						<option>for 14 guests</option>
						<option>for 15 guests</option>
						<option>for 16 guests</option>
					</select>
				</div>
				<div class="row que_1" style="margin-top: 30px;>
					<span class="h3 que_1">How many bathrooms?</span>
				</div>
				<div class="row" style="margin-top: 15px;">
					<div class="col-md-12">
					    <select class="selectpicker dropdown-box listing property-box curve-border">
							<option>1 bed</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5 pull-left">
						<button class="pull-left form-control btn btn-primary continue-button" ng-click="page = page - 1">Back</button>
					</div>
					<div class="col-md-5 pull-right">
						<button class="pull-right form-control btn btn-primary continue-button" ng-click="page = page + 1">Next</button>
					</div>
				</div>
			</div>
			<div class="col-md-6"></div>
		</div>
		<div class="row" ng-show="page === 4">
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<div class="row que_1" style="margin-bottom:20px;">
					<span class="h3 que_1">Where's your place located?</span>
				</div>
				<div class="row">
					<div class="form-group">
				    	<label for="St.address" class="labels">Street Address</label>
				    	<input type="text" class="form-control address-box curve-border" id="St.address" placeholder="e.g. 123 Main St." ng-enter="selectCity" ng-click="selectCity" ng-autocomplete="city" details="details" options="options">
				  	</div>
				  	<div class="form-group">
				    	<label for="apt" class="labels">Apt, Suite, Bldg. (optional)</label>
				    	<input type="text" class="form-control address-box curve-border" id="apt" placeholder="e.g. Apt #7">
				  	</div>
				  	<div class="form-inline form-group" style="display:flex;">
				  		<div class="form-group">
					    	<label for="city" class="labels">City</label>
					    	<input type="text" class="form-control small-address-box curve-border" id="city" placeholder="e.g. San Fransisco">
						</div>
						<div class="form-group">
					  		<label for="state" class="labels">State</label>
					  		<input type="text" class="form-control small-address-box curve-border" id="state" placeholder="e.g. CA">
						</div>
				  	</div>
				  	<div class="form-group">
				    	<label for="zipcode" class="labels">ZIP Code</label>
				    	<input type="text" class="form-control small-address-box curve-border" id="zipcode" placeholder="e.g. 94103">
					</div>
				</div>
				<div class="row">
					<div class="col-md-5 pull-left">
						<button class="pull-left form-control btn btn-primary continue-button" ng-click="page = page - 1">Back</button>
					</div>
					<div class="col-md-5 pull-right">
						<button class="pull-right form-control btn btn-primary continue-button" ng-click="page = page + 1">Next</button>
					</div>
				</div>
			</div>
			<div class="col-md-6"></div>
		</div>
		<div class="row" ng-show="page === 5">
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<div class="row que_1">
					<span class="h3 que_1">What amenities do you offer?</span>
				</div>
				<div class="row" style="margin-top: 15px">
					<div class="col-md-12">
						<form>
							<div class="checkbox check-buttons">
								<div class="row">
						      		<div class="col-sm-1">
						      			<label><input type="checkbox" value=""></label>
						      		</div>
						      		<div class="col-sm-11">Essentials</div>
						      	</div>
						    </div>
						    <div class="checkbox check-buttons">
								<div class="row">
						      		<div class="col-sm-1">
						      			<label><input type="checkbox" value=""></label>
						      		</div>
						      		<div class="col-sm-11">Wifi</div>
						      	</div>
						    </div>
						    <div class="checkbox check-buttons">
								<div class="row">
						      		<div class="col-sm-1">
						      			<label><input type="checkbox" value=""></label>
						      		</div>
						      		<div class="col-sm-11">Shampoo</div>
						      	</div>
						    </div>
						</form>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5 pull-left">
						<button class="pull-left form-control btn btn-primary continue-button" ng-click="page = page - 1">Back</button>
					</div>
					<div class="col-md-5 pull-right">
						<button class="pull-right form-control btn btn-primary continue-button" ng-click="page = page + 1">Next</button>
					</div>
				</div>
			</div>
			<div class="col-md-6"></div>
		</div>
		<div class="row" ng-show="page === 6">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<div class="row que_1">
					<span class="h3 que_1">Show travelers what your space looks like</span>
				</div>
				<div class="row que_1">
					<div class="col-md-12 upload-panel" style="padding: 20px;">
						<div class="upload-image-icon">
							<div class="row">
								<div class="btn btn-primary upload-button">
									<i class="fa fa-cloud-upload" style="margin-right:10px;" aria-hidden="true"></i>
									<span style="font-weight:bold;">Upload Photos</span>
								</div>
							</div>
							<div class="row">
								<span class="h4">or drag them in</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2"></div>
		</div>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<div class="row que_1">
					<span class="h3 que_1">Name your place</span>
				</div>
				<div class="row" style="margin-top: 15px">
					<div class="col-md-12">
						<input type="text" class="form-control address-box curve-border" placeholder="Listing title">
					</div>
				</div>
				<div class="row que_1"style="margin-top: 40px" >
					<span class="h3 que_1">Start building your description</span>
				</div>
				<div class="row" style="margin-top: 15px">
					<div class="col-md-12">
						<textarea rows="4" cols="50" class="form-control address-box curve-border" placeholder="Describe your place..."></textarea>
					</div>
				</div>
			</div>
			<div class="col-md-6"></div>
		</div>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<div class="row que_1">
					<span class="h3 que_1">Set house rules for your guests</span>
				</div>
			</div>
			<div class="col-md-6"></div>
		</div>
	</main>
	</body>
</html>