<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./head %>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/gmaps.js"></script>
    <script type="text/javascript" src="js/prettify.js"></script>
    <link href='//fonts.googleapis.com/css?family=Convergence|Bitter|Droid+Sans|Ubuntu+Mono' rel='stylesheet' type='text/css' />
    <link href='css/style.css' rel='stylesheet' type='text/css' />
    <link href='css/prettify.css' rel='stylesheet' type='text/css' />
    <link href='css/example.css' rel='stylesheet' type='text/css' />
    <script src="js/underscore.js"></script>
    <script src="js/ngRangeSlider.js"></script>
    <link rel='stylesheet' href='css/Default.css'/>

  </head>



  <body class="body full-body" ng-app="airBnB" ng-cloak ng-controller="searchListingController" ng-init="init('<%= data %>')">

    <div class="container-fluid well">
      <header>
            <% include ./header %>
      </header>
    </div>


     {{filteredResults}}

     <input type="hidden" id="filteredRes" ng-model="filteredResults" />
     <div ng-init="name=filteredResults" id="filteredRes"></div>

     <h4><%= JSON.parse(data).results[0].latitude%></h4>

     <h3>{{data.centerLatLng.center_lat}}</h3>
      
      <script type="text/javascript">

        var map;
        $(document).ready(function(){
          prettyPrint();

          var retrievedData = <%- (data)%>;
          console.log("retrievedData", retrievedData);

          //These lat and long values centers the map on the page wherever called.
          map = new GMaps({
            div: '#map',
            zoom: 12,
            lat: retrievedData.centerLatLng.center_lat,
            lng: retrievedData.centerLatLng.center_lng
          });

          
          for(var i = 0 ; i < retrievedData.results.length ; i++){
            map.drawOverlay({
              lat: retrievedData.results[i].latitude,
              lng: retrievedData.results[i].longitude,
              content: '<div class="overlay">$<b>'+retrievedData.results[i].daily_price+'</b><div class="overlay_arrow above"></div></div>'
            });
          }

        });
      </script>


      <div class="container-fluid" style="border-radius:0px; padding:0px;">
        
        <div class="row"  style="border-radius:0px; padding:0px;">
          
          <div class="col-lg-7 " style="border-radius:0px; padding: 20px 20px 20px 20px;">
            <div class="row" style="padding-left:0px; border-bottom: 1px solid #AAAAAA; padding-bottom:20px;">
                <div class="col-lg-3" style="padding-left:0px; padding-top:7px;">
                    Dates
                </div>
                <div class="col-lg-3">
                  <div style="border: 1px solid #AAAAAA; height: 37px; width:90%; border-radius: 2px;">
                    <input type="text" placeholder="Check In" id="checkInPlaceholder" style="height: 35px; width:80%; border:none; margin-left:10px;">
                  </div>
                </div>
                <div class="col-lg-3">
                  <div style="border: 1px solid #AAAAAA; height: 37px; width:90%; border-radius: 2px;">
                    <input type="text" placeholder="Check Out" id="checkInPlaceholder" style="height: 35px; width:80%; border:none; margin-left:10px;">
                  </div>
                </div>
                <div class="col-lg-3">
                  <div style="border: 1px solid #AAAAAA; height: 37px; width:90%; border-radius: 2px; padding-left:15px;">
                    <select class="selectpicker guest-dropdown" style="width:100%;">
                      <option>1 guest</option>
                      <hr class="seperator" />
                      <option>2 guests</option>
                      <hr class="seperator" />
                      <option>3 guests</option>
                      <hr class="seperator" />
                      <option>4 guests</option>
                      <hr class="seperator" />
                      <option>5 guests</option>
                      <hr class="seperator" />
                      <option>6 guests</option>
                      <hr class="seperator" />
                      <option>7 guests</option>
                      <hr class="seperator" />
                      <option>8 guests</option>
                      <hr class="seperator" />
                      <option>9 guests</option>
                      <hr class="seperator" />
                      <option>10 guests</option>
                    </select>
                  </div>                  
                </div>
            </div>
            <div class="row " style="padding-left:0px; padding-bottom:20px; margin-top:20px; border-bottom: 1px solid #AAAAAA;">
                <div class="col-lg-3" style="padding-left:0px; padding-top:7px;">
                    Room Type <i class="fa fa-question-circle" style="margin-top:-2px;"></i>
                </div>
                <div class="col-lg-3" style="">
                  <div style="border: 1px solid #AAAAAA; height: 37px; width:90%; border-radius: 2px; padding:4px; background-color:#EDEFED;">
                    <i class="fa fa-home" style="margin-top:-2px; margin-right:15px; margin-left: 10px; display:inline-block;"></i>Entire Home<input type="checkbox" id="home" style="margin-left:20px; margin-top:;"/>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div style="border: 1px solid #AAAAAA; height: 37px; width:90%; border-radius: 2px; padding:4px; background-color:#EDEFED;">
                    <i class="fa fa-book" style="margin-top:-2px; margin-right:15px; margin-left: 10px; display:inline-block;"></i>Private Room<input type="checkbox" id="home" style="margin-left:20px; margin-top:;"/>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div style="border: 1px solid #AAAAAA; height: 37px; width:90%; border-radius: 2px; padding:4px; background-color:#EDEFED;">
                    <i class="fa fa-share" style="margin-top:-2px; margin-right:15px; margin-left: 10px; display:inline-block;"></i>Shared Room<input type="checkbox" id="home" style="margin-left:15px; margin-top:;"/>
                  </div>                  
                </div>

                 <!-- <%= data %> -->
            </div>
            <div class="row " style="padding-left:0px; margin-top:20px;">
                <div class="col-lg-3" style="padding-left:0px; padding-top:7px;">
                    Price Range

                </div>
                <div class="col-lg-9" style="">
                    <section data-ticks="true" data-range-slider class="range-slider" step="0.5" ng-model="range" min="0" max="max"></section>

                    <div>Current model: {{range}}</div>

                     <!-- <ul class="from-to">
                        <li><label>From:</label><input type="number" ng-model="range.from"/></li>
                        <li><label>To:</label><input type="number" ng-model="range.to"/></li>

                    </ul> -->
                </div>
            </div>


                <div class="col-lg-3">
            <div class="row well">
                  
                </div>
                <div class="col-lg-3">
                  
                </div>
                <div class="col-lg-3">
                  
                </div>
                <div class="col-lg-3">
                  
                </div>
            </div>
            <div class="row well">
                <div class="col-lg-3">
                  
                </div>
                <div class="col-lg-3">
                  
                </div>
                <div class="col-lg-3">
                  
                </div>
                <div class="col-lg-3">
                  
                </div>
            </div>
            <div class="row well">
                <div class="col-lg-3">
                  
                </div>
                <div class="col-lg-3">
                  
                </div>
                <div class="col-lg-3">
                  
                </div>
                <div class="col-lg-3">
                  
                </div>
            </div>
            

          </div>

          <div class="col-lg-5 well" style="border-radius:0px;">
            <div id="map" style="height:100% !important; width:100% !important;"></div>
          </div>

        </div>

      </div>
    
  </body>

</html>
