<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./head %>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/gmaps.js"></script>
    <script type="text/javascript" src="js/prettify.js"></script>
    <link href='//fonts.googleapis.com/css?family=Convergence|Bitter|Droid+Sans|Ubuntu+Mono' rel='stylesheet' type='text/css' />
    <link href='css/style.css' rel='stylesheet' type='text/css' />
    <link href='css/prettify.css' rel='stylesheet' type='text/css' />
    <link href='css/example.css' rel='stylesheet' type='text/css' />
    <script src="js/underscore.js"></script>
    <script src="js/ngRangeSlider.js"></script>
    <link rel='stylesheet' href='css/Default.css'/>

    <!-- <script src="https://rawgit.com/allenhwkim/angularjs-google-maps/master/build/scripts/ng-map.js"></script> -->
    <!-- <script src="js/ng-map.js"></script> -->
    <!-- <script src="js/markerclusterer.js"></script> -->
    <link href='css/custom-marker.css' rel='stylesheet' type='text/css' />

  </head>



  <body class="body full-body" ng-app="airBnB" ng-cloak ng-controller="searchListingController as vm" ng-init="init('<%= data %>')" id="div1">

    <div class="container-fluid well">
      <header>
            <% include ./header %>
      </header>
    </div>

      <input type="hidden" id="wow" >
      

        <div value="filteredResults" on-change="myFunc()"></div>
    

     {{filteredResults}}

     <h4><%= JSON.parse(data).results[0].latitude%></h4>

     <h3>{{data.centerLatLng.center_lat}}</h3>
      
      <!-- <script type="text/javascript">

        // var x = document.getElementById('wow').value;
        // console.log(x);

        var map;



        $(document).ready(function(){

          // var scope = angular.element("#div1").scope();

          // console.log(scope.filteredResults);

          prettyPrint();

          var retrievedData = <%- (data)%>;
          // console.log("retrievedData", retrievedData);

          //These lat and long values centers the map on the page wherever called.
          map = new GMaps({
            div: '#map',
            zoom: 12,
            lat: retrievedData.centerLatLng.center_lat,
            lng: retrievedData.centerLatLng.center_lng
          });

          
          for(var i = 0 ; i < retrievedData.results.length ; i++){
            map.drawOverlay({
              lat: retrievedData.results[i].latitude,
              lng: retrievedData.results[i].longitude,
              content: '<div class="overlay">$<b>'+retrievedData.results[i].daily_price+'</b><div class="overlay_arrow above"></div></div>'
            });
          }

        });
      </script> -->


      <div class="container-fluid" style="border-radius:0px; padding:0px;">
        
        <div class="row"  style="border-radius:0px; padding:0px;">
          
          <div class="col-lg-7 " style="border-radius:0px; padding: 20px 20px 20px 20px;">
            <div class="row" style="padding-left:0px; border-bottom: 1px solid #AAAAAA; padding-bottom:20px;">
                <div class="col-lg-3" style="padding-left:0px; padding-top:7px;">
                    Dates
                </div>
                <div class="col-lg-3">
                  <div style="border: 1px solid #AAAAAA; height: 37px; width:90%; border-radius: 2px;">
                    <input type="text" placeholder="Check In" id="checkInPlaceholder" style="height: 35px; width:80%; border:none; margin-left:10px;">
                  </div>
                </div>
                <div class="col-lg-3">
                  <div style="border: 1px solid #AAAAAA; height: 37px; width:90%; border-radius: 2px;">
                    <input type="text" placeholder="Check Out" id="checkInPlaceholder" style="height: 35px; width:80%; border:none; margin-left:10px;">
                  </div>
                </div>
                <div class="col-lg-3">
                  <div style="border: 1px solid #AAAAAA; height: 37px; width:90%; border-radius: 2px; padding-left:15px;">
                    <select class="selectpicker guest-dropdown" style="width:100%;">
                      <option>1 guest</option>
                      <hr class="seperator" />
                      <option>2 guests</option>
                      <hr class="seperator" />
                      <option>3 guests</option>
                      <hr class="seperator" />
                      <option>4 guests</option>
                      <hr class="seperator" />
                      <option>5 guests</option>
                      <hr class="seperator" />
                      <option>6 guests</option>
                      <hr class="seperator" />
                      <option>7 guests</option>
                      <hr class="seperator" />
                      <option>8 guests</option>
                      <hr class="seperator" />
                      <option>9 guests</option>
                      <hr class="seperator" />
                      <option>10 guests</option>
                    </select>
                  </div>                  
                </div>
            </div>
            <div class="row " style="padding-left:0px; padding-bottom:20px; margin-top:20px; border-bottom: 1px solid #AAAAAA;">
                <div class="col-lg-3" style="padding-left:0px; padding-top:7px;">
                    Room Type <i class="fa fa-question-circle" style="margin-top:-2px;"></i>
                </div>
                <div class="col-lg-3" style="">
                  <div style="border: 1px solid #AAAAAA; height: 37px; width:90%; border-radius: 2px; padding:4px; background-color:#EDEFED;">
                    <i class="fa fa-home" style="margin-top:-2px; margin-right:15px; margin-left: 10px; display:inline-block;"></i>Entire Home<input type="checkbox" id="home" style="margin-left:20px; margin-top:;"/>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div style="border: 1px solid #AAAAAA; height: 37px; width:90%; border-radius: 2px; padding:4px; background-color:#EDEFED;">
                    <i class="fa fa-book" style="margin-top:-2px; margin-right:15px; margin-left: 10px; display:inline-block;"></i>Private Room<input type="checkbox" id="home" style="margin-left:20px; margin-top:;"/>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div style="border: 1px solid #AAAAAA; height: 37px; width:90%; border-radius: 2px; padding:4px; background-color:#EDEFED;">
                    <i class="fa fa-share" style="margin-top:-2px; margin-right:15px; margin-left: 10px; display:inline-block;"></i>Shared Room<input type="checkbox" id="home" style="margin-left:15px; margin-top:;"/>
                  </div>                  
                </div>

                 <!-- <%= data %> -->
            </div>
            <div class="row " style="padding-left:0px; margin-top:20px;">
                <div class="col-lg-3" style="padding-left:0px; padding-top:7px;">
                    Price Range

                </div>
                <div class="col-lg-9" style="">
                    <section data-ticks="true" data-range-slider class="range-slider" step="0.5" ng-model="range" min="0" max="max"></section>

                    <div>Current model: {{range}}</div>

                     <!-- <ul class="from-to">
                        <li><label>From:</label><input type="number" ng-model="range.from"/></li>
                        <li><label>To:</label><input type="number" ng-model="range.to"/></li>

                    </ul> -->
                </div>
            </div>


                <div class="col-lg-3">
            <div class="row well">
                  
                </div>
                <div class="col-lg-3">
                  
                </div>
                <div class="col-lg-3">
                  
                </div>
                <div class="col-lg-3">
                  
                </div>
            </div>
            <div class="row well">
                <div class="col-lg-3">
                  
                </div>
                <div class="col-lg-3">
                  
                </div>
                <div class="col-lg-3">
                  
                </div>
                <div class="col-lg-3">
                  
                </div>
            </div>
            <div class="row well">
                <div class="col-lg-3">
                  
                </div>
                <div class="col-lg-3">
                  
                </div>
                <div class="col-lg-3">
                  
                </div>
                <div class="col-lg-3">
                  
                </div>
            </div>
            

          </div>

          <div class="col-lg-5 well" style="border-radius:0px;">
            <!-- <div id="map" style="height:100% !important; width:100% !important;"></div> -->
            <!-- <ng-map zoom="12" center="[40.74, -74.18]">
              <marker position="[40.71, -74.21]" title="hello"></marker>
              <marker position="[40.72, -74.20]" title="marker" animation="Animation.DROP"></marker>
              <marker position="[40.73, -74.19]" title="drag me" draggable="true"></marker>
              <marker position="[40.74, -74.18]" title="how" animation="Animation.BOUNCE"></marker>
              <marker position="[40.75, -74.17]" title="are"></marker>
              <marker position="[40.76, -74.16]" title="you"
                icon="https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png"></marker>
              <marker position="[40.77, -74.15]" title="from"></marker>
              <marker position="[40.78, -74.14]" title="allen"></marker>
            </ng-map> -->

            {{data.centerLatLng.center_lat}}
            {{data.centerLatLng.center_lng}}

            <ng-map zoom="11" center="[{{data.centerLatLng.center_lat}}, {{data.centerLatLng.center_lng}}]" style="height:550px;">
              <!-- <custom-marker position="[{{p[0]}}, {{p[1]}}]"> -->
              <!-- <custom-marker position="[{{p[2]}}, {{p[3]}}]" ng-repeat="p in vm.positions"> -->
              <!-- <custom-marker position="[37.333324 , -121.88459]"> -->
              <div ng-repeat="l in filteredResults">
                <marker position="[{{l.latitude}}, {{l.longitude}}]" animation="Animation.BOUNCE" >
                  <!-- <div class="cm">
                    
                    {{l.latitude}}<br>
                    {{l.longitude}}
                  </div> -->
                </marker>
              </div>
            </ng-map>
          </div>

        </div>

      </div>
    
  </body>

</html>
