<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./head %>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    
    <link href='css/style.css' rel='stylesheet' type='text/css' />
    <link href='css/example.css' rel='stylesheet' type='text/css' />
    
    <link rel='stylesheet' href='css/Default.css'/>

    <script src="modules/ngmap/spec/lib/markerclusterer.js"></script>
    <link href='css/custom-marker.css' rel='stylesheet' type='text/css' />
    <link href="css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="modules/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
    <script src="modules/bootstrap-daterangepicker/moment.js"></script>
<script src="modules/bootstrap-daterangepicker/daterangepicker.js"></script>

    <style>
      .toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
      .toggle.ios .toggle-handle { border-radius: 20px; }
    </style>
    

  </head>



  <body class="body full-body" ng-app="airBnB" ng-cloak ng-controller="searchListingController as vm" ng-init="init('<%= data %>')" id="div1" style="background-color:white;">

    <div class="container-fluid">
      <header>
            <% include ./header %>
      </header>
    </div>

      <div class="container-fluid" style="border-radius:0px; padding:0px; margin-top:5px;">
        
        <div class="row"  style="border-radius:0px; padding:0px;">
          
          <div class="col-lg-7 " style="border-radius:5px; padding: 20px 20px 20px 20px;">
            

            <div class="row-fluid" style="padding-bottom:50px;">
                <div class="col-lg-3" style="padding-left:0px; padding-top:7px;">
                    Dates
                </div>
                <div class="col-lg-6" style="width:48%;">
                  <div style="border: 1px solid #AAAAAA; height: 37px; width:90%; border-radius: 2px;">
                	<input date-range-picker type="text" class="form-control date-picker search-bar-placeholder search-placeholder" style="height: 30px; width:90%; border:none; margin-left:10px;" placeholder="Check In			→ Check Out" name="daterange" ng-model="daterange">
                  </div>
                </div>
                <div class="col-lg-3">
                  	<div class="address-box search-listing-box">
			    		<div class="search-listing-text"><input type="text" class="form-control search-listing-text search-placeholder" placeholder="Guests" ng-model="item.item_count"/></div>
						<span ng-click="item.item_count = item.item_count - 1" class="count-main-button btn button-radius">-</span>
						<span ng-click="item.item_count = item.item_count + 1" class="count-main-button btn button-radius" style="border-right:none;">+</span>
					</div>
                </div>
            </div>

            <div style="border-bottom:1px solid #EDEFED; margin-bottom:15px;">
              
            </div>
            
            <div class="row-fluid"  style="padding-bottom:50px;">
                <div class="col-lg-3" style="padding-left:0px; padding-top:7px;">
                    Room Type <i class="fa fa-question-circle" style="margin-top:-2px;"></i>
                </div>
                <div class="col-lg-3">
                  <div style="border: 1px solid #AAAAAA; margin-right: 10px;height: 37px; width:95%; padding:4px; background-color: #edefed;border: 1px solid #dce0e0;border-radius: 0;">
                  	<div class="col-md-2" style="line-height: 26px;"><i class="fa fa-home" style="margin-top:-2px; margin-right:15px; margin-left: 10px; display:inline-block;font-size:16px;"></i></div>
                  	<div class="col-md-7" style="line-height: 26px;"><span style="color:#484848;font-size:14px;padding-left: 5px;">Entire Home</span></div>
                  	<div class="col-md-3" style="line-height: 26px;color:#fff;"><input type="checkbox" id="home" ng-model="entire_home" style="margin-top:7px;" ng-click="temp()"/></div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div style="border: 1px solid #AAAAAA; height: 37px; width:95%; padding:4px; background-color: #edefed;border: 1px solid #dce0e0;border-radius: 0;">
                  	<div class="col-md-2" style="line-height: 26px;"><i class="fa fa-book" style="margin-top:-2px; margin-right:15px; margin-left: 10px; display:inline-block;"></i></div>
                  	<div class="col-md-7" style="line-height: 26px;"><span style="color:#484848;font-size:14px;padding-left: 5px;">Private Room</span></div>
                  	<div class="col-md-3" style="line-height: 26px;"><input type="checkbox" id="home" ng-model="private_room" style="margin-top:7px;"/></div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div style="border: 1px solid #AAAAAA; height: 37px; width:95%; padding:4px; background-color: #edefed;border: 1px solid #dce0e0;border-radius: 0;">
                    <div class="col-md-2" style="line-height: 26px;"><i class="fa fa-share" style="margin-top:-2px; margin-right:15px; margin-left: 10px; display:inline-block;"></i></div>
                  	<div class="col-md-7" style="line-height: 26px;"><span style="color:#484848;font-size:14px;padding-left: 5px;">Shared Room</span></div>
                  	<div class="col-md-3" style="line-height: 26px;"><input type="checkbox" id="home" ng-model="shared_room" style="margin-top:7px;"/></div>
                  </div>                  
                </div>
            </div>

            <div style="border-bottom:1px solid #EDEFED; margin-bottom:15px;">
              
            </div>

            <div class="row-fluid" style="padding-bottom:70px;">
              
                <div class="col-lg-3" style="padding-left:0px;">
                    Price Range

                </div>
                <div class="col-lg-9" style="">
                    <section data-ticks="true" data-range-slider class="range-slider" step="0.5" ng-model="range" min="min_price" max="max_price"></section>
                    <!-- <div>Current model: {{range}}</div> -->
                    <!-- <div> <span><b>${{range.from}}</b></span> <span style="margin-left:467px; position:fixed;"><b>${{range.to}}</b></span> </div> -->
                    <div class="row-fluid rangetext">
                        
                        <div class="col-lg-2">
                          <span class=" glyphicon glyphicon-usd"></span>{{range.from}}
                        </div>
                        <div class="col-lg-8">
                          
                        </div>
                        <div class="col-lg-2 text-right">
                          <span class=" glyphicon glyphicon-usd"></span>{{range.to}}
                        </div>

                    </div>
                </div>
            
            </div>
          
            <div style="border-bottom:1px solid #EDEFED; margin-bottom:20px;">
              
            </div>



            <div class="row-fluid" style="padding-bottom:40px;">
              
                <div class="col-lg-3" style="padding-left:0px;">
                    
                    <span class="glyphicon glyphicon-flash" style="color:#FFB400;"></span> Instant Book

                </div>
                <div class="col-lg-7" style="">
                    Listings you can book without waiting for host approval.
                </div>
                <div class="col-lg-2 text-right" style="padding-left:0px; padding-top:-15px;">
                    <!--<input type="checkbox" checked data-toggle="toggle" data-style="ios" ng-model="instant_book" style="background-color: #00A699 !important;">-->
                    <input type="checkbox" ng-model="instant_book" style="margin-left:15px; margin-top:;"></input>
                </div>
            
            </div>
          
            <div style="border-bottom:1px solid #EDEFED; margin-bottom:15px;">
              
            </div>



            <div class="row-fluid" style="padding-bottom:60px;">
              
                <div class="col-lg-6" style="padding-left:0px;">
                    
                    <div class="btn btn-default"><b>Filters</b></div><br>
                    <div style="margin-top:10px; color:#898989;"><span class="fa fa-usd"></span> Additional fees apply. Taxes may be added.</div>

                </div>
                <div class="col-lg-6 text-right" style="padding-left:0px; padding-top:-15px;">
                    <div class="col-lg-10" style="font-size:13px;">
                      <b>Only 18% of listings are left for these dates.</b>
                      <div style="margin-top:0px; color:#898989;"> We recommend booking a place soon.</div>
                    </div>
                    <div class="col-lg-2">
                      <img class="images" src="images/ic_dates_trend-58a970e5258ad10deefb384559ed8d14.png" alt="here" style="margin-top:-10px; padding:10px;">
                    </div>
                </div>
            
            </div>


            <div class="row-fluid" style="padding-bottom:60px; margin-top:20px; margin-bottom:40px;position">
              
                <div class="col-lg-6" style="padding-left:0px; margin-bottom:20px;" ng-repeat="l in filteredResults">
                    
                    <div class="imgHolder">
                      <a href="/viewListing?listing={{l.listing_id}}"> <img class="images" src="images/84ae415b-35c4-4abc-b594-7ba58f86990e.jpg" alt="here" ></a>
                      <div class="leftLabel">
                        <span class="textProp">
                          <span class=" glyphicon glyphicon-usd" style="font-size:14px;"></span>
                          {{l.daily_price}}

                        </span>

                        <span class="glyphicon glyphicon-flash" style="color:#FFB400;" ng-show="l.is_bid"></span>
                      </div>
                      <div>
                          <img class="rightLabel" src="images/user_one.jpeg" width="65" height="65" alt="here">
                      </div>

                    </div>

                    <div>
                      <span style="margin-left:10px; font-size:16px; font-weight: 400;">{{l.title}}</span><br>
                      <span style="margin-left:10px; font-size:12px; color:#898989;">{{l.room_type}}</span>&nbsp;&nbsp;&nbsp;&nbsp;.    
                      <span style="margin-left:10px; font-size:12px; color:#898989;">{{l.accommodations}} guest(s)</span>
                      <span style="margin-left:10px; font-size:12px; color:#008489;"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span></span>
                      <span style="margin-left:10px; font-size:12px; color:#898989;">23 reviews</span>


                    </div>
                </div>
                <div class="row-fluid no-listing" style="margin: auto; display: inherit">
                	No Listings Found for this place
                </div>


            </div>
          
            <div class="row-fluid" style="padding-bottom:60px; border: 0px solid black;">

                <div class="col-lg-12 ">
                  
                      <!-- {{filteredResults}} -->
               
                </div>

            </div>

            <div class="row" style="border-bottom: 1px solid #DCE0E0; margin-top: 45px;">
              
            </div>

            <div class="row" style="border-bottom: 0px solid #DCE0E0; margin-top: 45px; color: #787878">
                United States  &nbsp;&nbsp; >  &nbsp;&nbsp; {{data.results[0].state}} &nbsp;&nbsp;  >  &nbsp;&nbsp; {{data.results[0].city}}
            </div>
          </div>


          <div class="col-lg-5" style="border-radius:0px; padding:0px;">

            <ng-map zoom="11" center="[{{data.centerLatLng.center_lat}}, {{data.centerLatLng.center_lng}}]" style="height:90%; width:550px; position:fixed; margin:0px;">
              <div ng-repeat="l in filteredResults">
                <custom-marker position="[{{l.latitude}}, {{l.longitude}}]" animation="Animation.BOUNCE" >
                  <div class="cm">
                    
                    <b style="color:white;">${{l.daily_price}}</b> <span class="glyphicon glyphicon-flash" style="color:yellow;" ng-show="l.is_bid"></span>
                  </div>
                </custom-marker>
              </div>
            </ng-map>
          </div>

        </div>

      </div>
  	</body>

</html>
