<!DOCTYPE html>
<html lang="en">
	<head>
    	<% include ./head %>

		<style>
		    input{
		       border:2px solid #AAAAAA;
		    }
		</style>
		<link href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
		<script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
		
		<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
		<script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>
	</head>

	<body class="body full-body" ng-app="airBnB" ng-cloak>

	<main>
		<div class="container-fluid">
			<!-- Header -->
			<header><% include ./header %></header>
		</div>

		<div class="container-fluid" style="margin-top: 62px ; padding:0px;">
			
			<div class="col-lg-7" style="margin:0px;">
				
				<div class="row-fluid" style="margin-top:20px; margin-left:25px; margin-bottom: 75px;">

					<div>
						<div class="col-lg-3">
							Dates
						</div>
						<div class="col-lg-3">
							<div class='input-group date' id='datetimepicker1'>
			                    <input type='text' class="form-control input-group-addon" placeholder="Check in" style="border:1px solid #AAAAAA !important; border-radius:2px; background-color:white; width:80%; height:32px;"/>
			                </div>
					    	<script type="text/javascript">
					            $(function () {
					                $('#datetimepicker1').datetimepicker();
					            });
					        </script>
						</div>
						<div class="col-lg-3">
							<div class='input-group date' id='datetimepicker2'>
			                    <input type='text' class="form-control input-group-addon" placeholder="Check out" style="border:1px solid #AAAAAA !important; border-radius:2px; background-color:white; width:80%; height:32px;"/>
			                </div>
					    	<script type="text/javascript">
					            $(function () {
					                $('#datetimepicker2').datetimepicker();
					            });
					        </script>
						</div>
						<div class="col-lg-3 right-search-box">

							<select class="selectpicker guest-dropdown-searchListing">
							  <option>1 guest</option>
							  <hr class="seperator" />
							  <option>2 guests</option>
							  <hr class="seperator" />
							  <option>3 guests</option>
							  <hr class="seperator" />
							  <option>4 guests</option>
							  <hr class="seperator" />
							  <option>5 guests</option>
							  <hr class="seperator" />
							  <option>6 guests</option>
							  <hr class="seperator" />
							  <option>7 guests</option>
							  <hr class="seperator" />
							  <option>8 guests</option>
							  <hr class="seperator" />
							  <option>9 guests</option>
							  <hr class="seperator" />
							  <option>10 guests</option>
							</select>
							
						</div>
					</div>
				</div>

				<div class="row-fluid" style="margin-top:20px; margin-left:25px; margin-bottom: 100px;">
					<div class="col-lg-1" style="border-bottom: 1px solid #AAAAAA;"></div>
					<div class="col-lg-2" style="border-bottom: 1px solid #AAAAAA;"></div>
					<div class="col-lg-9" style="border-bottom: 1px solid #AAAAAA;"></div>
				</div>
				

				<div class="row-fluid" style="margin-top:100px; margin-left:25px; margin-bottom: 150px;">
				
					<div style="border-bottom: 0px solid #AAAAAA;">
						<div class="col-lg-3" style="display: inline-block;">
							Room Type <i class="fa fa-question-circle" style="margin-top:-2px;"></i>
						</div>
						<div class="col-lg-3" style="margin-top:-15px;">
							<div style="border:1px solid #EDEFED; height: 32px; width:80%; padding:6px 6px 6px 10px;" class="checkbox">
								<i class="fa fa-home" style="margin-top:-2px; display: inline-block;"></i> Entire Home
								<input type="checkbox" value="" style="margin-left: 15px; color: white; margin-top: 2px; width:17px; height: 17px;">
							</div>
						</div>
						<div class="col-lg-3" style="margin-top:-15px;">
							<div style="border:1px solid #EDEFED; height: 32px; width:80%; padding:6px 6px 6px 10px;" class="checkbox">
								<i class="fa fa-address-book-o" style="margin-top:-2px; display: inline-block;"></i> Private Room
								<input type="checkbox" value="" style="margin-left: 10px; color: white; margin-top: 2px; width:17px; height: 17px;">
							</div>							
						</div>
						<div class="col-lg-3" style="margin-top:-15px;">
							<div style="border:1px solid #EDEFED; height: 32px; width:80%; padding:6px 6px 6px 10px;" class="checkbox">
								<i class="fa fa-slideshare" style="margin-top:-2px; display: inline-block;"></i> Shared Room
								<input type="checkbox" value="" style="margin-left: 9px; color: white; margin-top: 2px; width:17px; height: 17px;">
							</div>							
						</div>
					</div>
				</div>

				<div class="row-fluid" style="margin-top:20px; margin-left:25px; margin-bottom: 175px;">
					<div class="col-lg-1" style="border-bottom: 1px solid #AAAAAA;"></div>
					<div class="col-lg-2" style="border-bottom: 1px solid #AAAAAA;"></div>
					<div class="col-lg-9" style="border-bottom: 1px solid #AAAAAA;"></div>
				</div>
				

				<div class="row-fluid" style="margin-top:100px; margin-left:25px; margin-bottom: 25px;">
				
					<div style="border-bottom: 0px solid #AAAAAA;">
						<div class="col-lg-3" style="display: inline-block;">
							Price Range
							<script>
								
							</script>

						</div>
						<div class="col-lg-9" style="margin-top:-15px;">
							<div style="border:1px solid #EDEFED; height: 32px; width:80%; padding:6px 6px 6px 10px;" class="checkbox">
								<input id="ex16b" type="text"/><br/>
							</div>
						</div>
					</div>
				</div>

			</div>
	
			<div class="col-lg-5 well" style="margin:0px;">
				
			</div>
	
		</div>
	</main>
	</body>

</html>
