<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ./head %>
	</head>

	<body class="body full-body" ng-app="airBnB" ng-controller="viewListing" ng-cloak>
	<!-- Header -->
	<header><% include ./header %></header>
	<!-- Main -->
	<main ng-app="airBnB">
		
	</main>
	</body>
</html>