<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ./head %>
	</head>

	<body class="body full-body" ng-app="airBnB" ng-cloak>
	<!-- Header -->
	<header><% include ./header %></header>
	<!-- Main -->
	<main ng-controller="viewListing" ng-init="init('<%= data %>')">
		<div class="row cover-image-container cover-image-margin-top">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-12">
		                <div class="row">
	                		<div style="background-image: url(data:{{currentPhoto.photos.filetype}};base64,{{currentPhoto.photos.base64}});" class="cover-image">
	                	</div>
	                	<span class="chevronLabelLeft glyphicon glyphicon-chevron-left" ng-click="previousPhoto()"></span>
                    	<span class="chevronLabelRight glyphicon glyphicon-chevron-right" ng-click="nextPhoto()"></span>
		            </div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-2" style="margin-bottom:100px;"></div>
			<div class="col-md-10" style="margin-top:24px;margin-bottom:100px;">
				<div class="row">
					<div class="col-md-7">
						<div class="row">
							<div class="col-md-8">
								<div class="row">
									<span class="title-text">{{data.title}}</span>
								</div>
								<div class="row">
									<span class="title-location-text">{{data.city}},{{data.state}}, United States</span>
								</div>
								<div class="row">
									<div star-rating ng-model="data.avg_rating[0].average_rating" max="5" readonly="true" class="profile-large-box" style="border: none"></div>
									<span>&nbsp</span>
									<span class="title-location-text">{{data.ratings.length}} {{data.ratings.length === 1 ? "Review" : "Reviews"}}</span>
								</div>
							</div>
							<div class="col-md-4 text-center">
								<img class="photo-round" data-ng-src="data:{{data.owner_photo[0].photo.filetype}};base64,{{data.owner_photo[0].photo.base64}}">
								<div class="title-location-text" style="margin-top: 10px;">{{data.f_name}}</div>
							</div>
						</div>
						<div class="seperator"></div>
						<div class="row">
							<div class="col-md-3 text-center icons">
								<div><i class="fa fa-home" aria-hidden="true"></i></div>
								<div class="title-location-text"><span>{{data.room_type}}</span></div>
							</div>
							<div class="col-md-3 text-center icons">
								<div><i class="fa fa-users" aria-hidden="true"></i></div>
								<div class="title-location-text"><span>{{data.accommodations}} Guest</span></div>
							</div>
							<div class="col-md-3 text-center icons">
								<div><span class="glyphicon glyphicon-bed"></span></div>
								<div class="title-location-text"><span>{{data.bedrooms}} Bedroom</span></div>
							</div>
							<div class="col-md-3 text-center icons">
								<div><i class="fa fa-bed" aria-hidden="true"></i></div>
								<div class="title-location-text"><span>{{data.beds}} Bed</span></div>
							</div>
						</div>
						<div class="seperator"></div>
						<div class="row text-margin-bottom">
							<span class="about-text">About this listing</span>
						</div>
						<div class="row">
							<span class="description-text">{{data.description}}</span>
						</div>
						<div class="seperator"></div>
						<div class="row">
							<div class="col-md-4">
								<div class="left-column-text"><span>The space</span></div>
							</div>
							<div class="col-md-4">
								<div class="row text-margin-bottom">
									<span class="description-text">Accommodates: <span class="left-column-text">{{data.accommodations}}</span></span>
								</div>
								<div class="row text-margin-bottom">
									<span class="description-text">Bedrooms: <span class="left-column-text">{{data.bedrooms}}</span></span>
								</div>
								<div class="row text-margin-bottom">
									<span class="description-text">Beds: <span class="left-column-text">{{data.beds}}</span></span>
								</div>
								<div class="row text-margin-bottom">
									<span class="description-text">Bathrooms: <span class="left-column-text">{{data.bathrooms}}</span></span>
								</div>
							</div>
							<div class="col-md-4">
								<div class="row text-margin-bottom">
									<span class="description-text">Check In: <span class="left-column-text">{{data.checkin}}</span></span>
								</div>
								<div class="row text-margin-bottom">
									<span class="description-text">Check Out: <span class="left-column-text">{{data.checkout}}</span></span>
								</div>
								<div class="row text-margin-bottom">
									<span class="description-text">Property type: <span class="left-column-text">{{data.property_type}}</span></span>
								</div>
								<div class="row text-margin-bottom">
									<span class="description-text">Room type: <span class="left-column-text">{{data.room_type}}</span></span>
								</div>
							</div>
						</div>
						<div class="seperator"></div>
						<div class="row">
							<div class="col-md-4">
								<div class="left-column-text"><span>Amenities</span></div>
							</div>
							<div class="col-md-4">
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										<i class="fa fa-cutlery icon-margin-right" aria-hidden="true"></i>
									</div>
									<div class="col-md-10">
										<span class="description-text">Kitchen</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										<i class="fa fa-globe icon-margin-right" aria-hidden="true"></i>
									</div>
									<div class="col-md-10">
										<span class="description-text">Internet</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										<i class="fa fa-tv icon-margin-right" aria-hidden="true"></i>
									</div>
									<div class="col-md-10">
										<span class="description-text">TV</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										<i class="fa fa-shower icon-margin-right" aria-hidden="true"></i>
									</div>
									<div class="col-md-10">
										<span class="description-text">Essentials</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										<i class="fa fa-thermometer-0 icon-margin-right" aria-hidden="true"></i>
									</div>
									<div class="col-md-10">
										<span class="description-text">Heating</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										<i class="fa fa-snowflake-o icon-margin-right" aria-hidden="true"></i>
									</div>
									<div class="col-md-10">
										<span class="description-text">Air conditioning</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										<i class="material-icons">local_laundry_service</i>
									</div>
									<div class="col-md-10">
										<span class="description-text">Washer</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										<i class="material-icons">local_laundry_service</i>
									</div>
									<div class="col-md-10">
										<span class="description-text">Dryer</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										<i class="fa fa-product-hunt icon-margin-right" aria-hidden="true"></i>
									</div>
									<div class="col-md-10">
										<span class="description-text">Free parking on premises</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										<i class="fa fa-wifi icon-margin-right" aria-hidden="true"></i>
									</div>
									<div class="col-md-10">
										<span class="description-text">Wireless Internet</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										<i class="fa fa-tv icon-margin-right" aria-hidden="true"></i>
									</div>
									<div class="col-md-10">
										<span class="description-text">Cable TV</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										<i class="fa fa-cutlery icon-margin-right" aria-hidden="true"></i>
									</div>
									<div class="col-md-10">
										<span class="description-text">Breakfast</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										<i class="fa fa-paw icon-margin-right" aria-hidden="true"></i>
									</div>
									<div class="col-md-10">
										<span class="description-text">Pets allowed</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										<i class="fa fa-users icon-margin-right" aria-hidden="true"></i>
									</div>
									<div class="col-md-10">
										<span class="description-text">Family/kid friendly</span>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										<i class="fa fa-calendar-check-o icon-margin-right" aria-hidden="true"></i>
									</div>
									<div class="col-md-10">
										<span class="description-text">Suitable for events</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										<i class="material-icons">smoking_rooms</i>
									</div>
									<div class="col-md-10">
										<span class="description-text">Smoking allowed</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										<i class="fa fa-wheelchair icon-margin-right" aria-hidden="true"></i>
									</div>
									<div class="col-md-10">
										<span class="description-text">Wheelchair accessible</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										
									</div>
									<div class="col-md-10">
										<span class="description-text crossed">Elevator in building</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										<i class="fa fa-fire icon-margin-right" aria-hidden="true"></i>
									</div>
									<div class="col-md-10">
										<span class="description-text">Indoor fireplace</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										<i class="material-icons">snooze</i>
									</div>
									<div class="col-md-10">
										<span class="description-text">Buzzer/Wireless Intercom</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										<i class="material-icons">room_service</i>
									</div>
									<div class="col-md-10">
										<span class="description-text">Doorman</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										<i class="material-icons">pool</i>
									</div>
									<div class="col-md-10">
										<span class="description-text">Pool</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										<i class="fa fa-bathtub icon-margin-right" aria-hidden="true"></i>
									</div>
									<div class="col-md-10">
										<span class="description-text">Hot tub</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										<i class="material-icons">dumbbell</i>
									</div>
									<div class="col-md-10">
										<span class="description-text crossed">Gym</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										<i class="icon icon-hair-dryer" aria-hidden="true"></i>
									</div>
									<div class="col-md-10">
										<span class="description-text crossed">Hangers</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										
									</div>
									<div class="col-md-10">
										<span class="description-text crossed">Iron</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										
									</div>
									<div class="col-md-10">
										<span class="description-text crossed">Hair dryer</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										<i class="fa fa-laptop icon-margin-right" aria-hidden="true"></i>
									</div>
									<div class="col-md-10">
										<span class="description-text">Laptop friendly</span>
									</div>
								</div>
							</div>
						</div>
						<div class="seperator"></div>
						<div class="row">
							<div class="col-md-4">
								<div class="left-column-text"><span>Safety features</span></div>
							</div>
							<div class="col-md-4">
								<div class="row text-margin-bottom">
									<div class="col-md-12">
										<span class="description-text">Smoke detector</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-12">
										<span class="description-text">Carbon monoxide detector</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-12">
										<span class="description-text">First aid kit</span>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="row text-margin-bottom">
									<div class="col-md-12">
										<span class="description-text">Safety card</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-12">
										<span class="description-text">Fire extinguisher</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-12">
										<span class="description-text">Lock on bedroom door</span>
									</div>
								</div>
							</div>
						</div>
						<div class="seperator"></div>
						<div class="row">
							<div class="col-md-4">
								<div class="left-column-text"><span>House rules</span></div>
							</div>
							<div class="col-md-8">
								<div class="row text-margin-bottom">
									<span class="description-text">{{data.house_rules}}</span>
								</div>
							</div>
						</div>
						<div class="seperator"></div>
						<div class="row" style="margin-bottom:40px;">
							<span class="about-text">{{data.ratings.length}} {{data.ratings.length === 1 ? "Review" : "Reviews"}}</span>
							<span>&nbsp</span>
							<div star-rating ng-model="data.avg_rating[0].average_rating" max="5" readonly="true" class="profile-large-box" style="border: none"></div>
							<span>&nbsp</span>
						</div>
						<div class="review-seperator"></div>
						<div class="row text-margin-bottom" ng-show="data.ratings.length === 0">
							No Reviews yet!
						</div>
						<div class="row text-margin-bottom" ng-repeat = "rating in data.ratings">
							<div class="col-md-2">
								<div class="photo-round"><a href=""><img data-ng-src="data:{{rating.profilePic[0].photo.filetype}};base64,{{rating.profilePic[0].photo.base64}}" height="70px" width="70px"></a></div>
							</div>
							<div class="col-md-10">
								<div class="row">
									<div class="left-column-text" style="margin-top:10px;">{{rating.f_name}} {{rating.l_name}}</div>
								</div>
								<div class="row">
									<div class="review-subtitle-text">{{rating.host_rating_timestamp | date:'MM-dd-yyyy'}}</div>
								</div>
								<div star-rating ng-model="rating.host_rating" max="5" readonly="true" class="profile-large-box" style="border: none"></div>
<<<<<<< HEAD
							</div>
							<div class="row">
								<span class="description-text">{{rating.host_review}}</span>
=======
>>>>>>> 5cebff127a82e747919297c4f96506080cd96ffb
							</div>
							<div class="row">
								<span class="description-text">{{rating.host_review}}</span>
							</div>
							<div ng-repeat="photo in rating.review_photos" class="col-md-4" style="padding: 10px;">
						        <img data-ng-src="data:{{photo.filetype}};base64,{{photo.base64}}" style="height: 180px; width: 100%; border-radius: 4px;"/>
						    </div>
						</div>
						<div class="seperator"></div>
					</div>
					<div class="col-md-5">
						<div class="row book_it_container">
							<div class="col-md-12">
								<div class="row price-heading">
									<div class="col-md-8">
										<span class="price-head-text">{{data.daily_price | currency}}</span>
									</div>
									<div class="col-md-4">
										<span class="per-night-text pull-right">Per Night</span>
									</div>
								</div>
								<div class="row price-bottom">
									<div class="row">
										<div class="row">
											<label class="price-date-label">Check In ⟶ Check Out</label>
										</div>
										<div class="row price-date-box">
											<input type="text" class="form-control date-picker search-bar-placeholder" ng-model="chkInOutDate" placeholder="mm/dd/yyyy - mm/dd/yyyy" name="daterange" value="">
										</div>
										<div class="row">
											<label class="price-date-label">Guests</label>
										</div>
										<div class="row address-box price-guest-box">
									    	<div class="price-guest-text"><input type="text" class="form-control price-guest-text" placeholder="Guests" ng-model="noOfGuests"/></div>
											<span ng-click="noOfGuests = noOfGuests - 1" class="price-guest-button btn button-radius">-</span>
											<span ng-click="noOfGuests = noOfGuests + 1" class="price-guest-button btn button-radius" style="border-right:none;">+</span>
										</div>
										<div class="row" ng-show="data.is_bid == 1">
											<label class="price-date-label">Your Bid</label>
										</div>
										<div class="row address-box price-guest-box" ng-show="data.is_bid == 1">
											<input type="text" class="form-control price-guest-text"  ng-model="bid_amount" style="width:100%;" placeholder="Minimum Bid"/>
										</div>
										<div class="row" ng-show="data.is_bid == 1" data-toggle="modal" data-target=".Payment-modal-md">
											<button class="btn btn-primary book-button"  ng-click="requestBooking()">Request to Book</button>
										</div>
										<div class="row" ng-hide="data.is_bid == 1" data-toggle="modal" data-target=".Payment-modal-md">
											<button class="btn btn-primary book-button"  ng-click="instantBooking()">Instant Book</button>
										</div>
										<div class="row text-center">
											<span class="charged-text ">You won't be charged yet</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="add_payment_model" class="modal container fade Payment-modal-md" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		  					<div class="container modal-md" role="document" style="margin-top: 80px;margin-left: 90px;">
		  						<div class="row item-body">
									<div class="row item-head">Payment Methods<button data-dismiss="modal" class="remove-icon pull-right"><i class="fa fa-remove"></i></button></div>
									<div class="row item-content" style="background-color:#f5f5f5;">
										<div class="row">
<<<<<<< HEAD
											<div class="col-md-4 added-card-box" ng-repeat="card in data.card">
												<button ng-click="instantBooking(card.card_id)" class="btn btn-primary add-card-button">
=======
											<div class="col-md-4 added-card-box" ng-repeat="card in data[1]">
>>>>>>> 5cebff127a82e747919297c4f96506080cd96ffb
												<div class="row">
													<div class="added-card-text">{{card.card_number}}</div>
													<div class="added-card-text">{{card.exp}}</div>
												</div>
												<div class="row" style="margin-top: 40px;">
													<div class="col-md-9">
														<span class="added-card-text">Default Card</span><i class="fa fa-question-circle question-icon"></i>
													</div>
													<div class="col-md-3">
														<img src="../images/cards/mastercard.jpg" class="added-card-image">
													</div>
												</div>
<<<<<<< HEAD
												</button>
											</div>
											<button type="submit" ng-click="addcard()">
=======
											</div>
>>>>>>> 5cebff127a82e747919297c4f96506080cd96ffb
											<div class="col-md-4 second-box" data-toggle="modal" data-target=".addPayment-modal-md">
												<div class="row text-center">
													<i class="material-icons add-icon">add</i>
												</div>
<<<<<<< HEAD
												
=======
>>>>>>> 5cebff127a82e747919297c4f96506080cd96ffb
												<div class="row text-center">
													<span class="add-text">Add Payment Method</span>
												</div>
											</div>
<<<<<<< HEAD
											</button>
											<div class="col-md-4"></div>
										</div>
=======
											<div class="col-md-4"></div>
										</div>
										<div id="payment_model" class="modal container fade addPayment-modal-md" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
				  							<div class="modal-dialog container modal-md" role="document">
										  		<div class="row payment-box">
										  			<div class="row item-head border">Add New Payment Method</div>
										  			<div class="row payment-body">
										  				<div class="row bottom-space">
										  					<img src="../images/cards/visa.png" class="card-images">
										  					<img src="../images/cards/mastercard.jpg" class="card-images">
										  					<img src="../images/cards/amex.jpg" class="card-images">
										  					<img src="../images/cards/discover.png" class="card-images">
										  				</div>
										  				<div class="row bottom-space">
										  					<label class="credit-card-text">Card number *</label>
										  					<input type="text" ng-model="cc_no" ui-mask="9999 9999 9999 9999" class="credit-card-box">
										  				</div>
										  				<div class="row">
										  					<div class="col-md-3">
										  						<label class="credit-card-text">Expires on *</label>
										  					</div>
										  					<div class="col-md-3"></div>
										  					<div class="col-md-6">
										  						<label class="credit-card-text">Security code *</label>
										  					</div>
										  				</div>
										  				<div class="row bottom-space">
										  					<div class="col-md-3">
										  						<select ng-model="cc_month" ng-options="x for x in get_month" class="expiry-box">
										  						 	
																</select>
										  					</div>
										  					<div class="col-md-3">
										  						<select ng-model="cc_year" ng-options="x for x in get_year" class="expiry-box">
										  						 	
																</select>
										  					</div>
										  					<div class="col-md-6">
										  						<input type="text" ng-model="security_code" class="medium-box">
										  					</div>
										  				</div>
										  				<div class="row">
										  					<div class="col-md-6">
										  						<label class="credit-card-text">First name</label>
										  					</div>
										  					<div class="col-md-6">
										  						<label class="credit-card-text">Last name</label>
										  					</div>
										  				</div>
										  				<div class="row bottom-space">
										  					<div class="col-md-6">
										  						<input type="text" ng-model="first_name" class="medium-box">
										  					</div>
										  					<div class="col-md-6">
										  						<input type="text" ng-model="last_name" class="medium-box">
										  					</div>
										  				</div>
										  				<div class="row">
										  					<div class="col-md-6">
										  						<label class="credit-card-text">Postal code</label>
										  					</div>
										  					<div class="col-md-6">
										  						<label class="credit-card-text">Country</label>
										  					</div>
										  				</div>
										  				<div class="row bottom-space">
										  					<div class="col-md-6">
										  						<input type="text" ng-model="postal" class="medium-box">
										  					</div>
										  					<div class="col-md-6">
										  						<select class="country-box">
										  						 	<option>United States</option>
																</select>
										  					</div>
										  				</div>
										  			</div>
										  			<div class="row payment-footer">
									  					<div class="col-md-6"></div>
									  					<div class="col-md-6">
									  						<button id="cancel" class="btn btn-primary cancel-button">Cancel</button>
									  						<button ng-click="add_card()" class="btn btn-primary add-card-button">Add Card</button>
									  					</div>
									  				</div>
										  		</div>
										  	</div>
										</div>
										<div class="row remember-text">
											<span>Remember: Airbnb will never ask you to wire money. <a href="" class="learn-more">Learn more.</a></span>
										</div>
>>>>>>> 5cebff127a82e747919297c4f96506080cd96ffb
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<script>

	var data = <%- data %>;
	$(document).ready(function() {
			    $('#property_photos').carousel({
			        interval: 0
			    });
			});
	$(function() {
			$('input[name="daterange"]').daterangepicker({
				autoApply: true,
				linkedCalendars: true,
				  "minDate": data.start_date,
  				  "maxDate": data.end_date,				
				isCustomDate: function() {
					return 'customDates';
				}
			}).val('');
		});
	$("#cancel").click(function() {
			    $("#payment_model").modal('hide');
			    $("#add_payment_model").modal('show');
			});
	$("#sign-up").click(function() {
	    $("#signup").modal('hide');
	    $("#signin").modal('show');
	});	
	</script>
	</main>
	<footer><% include ./footer %></footer>
	</body>
</html>