<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ./head %>
	</head>

	<body class="body full-body" ng-app="airBnB" ng-controller="viewListing" ng-cloak>
	<!-- Header -->
	<header><% include ./header %></header>
	<!-- Main -->
	<main ng-app="airBnB">
		<div class="row cover-image-container cover-image-margin-top">
			<div class="col-md-12">
				<div style="background-image: url('../images/SFO/b.jpg');" class="cover-image">
			</div>
		</div>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8" style="margin-top:24px;">
				<div class="row">
					<div class="col-md-9">
						<div class="row">
							<div class="col-md-8">
								<div class="row">
									<span class="title-text">Perfectly located Castro</span>
								</div>
								<div class="row">
									<span class="title-location-text">San Francisco, CA, United States</span>
									<span>&nbsp</span>
									<i class="fa fa-star small-star"></i>
									<i class="fa fa-star small-star"></i>
									<i class="fa fa-star small-star"></i>
									<i class="fa fa-star-half-full small-star"></i>
									<i class="fa fa-star-o small-star"></i>
									<span>&nbsp</span>
									<span class="title-location-text">309 reviews</span>
								</div>
							</div>
							<div class="col-md-4 text-center">
								<div class="photo-round"><a href=""><img src="../images/SFO/b.jpg"></a></div>
								<div class="title-location-text" style="margin-top: 10px;">Kalgi</div>
							</div>
						</div>
						<div class="seperator"></div>
						<div class="row">
							<div class="col-md-3 text-center icons">
								<div><i class="fa fa-home" aria-hidden="true"></i></div>
								<div class="title-location-text"><span>Private room</span></div>
							</div>
							<div class="col-md-3 text-center icons">
								<div><i class="fa fa-users" aria-hidden="true"></i></div>
								<div class="title-location-text"><span>1 Guest</span></div>
							</div>
							<div class="col-md-3 text-center icons">
								<div><span class="glyphicon glyphicon-bed"></span></div>
								<div class="title-location-text"><span>1 Bedroom</span></div>
							</div>
							<div class="col-md-3 text-center icons">
								<div><i class="fa fa-bed" aria-hidden="true"></i></div>
								<div class="title-location-text"><span>1 Bed</span></div>
							</div>
						</div>
						<div class="seperator"></div>
						<div class="row text-margin-bottom">
							<span class="about-text">About this listing</span>
						</div>
						<div class="row">
							<span class="description-text">1895 Victorian flat w/ 12 ft ceilings. (No Long Term Rentals or couples) Close to Mission, & 2.5 blocks from Castro theater. MUNI is 3 blocks away. Room is small and cosy, but a great $ for one of the most expensive neighborhoods in the US!</span>
						</div>
						<div class="seperator"></div>
						<div class="row">
							<div class="col-md-4">
								<div class="left-column-text"><span>The space</span></div>
							</div>
							<div class="col-md-4">
								<div class="row text-margin-bottom">
									<span class="description-text">Accommodates: <span class="left-column-text">1</span></span>
								</div>
								<div class="row text-margin-bottom">
									<span class="description-text">Bedrooms: <span class="left-column-text">1</span></span>
								</div>
								<div class="row text-margin-bottom">
									<span class="description-text">Beds: <span class="left-column-text">1</span></span>
								</div>
								<div class="row text-margin-bottom">
									<span class="description-text">Bathrooms: <span class="left-column-text">1</span></span>
								</div>
							</div>
							<div class="col-md-4">
								<div class="row text-margin-bottom">
									<span class="description-text">Check In: <span class="left-column-text">5PM</span></span>
								</div>
								<div class="row text-margin-bottom">
									<span class="description-text">Check Out: <span class="left-column-text">11AM</span></span>
								</div>
								<div class="row text-margin-bottom">
									<span class="description-text">Property type: <span class="left-column-text">1</span></span>
								</div>
								<div class="row text-margin-bottom">
									<span class="description-text">Room type: <span class="left-column-text">1</span></span>
								</div>
							</div>
						</div>
						<div class="seperator"></div>
						<div class="row">
							<div class="col-md-4">
								<div class="left-column-text"><span>Amenities</span></div>
							</div>
							<div class="col-md-4">
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										<i class="fa fa-cutlery icon-margin-right" aria-hidden="true"></i>
									</div>
									<div class="col-md-10">
										<span class="description-text">Kitchen</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										<i class="fa fa-globe icon-margin-right" aria-hidden="true"></i>
									</div>
									<div class="col-md-10">
										<span class="description-text">Internet</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										<i class="fa fa-tv icon-margin-right" aria-hidden="true"></i>
									</div>
									<div class="col-md-10">
										<span class="description-text">TV</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										<i class="fa fa-shower icon-margin-right" aria-hidden="true"></i>
									</div>
									<div class="col-md-10">
										<span class="description-text">Essentials</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										<i class="fa fa-thermometer-0 icon-margin-right" aria-hidden="true"></i>
									</div>
									<div class="col-md-10">
										<span class="description-text">Heating</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										<i class="fa fa-snowflake-o icon-margin-right" aria-hidden="true"></i>
									</div>
									<div class="col-md-10">
										<span class="description-text">Air conditioning</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										<i class="material-icons">local_laundry_service</i>
									</div>
									<div class="col-md-10">
										<span class="description-text">Washer</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										<i class="material-icons">local_laundry_service</i>
									</div>
									<div class="col-md-10">
										<span class="description-text">Dryer</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										<i class="fa fa-product-hunt icon-margin-right" aria-hidden="true"></i>
									</div>
									<div class="col-md-10">
										<span class="description-text">Free parking on premises</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										<i class="fa fa-wifi icon-margin-right" aria-hidden="true"></i>
									</div>
									<div class="col-md-10">
										<span class="description-text">Wireless Internet</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										<i class="fa fa-tv icon-margin-right" aria-hidden="true"></i>
									</div>
									<div class="col-md-10">
										<span class="description-text">Cable TV</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										<i class="fa fa-cutlery icon-margin-right" aria-hidden="true"></i>
									</div>
									<div class="col-md-10">
										<span class="description-text">Breakfast</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										<i class="fa fa-paw icon-margin-right" aria-hidden="true"></i>
									</div>
									<div class="col-md-10">
										<span class="description-text">Pets allowed</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										<i class="fa fa-users icon-margin-right" aria-hidden="true"></i>
									</div>
									<div class="col-md-10">
										<span class="description-text">Family/kid friendly</span>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										<i class="fa fa-calendar-check-o icon-margin-right" aria-hidden="true"></i>
									</div>
									<div class="col-md-10">
										<span class="description-text">Suitable for events</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										<i class="material-icons">smoking_rooms</i>
									</div>
									<div class="col-md-10">
										<span class="description-text">Smoking allowed</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										<i class="fa fa-wheelchair icon-margin-right" aria-hidden="true"></i>
									</div>
									<div class="col-md-10">
										<span class="description-text">Wheelchair accessible</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										
									</div>
									<div class="col-md-10">
										<span class="description-text">Elevator in building</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										<i class="fa fa-fire icon-margin-right" aria-hidden="true"></i>
									</div>
									<div class="col-md-10">
										<span class="description-text">Indoor fireplace</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										<i class="material-icons">snooze</i>
									</div>
									<div class="col-md-10">
										<span class="description-text">Buzzer/Wireless Intercom</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										<i class="material-icons">room_service</i>
									</div>
									<div class="col-md-10">
										<span class="description-text">Doorman</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										<i class="material-icons">pool</i>
									</div>
									<div class="col-md-10">
										<span class="description-text">Pool</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										<i class="fa fa-bathtub icon-margin-right" aria-hidden="true"></i>
									</div>
									<div class="col-md-10">
										<span class="description-text">Hot tub</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										<i class="material-icons">dumbbell</i>
									</div>
									<div class="col-md-10">
										<span class="description-text">Gym</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										<i class="icon icon-hair-dryer" aria-hidden="true"></i>
									</div>
									<div class="col-md-10">
										<span class="description-text">Hangers</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										
									</div>
									<div class="col-md-10">
										<span class="description-text">Iron</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										
									</div>
									<div class="col-md-10">
										<span class="description-text">Hair dryer</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-2">
										<i class="fa fa-laptop icon-margin-right" aria-hidden="true"></i>
									</div>
									<div class="col-md-10">
										<span class="description-text">Laptop friendly</span>
									</div>
								</div>
							</div>
						</div>
						<div class="seperator"></div>
						<div class="row">
							<div class="col-md-4">
								<div class="left-column-text"><span>Safety features</span></div>
							</div>
							<div class="col-md-4">
								<div class="row text-margin-bottom">
									<div class="col-md-12">
										<span class="description-text">Smoke detector</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-12">
										<span class="description-text">Carbon monoxide detector</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-12">
										<span class="description-text">First aid kit</span>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="row text-margin-bottom">
									<div class="col-md-12">
										<span class="description-text">Safety card</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-12">
										<span class="description-text">Fire extinguisher</span>
									</div>
								</div>
								<div class="row text-margin-bottom">
									<div class="col-md-12">
										<span class="description-text">Lock on bedroom door</span>
									</div>
								</div>
							</div>
						</div>
						<div class="seperator"></div>
						<div class="row">
							<div class="col-md-4">
								<div class="left-column-text"><span>House rules</span></div>
							</div>
							<div class="col-md-8">
								<div class="row text-margin-bottom">
									<span class="description-text">Be respectful, quiet when coming in late, no smoking in the flat, on the steps, or near the house, and the backyard is off limits due to neighbors. Please do not open the back door for any reason short of an emergency. We do not have bike storage so please return at the end of the day or lock on the street, not our stair railings, at your own risk.
Please do not bring in guests without clearing them beforehand with Kalgi directly. And have a great time in our beautiful city!</span>
								</div>
							</div>
						</div>
						<div class="seperator"></div>
						<div class="row" style="margin-bottom:40px;">
							<span class="about-text">309 Reviews</span>
							<span>&nbsp</span>
							<i class="fa fa-star big-star"></i>
							<i class="fa fa-star big-star"></i>
							<i class="fa fa-star big-star"></i>
							<i class="fa fa-star-half-full big-star"></i>
							<i class="fa fa-star-o big-star"></i>
							<span>&nbsp</span>
						</div>
						<div class="review-seperator"></div>
						<div class="row text-margin-bottom">
							<div class="col-md-2">
								<div class="photo-round"><a href=""><img src="../images/SFO/b.jpg"></a></div>
							</div>
							<div class="col-md-10">
								<div class="row">
									<div class="left-column-text" style="margin-top:10px;">Keyur</div>
								</div>
								<div class="row">
									<div class="review-subtitle-text">November 2016</div>
								</div>
							</div>
						</div>
						<div class="row">
							<span class="description-text">Kalgi's place is perfectly located for exploring San Francisco. Brenda and Matt made be feel most welcome.</span>
						</div>
						<div class="seperator"></div>
						<div class="row text-margin-bottom">
							<div class="col-md-2">
								<div class="photo-round"><a href=""><img src="../images/SFO/b.jpg"></a></div>
							</div>
							<div class="col-md-10">
								<div class="row">
									<div class="left-column-text" style="margin-top:10px;">Keyur</div>
								</div>
								<div class="row">
									<div class="review-subtitle-text">November 2016</div>
								</div>
							</div>
						</div>
						<div class="row">
							<span class="description-text">Kalgi's place is perfectly located for exploring San Francisco. Brenda and Matt made be feel most welcome.</span>
						</div>
					</div>
					<div class="col-md-3">
						<div class="row book_it_container">
							<div class="col-md-12"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2"></div>
		</div>
	</main>
	</body>
</html>