.full-body {
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif!important;
    font-size: 14px!important;
    line-height: 1.43;
    color: #484848!important;
    background-color: #fff;
    font-weight: normal;
    display: block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.airbnb-icon {
    height: 32px;
    width: 110px;
    -webkit-backface-visibility: hidden; 
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    margin-left: 12px;
    margin-top: 15px;
}

.airbnb-header {
    left: 0;
    right: 0;
    border-bottom: 1px solid #dce0e0;
    height: 61px;
}

.header-leftmost {
    height: 61px;
    border-right: 2px solid #dce0e0;
    width: 10.5%!important;
}

.header-leftmost:hover {
    cursor: pointer;
    background: #dce0e0;
}

.header-search {
    width: 60%!important;
}

.search-bar {
    height: 61px;
    margin-top: 13px!important;
    box-shadow: none!important;
    margin-left: 20px!important;
    width: 98%!important;
    border: 0!important;
}

.search-icon {
   font-size: 22px;
   color: #cdd0cc; 
   top: -28px!important;
}

.search-bar:focus {
    border: 0!important;
    outline: 0!important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #767676!important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #767676!important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #767676!important;
}
:-moz-placeholder { /* Firefox 18- */
  color: #767676!important;
}

.header-button {
    line-height: 61px;
    border-right: 1px solid #dce0e0;
    width: 10.5%!important;
}

.header-button:hover {
    cursor: pointer;
    background: #dce0e0;
}

.button-become-a-host {
    border-radius: 3px;
    border: 2px solid #c4c4c4;
    padding: 7px 11px 7px 11px;
}

.button-become-a-host:hover {
    border-color: #aaa;
}

.header-rightmost {
    line-height: 61px;
    border-right: 1px solid #dce0e0;
    width: 6%!important;
}

.header-rightmost:hover {
    cursor: pointer;
    background: #dce0e0;
}
