@media ( max-width : 743px) {
	.header-text {
		font-size: 23px !important;
		letter-spacing: -0.6px;
		font-weight: 300;
	}
	.header-livethere-text {
		font-weight: 700;
		color: #FF5A5F;
	}
	.seperator {
		padding: 0 16px;
		margin-left: -70px;
		margin-right: -80px;
	}
	.main-body {
		padding-right: 10px !important;
		padding-left: 10px !important;
	}
	
	.thumbnail {
		max-width: 100%;
	    max-height: 300px;
	    overflow: hidden;
	    display: flex;
	    margin-right: 5px;
	    margin-left: 5px;
	}
}

@media ( max-width : 1300px) {
	.thumbnail {
		max-width: 90%;
	    max-height: 250px;
	    overflow: hidden;
	    display: flex;
	    margin-right: 5px;
	    margin-left: 5px;
	}
}

body {
	font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.43;
	color: #484848;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.main-body {
	padding-right: 60px;
	padding-left: 60px;
}

.seperator {
	margin-top: 40px;
	margin-bottom: 40px;
	border: 0;
	border-top: 1px solid #dce0e0;
}

.left-space {
	padding-left: 60px;
	padding-right: 60px;
}

.header-text {
	font-size: 48px;
	line-height: 56px;
	letter-spacing: -0.8px;
	color: #484848;
	font-weight: 300;
}

.header-livethere-text {
	font-weight: 700;
	color: #FF5A5F;
}

.header-space {
	margin-bottom: 70px !important;
	margin-top: 70px !important;
}

.search-box {
	border: 1px solid #ccc;
	box-shadow: 0 1px 3px 0 #eee;
	height: 80px;
	padding: 10px 10px 10px 20px !important;
}

.search-box-text {
	font-size: 16px;
	letter-spacing: -0.5px;
}

.right-search-box {
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}

.left-search-box {
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}

.explore-text {
	font-size: 19px;
	line-height: 24px;
	margin-bottom: 25px !important;
	margin-top: 40px !important;
}

.explore-the-world {
	margin-left: -5px !important;
	margin-right: -5px !important;
}

.images {
	width: 100%;
	max-height: 100%;
	overflow: hidden;
	padding: 5px;
}

.images:hover {
	cursor: pointer;
}

.row {
	margin: 0px;
}

[class*='col-'] {
	padding-right: 0;
	padding-left: 0;
}

.image-text {
	font-size: 19px;
	line-height: 24px;
	color: white;
	font-weight: 700;
	padding-left: 25px;
	position: absolute;
	bottom: 20px;
}

.suggestion-text {
	font-size: 17px;
	letter-spacing: 0.5px;
	margin-left: 5px;
}

.thumbnail {
	max-width: 100%;
    max-height: 300px;
    overflow: hidden;
    display: flex;
    margin-right: 5px;
    margin-left: 5px;
}

.carousel {
	margin-bottom: 0;
	padding: 0px 0px 0px 0px;
}
/* The controlsy */
.carousel-control {
	line-height: 100px;
	font-size: 500%;
	left: -80px;
	height: 100px;
	width: 100px;
	/* background: none repeat scroll 0 0 #222222; */
	/* border: 4px solid #FFFFFF; */
	border-radius: 23px 23px 23px 23px;
	margin-top: 90px;
	background-image: none!important;
	color: #000000;
}

.carousel-control:hover {
	color: #111111;
}

.carousel-control.right {
	right: -80px;
}
/* The indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -10px;
	margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
	background: #cecece;
}

.carousel-indicators .active {
	background: #428bca;
}