::-webkit-input-placeholder { /* WebKit browsers */
	font-size: 16px;
	letter-spacing: -0.5px;
	color: #6e6e6e!important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	font-size: 16px;
	letter-spacing: -0.5px;
	color: #6e6e6e!important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	font-size: 16px;
	letter-spacing: -0.5px;
	color: #6e6e6e!important;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	font-size: 16px;
	letter-spacing: -0.5px;
	color: #6e6e6e!important;
}