body {
	font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.43;
	color: #484848;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media ( min-width : 700px) {
	.navbar {
		min-height: 60px;
		border-bottom: 0px solid #dce0e0;
		padding: 0px 0px 0px 0px;
		margin: 0px 0px 0px 0px;
		border-radius: 0px;
	}
	#verticalAlign {
		min-height: 45px;
	}
	.navbar-header {
		padding: 0px 20px 0px 8px;
	}
	.navbar-brand {
		min-height: 60px;
		width: 140px;
		/* padding:  13px 0px 13px 0px; */
	}
	#myNavbar {
		padding: 0px 10px 0px 10px;
	}
	.navbar-nav {
		height: 60px;
	}
	#header_logo {
		padding: 0px 0px 0px 0px;
		border-right: 0px solid #dce0e0;
	}
	#inLine {
		display: inline-block;
	}
	textarea, input {
		outline: none;
	}
	textarea: foucs, input:focus {
		outline: none;
		outline: none;
	}
	.form-control {
		outline: none;
		border: none !important;
		-webkit-box-shadow: none !important;
		-moz-box-shadow: none !important;
		box-shadow: none !important;
	}
	.form-control:focus {
		outline: none;
		-webkit-box-shadow: none !important;
		-moz-box-shadow: none !important;
		box-shadow: none !important;
		color: #000000;
	}
	#menuSearchBar {
		
	}
	.btn .btn-default {
		border: 2px solid #AAAAAA;
	}
	.header-icon.icon-lifesaver-alt-gray {
		background-image:
			url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABGdBTUEAALGPC%2FxhBQAAA4FJREFUSA21Vj1oVEEQntl79xPERtBoFBUOQTnw5CFo5w%2BoiGgQLERsFLQUbdKKbSrRziYWok0Ko6QIgj%2FYKISDEy4GJCAS1KjYiHjnvXvr9%2B3ehnsmF7TIwr3dnZn9Znb%2B9lRWGPV6fUuqybC1ckLElq3IJoqryCd851Rl0thoolqtzveDgezSUZutDUkrvQHgC%2BDmlkpkKB0oGpOiuR7vjD9mONgsUVCr105ZSe%2BJlbXgJ6o6rmofRyqv0zT%2FmQDGtDcmVvZZqyettWdAioD0Q8Wcj6vxI8qEkVFQq09fgc6bOARcmShGcqVS2fshCC83NxrTW1uJ3MJth3EoFatX4z3x7SC7qICWw88Pu%2BALOcnvhm%2B%2FBMGVZsRqQ0fab6Bk0CkRPR1uYniQPqdbAjgFO7b9tPautn4lYHcWMpT14LIADEMsF0cIRA4AAaXP6RZYfhnWPEXGVPRn%2BmxmZvpIK9FjqZWLYu0uysPKGQa2GNmp5s%2F0iZMVaeDs4Y6279BdTBKIXlKmYmLb77GxpbyU6XN3ZVoFJaAn%2BHlDsPhrOB783JA15lC8I%2F7KmDTbMgc5jTS%2F3TDPscnBqvEQUOf7kjkKugdQmVc15wYKMqQls5lr3IC5T8VJqSBHCI61EINYWOaIHeE6KCJe2z7mHIb9bY9hHRGoGA1UK5XK98DD%2FKDRaEy1kl91nN9CF4J2N%2FCJBfpZYiPItkxGTgqvgoCbfZFhaUb%2BAndsTzMj3Lj4OKr%2FsGb8ypahQIe4QfQXPLH77Qa0lE%2BfZ%2Bi9m6K8cNuubGCFgmRrcWkaGKsx00WufyAwgxkFqm%2B5b7bNQc7LjpYcIJ1p28tnK3F0NEW6iCklHfm9v1cIvWXM79NRBHRdhoeNp6WjpLMmevnsU36vc8ySSUT7OBsXiPeDoBZ0yjZt4rPkVx2tZCTEg7dCBo2SB%2FmEBRfOcfZYloonV7%2FQ%2BFh0rxixK%2FZWMSsUhbVNjF6EOS9h3Df34xo08iiDbKkI2grPEgMy9MyYw8bGN7tWOtvtR2hY6Io95U%2BZfiNjkLLZyaB7G4pmJx8gl6Zc8LFANqQOHII5zR8O5d8PnHS2FcrCYm8YMNzD033dFuvA9297LShBR73DxrUSOHmUoaw3DA%2BO2GvhLSAfnsiOfk8mW0modtYM0%2Fq%2Fn8ygalUf%2FaCEMwKY%2BduCC7u%2B5av%2F3%2F62%2FAFOjOyz%2BDIZMgAAAABJRU5ErkJggg%3D%3D");
		background-repeat: no-repeat;
		height: 24px;
		width: 24px;
		margin: 0px 0px 0px 0px;
		margin: 0px 20px -8px 15px;
	}
	#main-navbar {
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}
	#li_One {
		margin: 0px 0px 0px 0px;
	}
	.li_One_div_One {
		margin: 0px 0px 0px 0px !important;
		padding: 20px 0px 0px 0px;
		font-size: 22px;
		color: #AAAAAA;
	}
	.ul_One {
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
		color: #999;
		font-size: 24px;
	}
	.ul_Two {
		padding: 18px 0px 0px 0px;
		margin: 0px 0px 0px 0px !important;
		height: 60px;
	}
	.ul_Three {
		font-size: 18px;
		border-style: solid;
		color: #dce0e0;
		font-family: Circular, 'Helvetica Neue', Helvetica, Arial, sans-serif;
		width: 500px;
	}
	.ul_Four {
		border-right: 0px solid #dce0e0;
		line-height: 60px;
		padding: 0px 20px 0px 0px;
	}
	.ul_Five {
		margin: 0px 0px 0px 0px;
	}
	.btn-style {
		border: 0px solid #D7D7D7;
		padding: 3px 15px 3px 15px;
		font-size: 14px;
		color: black;
	}
	.ul_Six {
		border-right: 0px solid #dce0e0;
		line-height: 60px;
		padding: 0px 20px 0px 20px;
		font-size: 14px;
		color: black;
	}
	.ul_Seven {
		border-right: 0px solid #dce0e0;
		line-height: 60px;
		padding: 0px 20px 0px 20px;
	}
	.ul_eight {
		margin: 0px 3px 0px 3px;
		padding:;
	}
	.ul_Nine {
		font-size: 14px;
		color: black;
	}
	.ul_Nine:hover {
		color: black;
	}
	.ul_Ten {
		padding: 0px 0px 0px 0px;
		margin: 0px 0px 0px 0px;
	}
	.ul_Eleven {
		padding: 0px 10px 0px 0px;
		margin: 22px 0px 0px 22px;
		font-size: 14px;
		color: black;
	}
	.header>.pac-container {
		margin-left: -40px;
	}
	.pac-container {
		background: #fff;
		border-top: 0;
		font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
		margin: 13px 0px 0px -42px;
		width: 65% !important;
	}
	#search-bar-placeholder .pac-container {
		margin-left: -22px !important;
		width: 75% !important;
	}
	.pac-item {
		background: #fff !important;
		border: 0;
		padding: 8px !important;
		cursor: default;
		padding: 0 4px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		line-height: 30px;
		text-align: left;
		border-top: 1px solid #e6e6e6;
		font-size: 14px;
		color: #999;
	}
	.pac-item:hover {
		background-color: #FF5A5F !important;
	}
	.navbar-fixed-top {
		background-color: white;
	}
	.search-bar-placeholder {
		margin-top: 3px;
		padding: 0px;
		width: 100%;
		border-radius: 0px;
	}
	.search-bar-placeholder:focus {
		border-bottom: 1px solid #008489 !important;
	}
	.search-bar-placeholder:active {
		border-bottom: 1px solid #008489 !important;
	}
	.facebookSignUpButton {
		background-color: #3b5998;
		border-radius: 5px;
		padding: 20px 20px 20px 20px;
	}
	.googleSignUpButton {
		border-radius: 5px;
		padding: 20px 20px 20px 20px;
		border: 1px solid #dce0e0;
		margin-top: 10px;
	}
	.signUpWithEmailbutton {
		background-color: #ff5a5f;
		border-radius: 5px;
		padding: 20px 20px 20px 20px;
		border: 1px solid #dce0e0;
		margin-top: 10px;
	}
	.signUpNotice {
		padding: 15px 5px 15px 5px;
	}
	.terms-text {
		color: #329ca0;
		font-weight: bold;
	}
	.terms-text:hover {
		cursor: pointer;
		text-decoration: underline;
		color: #329ca0;
	}
	.btn-default:hover {
		background-color: white;
	}
	.btn-default:active {
		background-color: white;
	}
	::-webkit-input-placeholder { /* WebKit browsers */
		font-size: 18px;
		letter-spacing: -0.5px;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		font-size: 18px;
		letter-spacing: -0.5px;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
		font-size: 18px;
		letter-spacing: -0.5px;
	}
	:-ms-input-placeholder { /* Internet Explorer 10+ */
		font-size: 18px;
		letter-spacing: -0.5px;
	}
	.date-picker {
		font-size: 18px !important;
		color: #000000 !important;
		font-weight: 400;
		font-family: Circular, 'Helvetica Neue', Helvetica, Arial,
			sans-serif !important;
	}
	.daterangepicker td.in-range {
		background-color: #66e2da;
		border-radius: 0;
	}
	.daterangepicker td.available:hover, .daterangepicker th.available:hover
		{
		background-color: #66e2da;
		border-radius: 0;
	}
	.daterangepicker td.active, .daterangepicker td.active:hover {
		background-color: #00a699;
	}
	.daterangepicker td.start-date {
		border-radius: 0px 0 0 0px;
	}
	.daterangepicker td.end-date {
		border-radius: 0 0px 0px 0;
	}
	.daterangepicker td.start-date.end-date {
		border-radius: 0px;
	}

	/* enable absolute positioning */
	.inner-addon {
		position: relative;
	}

	/* style glyph */
	.inner-addon .glyphicon {
		position: absolute;
		padding: 10px;
		pointer-events: none;
	}

	/* align glyph */
	.left-addon .glyphicon {
		left: 0px;
	}
	.right-addon .glyphicon {
		right: 0px;
	}

	/* add padding  */
	.left-addon input {
		padding-left: 30px;
	}
	.right-addon input {
		padding-right: 30px;
	}

	/* enable absolute positioning */
	.inner-addon {
		position: relative;
	}

	/* style glyph */
	.inner-addon .fa {
		position: absolute;
		padding: 10px;
		pointer-events: none;
		color: #8D9294;
	}

	/* align glyph */
	.left-addon .fa {
		left: 0px;
	}
	.right-addon .fa {
		right: 0px;
	}

	/* add padding  */
	.left-addon input {
		padding-left: 30px;
	}
	.right-addon input {
		padding-right: 30px;
	}
	#signUpInputProps {
		border: 1px solid #dce0e0;
		margin-top: 12px;
		border-radius: 2px;
		color: #dce0e0;
		height: 40px;
		margin-top: 5px;
	}
	#signInInputProps {
		border: 1px solid #dce0e0;
		margin-top: 12px;
		border-radius: 2px;
		color: #dce0e0;
		height: 60px;
		margin-top: 5px;
	}
	.customDates {
		font-size: 14px;
		border: 1px solid #e0e3e3 !important;
		height: 38px !important;
		min-width: 37px !important;
		margin-top: 0px !important;
	}
	.daterangepicker th {
		border: none !important;
	}
	.daterangepicker.ltr .calendar.left {
		margin-right: 15px;
	}
	.guest-dropdown {
		width: 90% !important;
		border-color: #fff !important;
	}

	.guest-dropdown-searchListing {
		border:1px solid #AAAAAA !important; border-radius:2px; width:80% !important; height:32px;
	}

	.search-button {
		height: 48px;
		width: 106px;
		border-color: #ff5a5f;
		background-color: #ff5a5f;
		color: #fff;
		font-size: 18px !important;
		line-height: 24px !important;
		padding-top: 11px !important;
		padding-bottom: 11px !important;
		font-weight: normal;
		padding-left: 16px;
		padding-right: 16px;
		width: auto;
		min-width: 106px;
		float: right !important;
		vertical-align: middle !important;
		border-radius: 4px;
	}
	.search-button:hover {
		border-color: #ff7e82;
		background-color: #ff7e82;
		color: #fff;
	}
	.search-button:active, .search-button:focus, .search-button:visited {
		border-color: #ff5a5f;
		background-color: #ff5a5f;
		color: #fff;
	}
	.guest-dropdown>.btn-default {
		border: none !important;
		font-size: 19px !important;
		letter-spacing: -0.5px;
		line-height: 22px !important;
		padding-left: 0;
		border-radius: 0px !important;
	}

	/* enable absolute positioning */
	.inner-addon {
		position: relative;
	}
	.guest-dropdown.open>.dropdown-toggle.btn-default {
		border-bottom: 1px solid #008489 !important;
		background-color: #fff !important;
		box-shadow: none !important;
	}
	.dropdown-menu>li>a {
		border-bottom: 1px solid #e0e3e3;
		padding-bottom: 10px;
		font-size: 19px;
		padding-top: 10px;
		vertical-align: middle;
	}
	.dropdown-menu.open {
		left: -2px;
		margin-top: 6px;
		padding: 0 0 0 0;
		margin-top: 6px;
	}
	.daterangepicker_input {
		display: none;
	}
	.daterangepicker.ltr {
		margin-top: 6px !important;
	}

	/* style glyph */
	.inner-addon .glyphicon {
		position: absolute;
		padding: 10px;
		pointer-events: none;
	}

	/* align glyph */
	.left-addon .glyphicon {
		left: 0px;
	}
	.right-addon .glyphicon {
		right: 0px;
	}

	/* add padding  */
	.left-addon input {
		padding-left: 30px;
	}
	.right-addon input {
		padding-right: 30px;
	}

	/* enable absolute positioning */
	.inner-addon {
		position: relative;
	}

	/* style glyph */
	.inner-addon .fa {
		position: absolute;
		padding: 10px;
		pointer-events: none;
		color: #8D9294;
	}

	/* align glyph */
	.left-addon .fa {
		left: 0px;
	}
	.right-addon .fa {
		right: 0px;
	}

	/* add padding  */
	.left-addon input {
		padding-left: 30px;
	}
	.right-addon input {
		padding-right: 30px;
	}
	#signUpInputProps {
		border: 1px solid #dce0e0;
		margin-top: 12px;
		border-radius: 2px;
		color: #dce0e0;
		height: 40px;
		margin-top: 5px;
	}
	.login-button {
		margin-top: 0px;
		border: 1px solid #ff5a5f;
		width: 82.63px;
		height: 36px;
		background: white;
		color: #ff5a5f;
		border-color: #ff5a5f;
	}
	.login-button:hover {
		cursor: pointer;
		color: #ff5a5f;
		border-color: #ff5a5f;
	}
	.modal {
		overflow-y: hidden !important;
	}
	.modal-md {
		overflow-y: hidden !important;
	}
	.signup-modal-md {
		overflow-y: hidden !important;
	}

	#checkInPlaceholder::-webkit-input-placeholder { /* Chrome */
	  color: grey;
	  font-size:14px;
	  padding-left: 7px;
	}

	#signUpPlaceHolder::-webkit-input-placeholder { /* Chrome */
	  color: grey;
	  font-size:16px;
	  padding-left: 0px;
	}
	#signUpPlaceHolder { /* Chrome */
		margin-top:3px;
	}


	input[type=checkbox]{
	    display: inline-block;
	    width: 15px;
	    height: 15px;
	    padding-left: 40px;
	    margin-left: 10px;
	    padding-top: 5px;
	   /* background-position: 0 0;
	    background-repeat: no-repeat;*/
	    line-height: 32px;
	    cursor: pointer;
	    background: white;
	}



	input[type=checkbox]:checked{
	  background-position: left -15px;
	}



	.imgHolder {
	    position: relative;
	}

	.imgHolder .leftLabel {
	    position: absolute;
	    left: 5px;
	    top: 170px;
	    border: 0px solid green;
	    background-color: rgba(0, 0, 0, 0.7);
	    padding: 10px;
	}

	.imgHolder .leftLabel .textProp {
	    color: white;
	    font-size: 20px;
	}


}

main {
	margin-top: 120px !important;
}

.heading {
	font-size: 32px;
	font-weight: normal;
}

.step-text {
	font-size: 14px;
	color: #bbb;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 30px !important;
}

.que_1 {
	font-size: 24px;
	font-weight: normal;
	margin-top: 10px;
}

.box-size {
	height: 38px !important;
	width: 186.5px !important;
}

.dropdown-box {
	margin-right: 5px;
	margin-top: 15px;
}

.dropdown-box>.dropdown-toggle {
	border-radius: 2px;
	font-size: 16px;
	border: 1px solid #aaa;
	background-color: #fff;
	color: #484848;
}

.search-bar {
	padding-top: 10px;
	margin-top: 3px;
	height: 38px !important;
	width: 380px !important;
	border-radius: 2px;
	font-size: 16px;
	border: 1px solid #aaa !important;
	background-color: #fff;
	color: #484848;
	font-size: 12px;
	border-style: solid;
	font-family: Circular, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.search-bar:focus {
	border: 1px solid #aaa !important;
}

.continue-button {
	height: 38px;
	width: 112.53px;
	border-color: #00a699;
	background-color: #00a699;
	color: #fff;
	font-size: 16px;
	margin-top: 10px;
	font-weight: bold;
	border-radius: 4px;
	margin: 50px 0px 100px 0px;
}

.continue-button:hover {
	background: #4ddfd4;
	border-top-color: #4ddfd4;
	border-left-color: #4ddfd4;
	border-right-color: #4ddfd4;

}



	/*********************************************************
	*********************************************************/
	body{
	  background:#f3f3f3;
	  margin:0;
	  padding:0;
	  font-family: 'Helvetica', 'Arial', sans-serif;
	}

	h1{
	  font-family: 'Convergence';
	  font-size: 95px;
	  text-align: center;
	  letter-spacing: -6px;
	  margin: 8px 0;
	  text-shadow: 0 0 1px #000;
	}
	h2{
	  font-family:'Bitter';
	  font-size:20px;
	  font-weight:normal;
	  color:;
	  text-shadow: 0 0 1px ;
	  text-align:center;
	  margin: 6px 0;
	  text-transform:lowercase;
	}

	h3{
	  margin:8px 0;
	}

	h4{
	  margin:6px 0;
	}

	a{
	  color: ;
	  text-decoration:none;
	}
	a:hover{
	  text-decoration:underline;
	}

	p.big{
	  font-family:'Droid Sans';
	  font-size:24px;
	  color:;
	}
	p.centered{
	  text-align:center;
	}
	#header, #body{
	  width:800px;
	  margin:0 auto;
	}
	#body{
	  margin:20px auto;
	}

	#header a{
	  color:#000;
	}
	#header a:hover{
	  text-decoration:none;
	}

	.row{
	  margin:24px 0;
	}



	.popin{
	  background:#fff;
	  padding:15px;
	  box-shadow: 0 0 20px #999;
	  border-radius:2px;
	}

	ul.gallery{
	  list-style:none;
	  margin:0;
	  padding:0;
	  width:100%;
	}
	ul.gallery li{
	  font-family:'Droid Sans';
	  display:inline-block;
	  width:30%;
	  background:#fff;
	  padding:10px 8px;
	  margin:4px 1px;
	  border-radius:3px;
	  border:solid 1px #ddd;
	}
	ul.gallery li:hover{
	  background:#f3f3f3;
	}
	ul.gallery li a{
	  display:block;
	}
	ul.gallery li h5{
	  font-weight:normal;
	  margin:0;
	  font-size:16px;
	}

	#map,
	#panorama {
	  height:600px !important;
	  width: 540px !important;
	  background:#6699cc;
	}

	#sponsors {
	  font-size: 12px;
	  text-align: center;
	  padding: 4px 6px;
	}

	#sponsors img {
	  height: 40px;
	  margin: 4px;
	}

	code {
	  font-family: 'Ubuntu Mono', 'Monaco', 'Andale Mono', 'Courier New', monospace;
	  font-weight: bold;
	}
	/*********************************************************
	*********************************************************/
}

.curve-border>.dropdown-toggle {
	border-radius: 4px !important;
}

.room-radio {
	margin-top: 25px;
}

.radio-box {
	border: 1px solid #c4c4c4 !important;
	font-size: 18px;
	font-weight: normal;
	color: #383838;
	height: 67px;
	width: 320px !important;
	letter-spacing: 0.5px;
	margin: 0 0 0 0;
	border-radius: 0;
}

.middle-text {
	margin-top: 13px;
}

input[type='radio'] {
	-webkit-font-smoothing: antialiased;
	-webkit-transform: translateZ(0) scale(1.5, 1.5);
}

.que_2 {
	font-size: 18px;
	font-weight: normal;
	margin-top: 10px;
	color: #767676;
	margin-bottom: 0;
}

.property-box>.dropdown-toggle {
	font-size: 18px;
	font-weight: normal;
	color: #383838;
	height: 67px;
	width: 320px;
	letter-spacing: 0.5px;
	margin: 0 0 0 0;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.address-box {
	border: 1px solid #c4c4c4 !important;
	font-size: 18px;
	font-weight: normal;
	color: #484848;
	height: 63px;
	width: 484px;
	letter-spacing: 1px;
	margin: 0 0 0 0;
}

.small-address-box {
	border: 1px solid #c4c4c4 !important;
	font-size: 18px;
	font-weight: normal;
	color: #484848;
	height: 63px;
	width: 230px !important;
	letter-spacing: 1px;
	margin: 0 25px 0 0;
}

.labels {
	font-size: 18px;
	font-weight: normal;
	color: #484848;
}

.check-buttons {
	font-size: 18px;
	margin-bottom: 30px;
}

input[type='checkbox'] {
	-webkit-font-smoothing: antialiased;
	-webkit-transform: translateZ(0) scale(1.5, 1.5);
	margin-right: 5px;
	vertical-align: top;
}

.upload-panel {
	border: 2px dashed #bbb;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	height: 400px;
	cursor: pointer;
	margin: 0;
	display: table;
	margin-top: 30px;
}

.upload-image-icon {
	box-shadow: inset 0 -20px 35px 0 rgba(255, 255, 255, 0.7);
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	display: table-cell;
	background-image: url('../images/upload-image-icon.png');
	background-size: cover;
	color: #767676;
	text-align: center;
}

.upload-button {
	border-color: #ff5a5f;
	background-color: #ff5a5f;
	color: #fff;
	width: 226.09px;
	height: 63px;
	font-size: 18px;
	padding: 20px 36px;
	line-height: 1;
}

.upload-button:hover {
	border-color: #ff7e82;
	background-color: #ff7e82;
	color: #fff;
}

#radioBtn.notActive {
	color: #008489;
	background-color: #fff;
}

.additional-rule-box {
	border: 1px solid #c4c4c4 !important;
	font-size: 18px;
	font-weight: normal;
	color: #484848;
	height: 60px;
	width: 376px;
	letter-spacing: 1px;
	margin: 0 0 0 0;
	border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-bottomright: 0;
	border-bottom-right-radius: 0;
}

.submit-button {
	width: 108.89px;
	height: 60px;
	border-top-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-left-radius: 0;
	border-color: #c4c4c4;
	background: white;
	color: #484848;
	font-size: 18px;
	font-weight: bold;
}

.choose-price-icon {
	background-image: url('../images/choose-price.png');
	background-repeat: no-repeat;
	width: 40px;
	height: 41px;
	display: block;
}

.fixed-price-icon {
	background-image: url('../images/fixed-price.png');
	background-repeat: no-repeat;
	width: 40px;
	height: 41px;
	display: block;
}

.price-text {
	color: #484848;
	font-size: 18px;
	font-weight: normal;
	padding-left: 20px;
}

.price-subtitle-text {
	font-size: 16px;
	line-height: 20px;
	color: #a5a5a5;
	padding-left: 20px;
	padding-top: 15px;
	text-align: justify;
}

.recommended-box {
	text-transform: uppercase;
	padding: 4px 8px;
	display: inline-block;
	background-color: #f5f5f5;
	margin-top: 8px;
	font-size: 12px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #545454;
}

.law-second-line {
	font-size: 18px;
	color: #484848;
	margin-top: 25px !important;
	letter-spacing: 0.5px;
	text-align: justify;
}

.law-third-line {
	font-size: 14px;
	color: #767676;
	margin-top: 15px !important;
	margin-bottom: 15px !important;
	letter-spacing: 0.5px;
	text-align: justify;
}

.increment-box {
	display: flex;
	width: 320px;
	height: 67px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.count-text {
	border-right: 1px solid #dce0e0;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	height: 52px;
	width: 203px;
	padding-left: 0px;
	font-size: 22px;
}

.count-button {
	width: 58px;
	border-right: 1px solid #dce0e0;
	font-size: 40px;
	line-height: 50px;
	color: #82888a;
	padding: 0px 20px;
	cursor: pointer;
}

.count-button:active {
	cursor: pointer;
	background-color: #f2f2f2;
}

.count-button:focus {
	cursor: pointer;
	background-color: #f2f2f2;
}

.increment-main-box {
	display: flex;
	width: 186.5px;
	height: 36px;
	border-radius: 2px !important;
	font-size: 16px;
	border: 1px solid #aaa !important;
	background-color: #fff;
	color: #484848;
	margin-top: 15px;
}

.count-main-text {
	border-right: 1px solid #dce0e0;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	height: 34px;
	width: 119.5px;
	font-size: 22px;
}

.count-main-button {
	width: 33.5px;
	border-right: 1px solid #dce0e0;
	font-size: 30px;
	line-height: 30px;
	color: #82888a;
	padding: 0px 10px 0px;
	cursor: pointer;
}

.count-main-button:active {
	cursor: pointer;
	background-color: #f2f2f2;
}

.count-main-button:focus {
	cursor: pointer;
	background-color: #f2f2f2;
}

.back-next-button {
	height: 38px;
	width: 112.53px;
	border-color: #ff5a5f;
	background-color: #ff5a5f;
	color: #fff;
	font-size: 16px;
	margin-top: 10px;
	font-weight: bold;
	border-radius: 4px;
	background-color: #ff5a5f;
	color: #fff;
}

.back-next-button:hover {
	border-top-color: #ff5a5f;
	border-left-color: #ff5a5f;
	border-right-color: #ff5a5f;
	border-color: #ff7e82;
	background-color: #ff7e82;
	color: #fff;
}

.back-next-button:active {
	border-top-color: #ff5a5f;
	border-left-color: #ff5a5f;
	border-right-color: #ff5a5f;
	border-color: #ff7e82;
	background-color: #ff7e82;
	color: #fff;
	outline: none;
}

.back-next-button:focus {
	border-top-color: #ff5a5f;
	border-left-color: #ff5a5f;
	border-right-color: #ff5a5f;
	border-color: #ff7e82;
	background-color: #ff7e82;
	color: #fff;
	outline: none;
}

.back-next-button:active:focus {
	border-top-color: #ff5a5f;
	border-left-color: #ff5a5f;
	border-right-color: #ff5a5f;
	border-color: #ff7e82;
	background-color: #ff7e82;
	color: #fff;
	outline: none;
}

/*-----------------------------------------------------------View Listing-----------------------------------------------------*/

.cover-image-container {
	height: 402px;
	position: relative;
	width: 100%;
}

.cover-image-margin-top {
	margin: -65px 0px 0px 0px !important;
}

.cover-image {
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: 50% 50%;
	background-color: #f5f5f5;
	height: 402px;
}

.title-text {
	font-weight: 700;
	color: #484848;
	margin: 0px;
	word-wrap: break-word;
	font-size: 36px;
	line-height: 44px;
	letter-spacing: -0.6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.title-location-text {
	font-weight: 300;
	color: #080808;
	word-wrap: break-word;
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 0.5px;
}

.photo-round {
	backface-visibility: hidden;
	position: relative;
	display: inline-block;
	vertical-align: bottom;
	overflow: hidden;
	background-color: #bbb;
	border-radius: 50%;
	border: 2px solid #fff;
	height: 75px;
	width: 75px;
}

.icons {
	font-size: 2.4em;
}

.about-text {
	color: #484848;
	font-size: 28px;
	line-height: 28px;
	letter-spacing: 0.5px;
}

.description-text {
	color: #787878;
	font-size: 19px;
	line-height: 24px;
	letter-spacing: 0.5px;
	text-align: justify;
}

.left-column-text {
	color: #484848;
	font-weight: bold;
	font-size: 19px;
	line-height: 24px;
	letter-spacing: 0.5px;
	text-align: justify;
}

.text-margin-bottom {
	margin-bottom: 20px !important;
}

.icon-margin-right {
	font-size: 1.4em;
}

.review-seperator {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
	margin-bottom: 30px;
}

.review-subtitle-text {
	color: #787878;
	word-wrap: break-word;
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 0.5px;
}

.small-star {
	color: #008489;
	font-size: 16px;
}

.big-star {
	color: #008489;
	font-size: 20px;
}

.book_it_container {
	height: 418px;
	width: 315px;
	margin-left: 25px !important;
	margin-top: -65px !important;
}

.price-heading {
	background-color: rgba(60, 63, 64, 0.9);
	border: 0 !important;
	color: #fff;
	height: 40px;
	padding: 6px 20px;
	text-transform: capitalize;
	width: 314px;
	z-index: 1001;
	overflow-y: hidden;
}

.price-bottom {
	border: 1px solid #dce0e0;
	height: 376px;
	width: 315px;
}

.price-date-box {
	border: 1px solid #ccc;
	box-shadow: 0 1px 3px 0 #eee;
	height: 40px;
	padding: 0px 10px 10px 20px !important;
	width: 90%;
	margin-left: 15px !important;
	margin-bottom: 5px !important;
}

.price-date-label {
	font-size: 14px;
	color: #484848;
	padding-bottom: 8px;
	line-height: normal;
	margin-left: 15px !important;
	margin-top: 15px !important;
}

.price-guest-box {
	display: flex;
	width: 90%;
	height: 40px;
	border-radius: 2px !important;
	font-size: 16px;
	background-color: #fff;
	color: #484848;
	margin-left: 15px !important;
	border: 1px solid #ccc;
	box-shadow: 0 1px 3px 0 #eee;
	margin-bottom: 5px !important;
}

.price-guest-text {
	border-right: 1px solid #dce0e0;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	height: 38px;
	width: 65%;
	font-size: 20px;
}

.price-guest-button {
	width: 17.5%;
	border-right: 1px solid #dce0e0;
	font-size: 30px;
	line-height: 34px;
	color: #82888a;
	padding: 0px 18px 0px;
	cursor: pointer;
}

.price-guest-button:active {
	cursor: pointer;
	background-color: #f2f2f2;
}

.price-guest-button:focus {
	cursor: pointer;
	background-color: #f2f2f2;
}

.price-guest-button:visited {
	cursor: pointer;
	background-color: #f2f2f2;
}

.book-button {
	height: 45px;
	width: 90%;
	border-color: #ff5a5f;
	background-color: #ff5a5f;
	color: #fff;
	font-size: 16px;
	margin-top: 15px;
	margin-bottom: 10px;
	font-weight: bold;
	border-radius: 4px;
	background-color: #ff5a5f;
	color: #fff;
	margin-left: 15px !important;
}

.book-button:hover {
	border-top-color: #ff5a5f;
	border-left-color: #ff5a5f;
	border-right-color: #ff5a5f;
	border-color: #ff7e82;
	background-color: #ff7e82;
	color: #fff;
	outline: none;
}

.book-button:active {
	border-top-color: #ff5a5f;
	border-left-color: #ff5a5f;
	border-right-color: #ff5a5f;
	border-color: #ff7e82;
	background-color: #ff7e82;
	color: #fff;
	outline: none;
}

.book-button:focus {
	border-top-color: #ff5a5f;
	border-left-color: #ff5a5f;
	border-right-color: #ff5a5f;
	border-color: #ff7e82;
	background-color: #ff7e82;
	color: #fff;
	outline: none;
}

.book-button:active:focus {
	border-top-color: #ff5a5f;
	border-left-color: #ff5a5f;
	border-right-color: #ff5a5f;
	border-color: #ff7e82;
	background-color: #ff7e82;
	color: #fff;
	outline: none;
}

.charged-text {
	font-size: 0.85em;
	color: #767676;
}

.price-head-text {
	font-size: 28px;
	color: #fff;
	line-height: 30px;
}

.per-night-text {
	font-size: 14px;
	color: #fff;
	line-height: 30px;
}

/*----------------------------------------------------------- User Profile page -----------------------------------------------------*/

.nav-body {
	height: 40px;
    background-color: #484848;
    margin-top: -60px!important;
}

.subnav {
	padding-left: 30px!important;
	padding-right: 30px!important;
}

.subnav-list {
	list-style: none;
}

.subnav-item {
	color: #bbb;
}
.subnav-item {
    position: relative;
    float: left;
    padding: 8px 14px;
    color: #bbb;
}

.subnav-item:hover,.subnav-item:focus {
    text-decoration: none;
    color: #fff;
}

.subnav-item-border {
	border-bottom: 4px solid #bbb;
}

.profile-body {
	padding-left: 70px!important;
	margin-top:24px;
}

.item-body {
	width: 900px;
	height: auto;
	border: 1px solid #dce0e0;
	margin-bottom: 40px!important;
}

.item-head {
	background-color: #edefed;
	color: #484848;
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #dce0e0;
    padding-left: 20px;
    min-height: 47px;
}

.item-content {
	height: auto;
}

.listing-activated-body {
	border-radius: 4px;
	margin: 20px 20px 20px 20px!important;
}

.listing-deactivated-body {
	border-radius: 4px;
	margin: 20px 20px 20px 20px!important;
}

.listing-image {
	height:200px;
	width: 100%;
	background-size: cover;
}

.listing-title {
	font-size: 28px;
}

.details-text {
	color: #787878;
	font-size: 19px;
	line-height: 24px;
	letter-spacing: 0.5px;
	text-align: justify;
	margin-top: 10px!important;
}

.dollar-symbol {
	font-size: 20px;
	margin-right: 10px;
}

.from-to-row {
	color: #484848;
	font-weight: bold;
	font-size: 19px;
	line-height: 24px;
	letter-spacing: 0.5px;
	text-align: justify;
	margin-top: 30px!important;
}

.instant-book-icon {
	color: #ffb400;
	font-size: 20px;
	margin-right: 10px;
}

.deactivate-button {
	height: 38px;
	width: 112.53px;
	border-color: red;
	background-color: red;
	color: #fff;
	font-size: 16px;
	margin-top: 10px;
	font-weight: bold;
	border-radius: 4px;
	color: #fff;
	float:right;
}

.deactivate-button:hover {
	border-top-color: #ff5a5f;
	border-left-color: #ff5a5f;
	border-right-color: #ff5a5f;
	border-color: #ff7e82;
	background-color: #ff7e82;
	color: #fff;
}

.deactivate-button:active {
	border-top-color: #ff5a5f;
	border-left-color: #ff5a5f;
	border-right-color: #ff5a5f;
	border-color: #ff7e82;
	background-color: #ff7e82;
	color: #fff;
	outline: none;
}

.deactivate-button:focus {
	border-top-color: #ff5a5f;
	border-left-color: #ff5a5f;
	border-right-color: #ff5a5f;
	border-color: #ff7e82;
	background-color: #ff7e82;
	color: #fff;
	outline: none;
}

.deactivate-button:active:focus {
	border-top-color: #ff5a5f;
	border-left-color: #ff5a5f;
	border-right-color: #ff5a5f;
	border-color: #ff7e82;
	background-color: #ff7e82;
	color: #fff;
	outline: none;
}

.inactive-text {
	color: #ff7e82;
	font-weight: bold;
	float:right;
	font-size: 19px;
	line-height: 24px;
	letter-spacing: 0.5px;
	text-align: justify;
	margin-top: 10px!important;
}

.add-new-button {
	height: 38px;
	border-color: #ff5a5f;
	background-color: #ff5a5f;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	border-radius: 4px;
	color: #fff;
	margin: 20px 0px 20px 20px!important;
}

.add-new-button:hover {
	border-top-color: #ff5a5f;
	border-left-color: #ff5a5f;
	border-right-color: #ff5a5f;
	border-color: #ff7e82;
	background-color: #ff7e82;
	color: #fff;
}

.add-new-button:active {
	border-top-color: #ff5a5f;
	border-left-color: #ff5a5f;
	border-right-color: #ff5a5f;
	border-color: #ff7e82;
	background-color: #ff7e82;
	color: #fff;
	outline: none;
}

.add-new-button:focus {
	border-top-color: #ff5a5f;
	border-left-color: #ff5a5f;
	border-right-color: #ff5a5f;
	border-color: #ff7e82;
	background-color: #ff7e82;
	color: #fff;
	outline: none;
}

.add-new-button:active:focus {
	border-top-color: #ff5a5f;
	border-left-color: #ff5a5f;
	border-right-color: #ff5a5f;
	border-color: #ff7e82;
	background-color: #ff7e82;
	color: #fff;
	outline: none;
}

.no-listing {
	font-size: 24px;
	margin: 20px 20px 20px 20px!important;
}

.no-listing-subtext {
	font-size: 14px;
	margin: 20px 0px 0px 0px; 
}

.location-text {
	color: #484848;
	font-weight: bold;
	font-size: 19px;
	line-height: 24px;
	letter-spacing: 0.5px;
	text-align: justify;
}

.activate-button {
	height: 38px;
	width: 112.53px;
	border-color: #66ff33;
	background-color: #66ff33;
	color: #fff;
	font-size: 16px;
	margin-top: 10px;
	font-weight: bold;
	border-radius: 4px;
	color: #fff;
	float:right;
}

.activate-button:hover {
	border-top-color: #8cff66;
	border-left-color: #8cff66;
	border-right-color: #8cff66;
	border-color: #8cff66;
	background-color: #8cff66;
	color: #fff;
}

.activate-button:active {
	border-top-color: #8cff66;
	border-left-color: #8cff66;
	border-right-color: #8cff66;
	border-color: #8cff66;
	background-color: #8cff66;
	color: #fff;
	outline: none;
}

.activate-button:focus {
	border-top-color: #8cff66;
	border-left-color: #8cff66;
	border-right-color: #8cff66;
	border-color: #8cff66;
	background-color: #8cff66;
	color: #fff;
	outline: none;
}

.activate-button:active:focus {
	border-top-color: #8cff66;
	border-left-color: #8cff66;
	border-right-color: #8cff66;
	border-color: #8cff66;
	background-color: #8cff66;
	color: #fff;
	outline: none;
}

.second-box {
	border: 1px solid #ddd;
    margin: 30px 20px 20px 20px!important;
	height: 148px;
	width:247px;
}

.second-box:hover {
	cursor: pointer;
}

.add-icon {
	font-size: 70px;
	margin-top: 20px;
}

.add-text {
	font-size: 16px;
	margin-bottom: 10px;
}

.remember-text {
	margin: 30px 20px 20px 20px!important;
}

.learn-more {
	color: #008489;
    text-decoration: none;
}

.learn-more:hover {
	cursor: pointer;
	text-decoration: underline;
}

.payment-box {
	width: 520px;
	margin-top: 50px!important;
	position: relative;
}

.border {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.card-images {
	width: 50px;
    height: 30px;
    margin-right: 10px;
    margin-top: 15px;
    border: 1px solid #000;
    border-radius: 3px;
}

.payment-body {
	background-color: #f5f5f5;
	height: 400px;
	border: 1px solid #dce0e0;
	border-top: none;
	padding-left: 20px;
}

.credit-card-box {
	width: 480px;
	height: 38px;
	border-radius: 2px;
	border: 1px solid #aaaaaa;
	padding-left: 10px;
}

.credit-card-text {
	color: #696c6e;
	padding-bottom: 5px;
}

.bottom-space {
	margin-bottom: 15px!important;
}

.expiry-box {
	width: 101.25px;
	height: 38px;
	border-radius: 2px!important;
	border: 1px solid #aaaaaa;
	padding-left: 10px;
	background-color: #fff;
}

.medium-box {
	width: 227.5px;
	height: 38px;
	border-radius: 2px;
	border: 1px solid #aaaaaa;
	padding-left: 10px;
	background-color: #fff;
}

.payment-footer {
	background-color: #f5f5f5;
	height: 70px;
	width: 520px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	padding: 20px;
	text-align: right;
}

.add-card-button {
	height: 36px;
	width: 106.67px;
	border-color: #ff5a5f;
	background-color: #ff5a5f;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	border-radius: 4px;
	background-color: #ff5a5f;
	color: #fff;
}

.add-card-button:hover {
	border-top-color: #ff5a5f;
	border-left-color: #ff5a5f;
	border-right-color: #ff5a5f;
	border-color: #ff7e82;
	background-color: #ff7e82;
	color: #fff;
}

.add-card-button:active {
	border-top-color: #ff5a5f;
	border-left-color: #ff5a5f;
	border-right-color: #ff5a5f;
	border-color: #ff7e82;
	background-color: #ff7e82;
	color: #fff;
	outline: none;
}

.add-card-button:focus {
	border-top-color: #ff5a5f;
	border-left-color: #ff5a5f;
	border-right-color: #ff5a5f;
	border-color: #ff7e82;
	background-color: #ff7e82;
	color: #fff;
	outline: none;
}

.add-card-button:active:focus {
	border-top-color: #ff5a5f;
	border-left-color: #ff5a5f;
	border-right-color: #ff5a5f;
	border-color: #ff7e82;
	background-color: #ff7e82;
	color: #fff;
	outline: none;
}

.cancel-button {
	height: 36px;
	width: 89.45px;
	background-color: #fff;
	font-size: 14px;
	font-weight: bold;
	border-radius: 4px;
	border-color: #c4c4c4;
    color: #484848;
}

.cancel-button:hover {
	cursor: pointer;
	background-color: #fff;
	border-color: #c4c4c4;
    color: #484848;
}

.added-card-text {
	font-size: 16px;
}

.added-card-box {
	border: 1px solid #ddd;
    margin: 30px 20px 20px 20px!important;
	height: 148px;
	width:247px;
	padding: 15px!important;
}

.added-card-image {
	width: 50px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 3px;
}

.question-icon {
	font-size: 18px;
	margin-left: 5px;
}

.profile-left-text {
	color: #484848;
	float: right;
	line-height: 35px;
}

.profile-large-box {
	width: 620px;
	height: 36px;
	border-radius: 2px;
	border: 1px solid #aaaaaa;
	padding-left: 10px;
	margin-left:20px;
}

.profile-bottom-space {
	margin-bottom: 30px!important;
}

.profile-info {
	color: #767676;
	font-size: 14px;
	margin-top: 10px;
	margin-left:20px;
}

.gender-box {
	width: 101.25px;
	height: 36px;
	border-radius: 2px!important;
	border: 1px solid #aaaaaa;
	padding-left: 10px;
	background-color: #fff;
	margin-left:20px;
}

.month-box {
	width: 110px;
	height: 36px;
	border-radius: 2px!important;
	border: 1px solid #aaaaaa;
	padding-left: 10px;
	background-color: #fff;
	margin-left:20px;
}

.date-box {
	width: 58px;
	height: 38px;
	border-radius: 2px!important;
	border: 1px solid #aaaaaa;
	padding-left: 10px;
	background-color: #fff;
}

.year-box {
	width: 73px;
	height: 38px;
	border-radius: 2px!important;
	border: 1px solid #aaaaaa;
	padding-left: 10px;
	background-color: #fff;
}

.profile-describe-box {
	width: 620px;
	border-radius: 2px;
	border: 1px solid #aaaaaa;
	padding-left: 10px;
	margin-left:20px;
}

.save-button {
	height: 42px;
	width: 91.73px;
	border-color: #ff5a5f;
	background-color: #ff5a5f;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	border-radius: 4px;
	color: #fff;
}

.save-button:hover {
	border-top-color: #ff5a5f;
	border-left-color: #ff5a5f;
	border-right-color: #ff5a5f;
	border-color: #ff7e82;
	background-color: #ff7e82;
	color: #fff;
}

.save-button:active {
	border-top-color: #ff5a5f;
	border-left-color: #ff5a5f;
	border-right-color: #ff5a5f;
	border-color: #ff7e82;
	background-color: #ff7e82;
	color: #fff;
	outline: none;
}

.save-button:focus {
	border-top-color: #ff5a5f;
	border-left-color: #ff5a5f;
	border-right-color: #ff5a5f;
	border-color: #ff7e82;
	background-color: #ff7e82;
	color: #fff;
	outline: none;
}

.save-button:active:focus {
	border-top-color: #ff5a5f;
	border-left-color: #ff5a5f;
	border-right-color: #ff5a5f;
	border-color: #ff7e82;
	background-color: #ff7e82;
	color: #fff;
	outline: none;
}

.password-box {
	width: 236.19px;
	height: 36px;
	border-radius: 2px;
	border: 1px solid #aaaaaa;
	padding-left: 10px;
	margin-left:20px;
}

.password-footer {
	text-align: right;
}

.password-button {
	height: 36px;
	width: 157.11px;
	border-color: #ff5a5f;
	background-color: #ff5a5f;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	border-radius: 4px;
	background-color: #ff5a5f;
	color: #fff;
}

.password-button:hover {
	border-top-color: #ff5a5f;
	border-left-color: #ff5a5f;
	border-right-color: #ff5a5f;
	border-color: #ff7e82;
	background-color: #ff7e82;
	color: #fff;
}

label.hostStar:before {
  content: '\f006';
  font-family: FontAwesome;
}

.password-button:active {
	border-top-color: #ff5a5f;
	border-left-color: #ff5a5f;
	border-right-color: #ff5a5f;
	border-color: #ff7e82;
	background-color: #ff7e82;
	color: #fff;
	outline: none;
}

.password-button:focus {
	border-top-color: #ff5a5f;
	border-left-color: #ff5a5f;
	border-right-color: #ff5a5f;
	border-color: #ff7e82;
	background-color: #ff7e82;
	color: #fff;
	outline: none;
}

.password-button:active:focus {
	border-top-color: #ff5a5f;
	border-left-color: #ff5a5f;
	border-right-color: #ff5a5f;
	border-color: #ff7e82;
	background-color: #ff7e82;
	color: #fff;
	outline: none;
}

div.stars {
	margin-left: -15px;
  	display: inline-block;
}

input.star { 
	display: none; 
}

label.star {
  	float: right;
  	padding: 10px;
  	font-size: 24px;
  	color: #444;
  	transition: all .2s;
}

input.star:checked ~ label.star:before {
  	content: '\f005';
  	color: #008489;
  	transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  	color: #FE7;
  	text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before {
	color: #F62;
}

label.star:hover { 
	transform: rotate(-2deg) scale(1.3); 
}

label.star:before {
  	content: '\f006';
  	font-family: FontAwesome;
}
