body {
	font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.43;
	color: #484848;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media ( min-width : 700px) {
	.navbar {
		min-height: 60px;
		border-bottom: 0px solid #dce0e0;
		padding: 0px 0px 0px 0px;
		margin: 0px 0px 0px 0px;
		border-radius: 0px;
	}
	#verticalAlign {
		min-height: 45px;
	}
	.navbar-header {
		padding: 0px 20px 0px 8px;
	}
	.navbar-brand {
		min-height: 60px;
		width: 140px;
		/* padding:  13px 0px 13px 0px; */
	}
	#myNavbar {
		padding: 0px 10px 0px 10px;
	}
	.navbar-nav {
		height: 60px;
	}
	#header_logo {
		padding: 0px 0px 0px 0px;
		border-right: 0px solid #dce0e0;
	}
	#inLine {
		display: inline-block;
	}
	textarea, input {
		outline: none;
	}
	textarea: foucs, input:focus {
		outline: none;
		outline: none;
	}
	.form-control {
		outline: none;
		border: none !important;
		-webkit-box-shadow: none !important;
		-moz-box-shadow: none !important;
		box-shadow: none !important;
		color: #dce0e0;
	}
	.form-control:focus {
		outline: none;
		border: none !important;
		-webkit-box-shadow: none !important;
		-moz-box-shadow: none !important;
		box-shadow: none !important;
		color: #000000;
	}
	#menuSearchBar {
		
	}
	.btn .btn-default {
		border: 2px solid #AAAAAA;
	}
	.header-icon.icon-lifesaver-alt-gray {
		background-image:
			url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABGdBTUEAALGPC%2FxhBQAAA4FJREFUSA21Vj1oVEEQntl79xPERtBoFBUOQTnw5CFo5w%2BoiGgQLERsFLQUbdKKbSrRziYWok0Ko6QIgj%2FYKISDEy4GJCAS1KjYiHjnvXvr9%2B3ehnsmF7TIwr3dnZn9Znb%2B9lRWGPV6fUuqybC1ckLElq3IJoqryCd851Rl0thoolqtzveDgezSUZutDUkrvQHgC%2BDmlkpkKB0oGpOiuR7vjD9mONgsUVCr105ZSe%2BJlbXgJ6o6rmofRyqv0zT%2FmQDGtDcmVvZZqyettWdAioD0Q8Wcj6vxI8qEkVFQq09fgc6bOARcmShGcqVS2fshCC83NxrTW1uJ3MJth3EoFatX4z3x7SC7qICWw88Pu%2BALOcnvhm%2B%2FBMGVZsRqQ0fab6Bk0CkRPR1uYniQPqdbAjgFO7b9tPautn4lYHcWMpT14LIADEMsF0cIRA4AAaXP6RZYfhnWPEXGVPRn%2BmxmZvpIK9FjqZWLYu0uysPKGQa2GNmp5s%2F0iZMVaeDs4Y6279BdTBKIXlKmYmLb77GxpbyU6XN3ZVoFJaAn%2BHlDsPhrOB783JA15lC8I%2F7KmDTbMgc5jTS%2F3TDPscnBqvEQUOf7kjkKugdQmVc15wYKMqQls5lr3IC5T8VJqSBHCI61EINYWOaIHeE6KCJe2z7mHIb9bY9hHRGoGA1UK5XK98DD%2FKDRaEy1kl91nN9CF4J2N%2FCJBfpZYiPItkxGTgqvgoCbfZFhaUb%2BAndsTzMj3Lj4OKr%2FsGb8ypahQIe4QfQXPLH77Qa0lE%2BfZ%2Bi9m6K8cNuubGCFgmRrcWkaGKsx00WufyAwgxkFqm%2B5b7bNQc7LjpYcIJ1p28tnK3F0NEW6iCklHfm9v1cIvWXM79NRBHRdhoeNp6WjpLMmevnsU36vc8ySSUT7OBsXiPeDoBZ0yjZt4rPkVx2tZCTEg7dCBo2SB%2FmEBRfOcfZYloonV7%2FQ%2BFh0rxixK%2FZWMSsUhbVNjF6EOS9h3Df34xo08iiDbKkI2grPEgMy9MyYw8bGN7tWOtvtR2hY6Io95U%2BZfiNjkLLZyaB7G4pmJx8gl6Zc8LFANqQOHII5zR8O5d8PnHS2FcrCYm8YMNzD033dFuvA9297LShBR73DxrUSOHmUoaw3DA%2BO2GvhLSAfnsiOfk8mW0modtYM0%2Fq%2Fn8ygalUf%2FaCEMwKY%2BduCC7u%2B5av%2F3%2F62%2FAFOjOyz%2BDIZMgAAAABJRU5ErkJggg%3D%3D");
		background-repeat: no-repeat;
		height: 24px;
		width: 24px;
		margin: 0px 0px 0px 0px;
		margin: 0px 20px -8px 15px;
	}
	#main-navbar {
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}
	#li_One {
		margin: 0px 0px 0px 0px;
	}
	.li_One_div_One {
		margin: 0px 0px 0px 0px !important;
		padding: 20px 0px 0px 0px;
		font-size: 22px;
		color: #AAAAAA;
	}
	.ul_One {
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
		color: #999;
		font-size: 24px;
	}
	.ul_Two {
		padding: 18px 0px 0px 0px;
		margin: 0px 0px 0px 0px !important;
		height: 60px;
	}
	.ul_Three {
		font-size: 18px;
		border-style: solid;
		color: #dce0e0;
		font-family: Circular, 'Helvetica Neue', Helvetica, Arial, sans-serif;
		width: 500px;
	}
	.ul_Four {
		border-right: 0px solid #dce0e0;
		line-height: 60px;
		padding: 0px 20px 0px 0px;
	}
	.ul_Five {
		margin: 0px 0px 0px 0px;
	}
	.btn-style {
		border: 0px solid #D7D7D7;
		padding: 3px 15px 3px 15px;
		font-size: 14px;
		color: black;
	}
	.ul_Six {
		border-right: 0px solid #dce0e0;
		line-height: 60px;
		padding: 0px 20px 0px 20px;
		font-size: 14px;
		color: black;
	}
	.ul_Seven {
		border-right: 0px solid #dce0e0;
		line-height: 60px;
		padding: 0px 20px 0px 20px;
	}
	.ul_eight {
		margin: 0px 3px 0px 3px;
		padding:;
	}
	.ul_Nine {
		font-size: 14px;
		color: black;
	}
	.ul_Nine:hover {
		color: black;
	}
	.ul_Ten {
		padding: 0px 0px 0px 0px;
		margin: 0px 0px 0px 0px;
	}
	.ul_Eleven {
		padding: 0px 10px 0px 0px;
		margin: 22px 0px 0px 22px;
		font-size: 14px;
		color: black;
	}
	.header>.pac-container {
		margin-left: -40px;
	}
	.pac-container {
		background: #fff;
		border-top: 0;
		font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
		margin: 13px 0px 0px -42px;
		width: 65% !important;
	}
	#search-bar-placeholder .pac-container {
		margin-left: -22px !important;
		width: 75% !important;
	}
	.pac-item {
		background: #fff !important;
		border: 0;
		padding: 8px !important;
		cursor: default;
		padding: 0 4px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		line-height: 30px;
		text-align: left;
		border-top: 1px solid #e6e6e6;
		font-size: 14px;
		color: #999;
	}
	.pac-item:hover {
		background-color: #FF5A5F !important;
	}
	.navbar-fixed-top {
		background-color: white;
	}
	.search-bar-placeholder {
		margin-top: 3px;
		padding: 0px;
		width: 100%;
		border-radius: 0px;
	}
	.search-bar-placeholder:focus {
		border-bottom: 1px solid #008489 !important;
	}
	.search-bar-placeholder:active {
		border-bottom: 1px solid #008489 !important;
	}
	.facebookSignUpButton {
		background-color: #3b5998;
		border-radius: 5px;
		padding: 20px 20px 20px 20px;
	}
	.googleSignUpButton {
		border-radius: 5px;
		padding: 20px 20px 20px 20px;
		border: 1px solid #dce0e0;
		margin-top: 10px;
	}
	.signUpWithEmailbutton {
		background-color: #ff5a5f;
		border-radius: 5px;
		padding: 20px 20px 20px 20px;
		border: 1px solid #dce0e0;
		margin-top: 10px;
	}
	.signUpNotice {
		padding: 15px 5px 15px 5px;
	}
	.terms-text {
		color: #329ca0;
		font-weight: bold;
	}
	.terms-text:hover {
		cursor: pointer;
		text-decoration: underline;
		color: #329ca0;
	}
	.btn-default:hover {
		background-color: white;
	}
	.btn-default:active {
		background-color: white;
	}
	::-webkit-input-placeholder { /* WebKit browsers */
		font-size: 18px;
		letter-spacing: -0.5px;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		font-size: 18px;
		letter-spacing: -0.5px;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
		font-size: 18px;
		letter-spacing: -0.5px;
	}
	:-ms-input-placeholder { /* Internet Explorer 10+ */
		font-size: 18px;
		letter-spacing: -0.5px;
	}
	.date-picker {
		font-size: 18px !important;
		color: #000000 !important;
		font-weight: 400;
		font-family: Circular, 'Helvetica Neue', Helvetica, Arial,
			sans-serif !important;
	}
	.daterangepicker td.in-range {
		background-color: #66e2da;
		border-radius: 0;
	}
	.daterangepicker td.available:hover, .daterangepicker th.available:hover {
		background-color: #66e2da;
		border-radius: 0;
	}
	.daterangepicker td.active, .daterangepicker td.active:hover {
		background-color: #00a699;
	}
	.daterangepicker td.start-date {
		border-radius: 0px 0 0 0px;
	}
	.daterangepicker td.end-date {
		border-radius: 0 0px 0px 0;
	}
	.daterangepicker td.start-date.end-date {
		border-radius: 0px;
	}

	/* enable absolute positioning */
	.inner-addon {
		position: relative;
	}

	/* style glyph */
	.inner-addon .glyphicon {
		position: absolute;
		padding: 10px;
		pointer-events: none;
	}

	/* align glyph */
	.left-addon .glyphicon {
		left: 0px;
	}
	.right-addon .glyphicon {
		right: 0px;
	}

	/* add padding  */
	.left-addon input {
		padding-left: 30px;
	}
	.right-addon input {
		padding-right: 30px;
	}

	/* enable absolute positioning */
	.inner-addon {
		position: relative;
	}

	/* style glyph */
	.inner-addon .fa {
		position: absolute;
		padding: 10px;
		pointer-events: none;
		color: #8D9294;
	}

	/* align glyph */
	.left-addon .fa {
		left: 0px;
	}
	.right-addon .fa {
		right: 0px;
	}

	/* add padding  */
	.left-addon input {
		padding-left: 30px;
	}
	.right-addon input {
		padding-right: 30px;
	}
	#signUpInputProps {
		border: 1px solid #dce0e0;
		margin-top: 12px;
		border-radius: 2px;
		color: #dce0e0;
		height: 40px;
		margin-top: 5px;
	}
	#signInInputProps {
		border: 1px solid #dce0e0;
		margin-top: 12px;
		border-radius: 2px;
		color: #dce0e0;
		height: 60px;
		margin-top: 5px;
	}
	.customDates {
		font-size: 14px;
		border: 1px solid #e0e3e3 !important;
		height: 38px !important;
		min-width: 37px !important;
		margin-top: 0px !important;
	}
	.daterangepicker th {
		border: none !important;
	}
	.daterangepicker.ltr .calendar.left {
		margin-right: 15px;
	}
	.guest-dropdown {
		width: 90% !important;
		border-color: #fff !important;
	}

	.guest-dropdown-searchListing {
		border:1px solid #AAAAAA !important; border-radius:2px; width:80% !important; height:32px;
	}

	.search-button {
		height: 48px;
		width: 106px;
		border-color: #ff5a5f;
		background-color: #ff5a5f;
		color: #fff;
		font-size: 18px !important;
		line-height: 24px !important;
		padding-top: 11px !important;
		padding-bottom: 11px !important;
		font-weight: normal;
		padding-left: 16px;
		padding-right: 16px;
		width: auto;
		min-width: 106px;
		float: right !important;
		vertical-align: middle !important;
		border-radius: 4px;
	}
	.search-button:hover {
		border-color: #ff7e82;
		background-color: #ff7e82;
		color: #fff;
	}
	.search-button:active, .search-button:focus, .search-button:visited {
		border-color: #ff5a5f;
		background-color: #ff5a5f;
		color: #fff;
	}
	.guest-dropdown>.btn-default {
		border: none !important;
		font-size: 19px !important;
		letter-spacing: -0.5px;
		line-height: 22px !important;
		padding-left: 0;
		border-radius: 0px !important;
	}

	/* enable absolute positioning */
	.inner-addon {
		position: relative;
	}
	.guest-dropdown.open>.dropdown-toggle.btn-default {
		border-bottom: 1px solid #008489 !important;
		background-color: #fff !important;
		box-shadow: none !important;
	}
	.dropdown-menu>li>a {
		border-bottom: 1px solid #e0e3e3;
		padding-bottom: 10px;
		font-size: 19px;
		padding-top: 10px;
		vertical-align: middle;
	}
	.dropdown-menu.open {
		left: -2px;
		margin-top: 6px;
		padding: 0 0 0 0;
		margin-top: 6px;
	}
	.daterangepicker_input {
		display: none;
	}
	.daterangepicker.ltr {
		margin-top: 6px !important;
	}

	/* style glyph */
	.inner-addon .glyphicon {
		position: absolute;
		padding: 10px;
		pointer-events: none;
	}

	/* align glyph */
	.left-addon .glyphicon {
		left: 0px;
	}
	.right-addon .glyphicon {
		right: 0px;
	}

	/* add padding  */
	.left-addon input {
		padding-left: 30px;
	}
	.right-addon input {
		padding-right: 30px;
	}

	/* enable absolute positioning */
	.inner-addon {
		position: relative;
	}

	/* style glyph */
	.inner-addon .fa {
		position: absolute;
		padding: 10px;
		pointer-events: none;
		color: #8D9294;
	}

	/* align glyph */
	.left-addon .fa {
		left: 0px;
	}
	.right-addon .fa {
		right: 0px;
	}

	/* add padding  */
	.left-addon input {
		padding-left: 30px;
	}
	.right-addon input {
		padding-right: 30px;
	}
	#signUpInputProps {
		border: 1px solid #dce0e0;
		margin-top: 12px;
		border-radius: 2px;
		color: #dce0e0;
		height: 40px;
		margin-top: 5px;
	}
	.login-button {
		margin-top: 0px;
		border: 1px solid #ff5a5f;
		width: 82.63px;
		height: 36px;
		background: white;
		color: #ff5a5f;
		border-color: #ff5a5f;
	}
	.login-button:hover {
		cursor: pointer;
		color: #ff5a5f;
		border-color: #ff5a5f;
	}
	.modal {
		overflow-y: hidden !important;
	}
	.modal-md {
		overflow-y: hidden !important;
	}
	.signup-modal-md {
		overflow-y: hidden !important;
	}

	#checkInPlaceholder::-webkit-input-placeholder { /* Chrome */
	  color: grey;
	  font-size:14px;
	  padding-left: 7px;
	}

	#signUpPlaceHolder::-webkit-input-placeholder { /* Chrome */
	  color: grey;
	  font-size:16px;
	  padding-left: 0px;
	}
	#signUpPlaceHolder { /* Chrome */
		margin-top:3px;
	}


	input[type=checkbox]{
	    display: inline-block;
	    width: 15px;
	    height: 15px;
	    padding-left: 40px;
	    margin-left: 10px;
	    padding-top: 5px;
	   /* background-position: 0 0;
	    background-repeat: no-repeat;*/
	    line-height: 32px;
	    cursor: pointer;
	    background: white;
	}



	input[type=checkbox]:checked{
	  background-position: left -15px;
	}

	label{
	 background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_d2a60beb8fb6bbb280642579049ebf65.png);
	 height: 15px;
	 width: 15px;
	 
	}



	.imgHolder {
	    position: relative;
	}

	.imgHolder .leftLabel {
	    position: absolute;
	    left: 5px;
	    top: 170px;
	    border: 0px solid green;
	    background-color: rgba(0, 0, 0, 0.7);
	    padding: 10px;
	}

	.imgHolder .leftLabel .textProp {
	    color: white;
	    font-size: 20px;
	}


}

.main {
	margin-top: 120px !important;
}

.left-column {
	padding-left: 170px !important;
}

.heading {
	font-size: 32px;
	font-weight: normal;
}

.step-text {
	font-size: 14px;
	color: #bbb;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 30px !important;
}

.que_1 {
	font-size: 24px;
	font-weight: normal;
	margin-top: 10px;
}

.dropdown-box {
	height: 38px !important;
	width: 186.5px !important;
	margin-right: 5px;
	margin-top: 15px;
}

.dropdown-box>.dropdown-toggle {
	border-radius: 2px;
	font-size: 16px;
	border: 1px solid #aaa;
	background-color: #fff;
	color: #484848;
}

.search-bar {
	padding-top: 10px;
	margin-top: 3px;
	height: 38px !important;
	width: 380px !important;
	border-radius: 2px;
	font-size: 16px;
	border: 1px solid #aaa !important;
	background-color: #fff;
	color: #484848;
	font-size: 12px;
	border-style: solid;
	font-family: Circular, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.search-bar:focus {
	border: 1px solid #aaa!important; 
}

.continue-button {
	height: 38px;
	width: 112.53px;
	border-color: #00a699;
	background-color: #00a699;
	color: #fff;
	font-size: 16px;
	margin-top: 10px;
	font-weight: bold;
	border-radius: 4px;
}

.continue-button:hover {
	background: #4ddfd4;
	border-top-color: #4ddfd4;
	border-left-color: #4ddfd4;
	border-right-color: #4ddfd4;

}



	/*********************************************************
	*********************************************************/
	body{
	  background:#f3f3f3;
	  margin:0;
	  padding:0;
	  font-family: 'Helvetica', 'Arial', sans-serif;
	}

	h1{
	  font-family: 'Convergence';
	  font-size: 95px;
	  text-align: center;
	  letter-spacing: -6px;
	  margin: 8px 0;
	  text-shadow: 0 0 1px #000;
	}
	h2{
	  font-family:'Bitter';
	  font-size:20px;
	  font-weight:normal;
	  color:;
	  text-shadow: 0 0 1px ;
	  text-align:center;
	  margin: 6px 0;
	  text-transform:lowercase;
	}

	h3{
	  margin:8px 0;
	}

	h4{
	  margin:6px 0;
	}

	a{
	  color: ;
	  text-decoration:none;
	}
	a:hover{
	  text-decoration:underline;
	}

	p.big{
	  font-family:'Droid Sans';
	  font-size:24px;
	  color:;
	}
	p.centered{
	  text-align:center;
	}
	#header, #body{
	  width:800px;
	  margin:0 auto;
	}
	#body{
	  margin:20px auto;
	}

	#header a{
	  color:#000;
	}
	#header a:hover{
	  text-decoration:none;
	}

	.row{
	  margin:24px 0;
	}



	.popin{
	  background:#fff;
	  padding:15px;
	  box-shadow: 0 0 20px #999;
	  border-radius:2px;
	}

	ul.gallery{
	  list-style:none;
	  margin:0;
	  padding:0;
	  width:100%;
	}
	ul.gallery li{
	  font-family:'Droid Sans';
	  display:inline-block;
	  width:30%;
	  background:#fff;
	  padding:10px 8px;
	  margin:4px 1px;
	  border-radius:3px;
	  border:solid 1px #ddd;
	}
	ul.gallery li:hover{
	  background:#f3f3f3;
	}
	ul.gallery li a{
	  display:block;
	}
	ul.gallery li h5{
	  font-weight:normal;
	  margin:0;
	  font-size:16px;
	}

	#map,
	#panorama {
	  height:600px !important;
	  width: 540px !important;
	  background:#6699cc;
	}

	#sponsors {
	  font-size: 12px;
	  text-align: center;
	  padding: 4px 6px;
	}

	#sponsors img {
	  height: 40px;
	  margin: 4px;
	}

	code {
	  font-family: 'Ubuntu Mono', 'Monaco', 'Andale Mono', 'Courier New', monospace;
	  font-weight: bold;
	}
	/*********************************************************
	*********************************************************/